.bmt-li {
    margin-left: -5px;
    margin-right: -5px;
}
 
.table-container {
    margin-left: 20px;
    margin-right: 20px;
}

#data-filter {
    display: flex;
}

#clear-conditions {
    background-color: #58cd05;
    color: #fff;
    width: fit-content;
}

.fit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

th {
    vertical-align: middle !important;
}

.swal .swal2-popup {
    background-color: #0070bd;
}

.swal .swal2-popup .swal2-title {
    color: #fff;
    padding: 0 .75rem;
    font-size: 1.5rem;
}

.swal .swal2-popup .swal2-close {
    color: #fff;
}

.swal .swal2-popup .swal2-content {
    color: #fff;
}

.swal .swal2-popup .swal2-content .content {
    color: #fff;
    text-align: left;
    font-size: 14px;
}

.info-icon {
    margin-left: auto;
    cursor: pointer;
    color: rgb(177, 160, 199);
}