{% extends 'dashboard/base.html' %}
{% load static %}
{% load translate %}

{% block title %}
    {% if blog %}
        {% tr 'Edit - DASHBOARD / POST BLOG' %} - {{ blog.title_en }}
    {% else %}
        {% tr 'Post Blog - DASHBOARD / POST BLOG' %}
    {% endif %}
{% endblock title %}

{% block head %}
    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">                        
                        {% if blog %}
                            <div>
                                <a href="{% url 'dashboard:post-blog' %}"><label class="btn btn-info" type="button"><i class="mdi mdi-plus"></i>{% tr 'Add Blog - DASHBOARD / POST BLOG' %}</label></a>
                                <label class="btn btn-success" for='save' type="submit"><i class="mdi mdi-content-save"></i> {% tr 'Save - DASHBOARD / POST BLOG' %}</label>
                            </div>
                        {% else %}
                            <label class="btn btn-primary" for='post' type="submit"><i class="mdi mdi-send"></i> {% tr 'Post - DASHBOARD / POST BLOG' %}</label>
                        {% endif %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{% tr 'Blog - DASHBOARD / POST BLOG' %}</a></li>
                            <li class="breadcrumb-item active">{% tr 'Post Blog - DASHBOARD / POST BLOG' %}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-2 col-form-label">{% tr 'Blog Title - DASHBOARD / POST BLOG' %}</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="title_en" type="text" placeholder="{% tr 'Example Title - DASHBOARD / POST BLOG' %}" id="example-text-input" value="{{ blog.title_en }}">
                                    <input class="form-control" name="title_tr" type="text" placeholder="{% tr 'Example Title - DASHBOARD / POST BLOG' %}" id="example-text-input" value="{{ blog.title_tr }}" style="display: none;">
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">{% tr 'Select Category - DASHBOARD / POST BLOG' %}</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="category">
                                        {% for category in categories %}
                                            {% if category.id == blog.category.id %}
                                                <option value='{{ category.id }}' selected>{{ category.name }}</option>
                                            {% else %}
                                                <option value='{{ category.id }}'>{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">{% tr 'Status - DASHBOARD / POST BLOG' %}</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="status">
                                        <option value='published'{% if blog.status == 'published' %}selected{% endif %} >{% tr 'Publish - DASHBOARD / POST BLOG' %}</option>
                                        <option value='draft'{% if blog.status == 'draft' %}selected{% endif %} >{% tr 'Draft - DASHBOARD / POST BLOG' %}</option>
                                        <option value='deactivated'{% if blog.status == 'deactivated' %}selected{% endif %} >{% tr 'Deactivate - DASHBOARD / POST BLOG' %}</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">{% tr 'Cover Photo - DASHBOARD / POST BLOG' %}</label>
                                <div class="col-md-10">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="cover_photo" id="customFile">
                                        <label class="custom-file-label" for="customFile">{% if blog.cover_photo %}{{ blog.cover_photo.name }}{% else %}Choose file{% endif %}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">{% tr 'Language - DASHBOARD / POST BLOG' %}</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="language">
                                        <option value='en' selected>{% tr 'English - DASHBOARD / POST BLOG' %}</option>
                                        <option value='tr'>{% tr 'Turkic - DASHBOARD / POST BLOG' %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" name="quick_career_tip" id="quick-career-tip" {% if blog.quick_career_tip %}checked{% endif %}>
                                <label class="custom-control-label" for="quick-career-tip">{% tr 'Quick Career Tip - DASHBOARD / POST BLOG' %}</label>
                            </div>

                            <div id="content-en">
                                <textarea id="editor-en" name="content_en" style="display: none;">{{ blog.content_en }}</textarea>
                            </div>
                            <div id="content-tr" style="display: none;">
                                <textarea id="editor-tr" name="content_tr" style="display: none;">{{ blog.content_tr }}</textarea>
                            </div>

                            </div>

                            {% if blog %}
                                <button style='display: none;' class="btn btn-success" id='save' type="submit">{% tr 'Save - DASHBOARD / POST BLOG' %}</button>
                            {% else %}
                                <button style='display: none;' class="btn btn-primary" id='post' type="submit">{% tr 'Post - DASHBOARD / POST BLOG' %}</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <!-- bs custom file input plugin -->
    <script src="{% static 'dashboard/libs/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>

    <script src="{% static 'dashboard/js/pages/form-element.init.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <!-- Custom js -->
    <script src="{% static 'dashboard/js/ajax/post-blog.js' %}"></script>


    <script src="{% static 'dashboard/libs/ckeditor/ckeditor.js' %}"></script>

    <script>
        CKEDITOR.replace( 'content_en', {
            filebrowserImageUploadUrl: "{% url 'dashboard:upload-editor-image' %}",
            extraPlugins: 'uploadimage',
            height: 200
        });
        CKEDITOR.replace( 'content_tr' );
    </script>

{% endblock script %}