{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    {% if blog %}
        Edit - {{ blog.title|title }}
    {% else %}
        Post Blog
    {% endif %}
{% endblock title %}

{% block head %}
    <!-- Froala css -->
    <link href="{% static 'dashboard/libs/froala/froala_editor.pkgd.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">                        
                        {% if blog %}
                            <div>
                                <a href="{% url 'dashboard:post-blog' %}"><label class="btn btn-info" type="button"><i class="mdi mdi-plus"></i>Add Blog</label></a>
                                <label class="btn btn-success" for='save' type="submit"><i class="mdi mdi-content-save"></i> Save</label>
                            </div>
                        {% else %}
                            <label class="btn btn-primary" for='post' type="submit"><i class="mdi mdi-send"></i> Post</label>
                        {% endif %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Blog</a></li>
                            <li class="breadcrumb-item active">Post Blog</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Blog Title</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="title" type="text" placeholder="Example Title" id="example-text-input" value="{{ blog.title }}">
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Select Category</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="category">
                                        {% for category in categories %}
                                            {% if category.id == blog.category.id %}
                                                <option value='{{ category.id }}' selected>{{ category.name }}</option>
                                            {% else %}
                                                <option value='{{ category.id }}'>{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Status</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="status">
                                        <option value='published'{% if blog.status == 'published' %}selected{% endif %} >Publish</option>
                                        <option value='draft'{% if blog.status == 'draft' %}selected{% endif %} >Draft</option>
                                        <option value='deactivated'{% if blog.status == 'deactivated' %}selected{% endif %} >Deactivate</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Cover Photo</label>
                                <div class="col-md-10">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="cover_photo" id="customFile">
                                        <label class="custom-file-label" for="customFile">{% if blog.cover_photo %}{{ blog.cover_photo.name }}{% else %}Choose file{% endif %}</label>
                                    </div>
                                </div>
                            </div>

                            <textarea id="froala-editor" name="content">{{ blog.content }}</textarea>

                            {% if blog %}
                                <button style='display: none;' class="btn btn-success" id='save' type="submit">Save</button>
                            {% else %}
                                <button style='display: none;' class="btn btn-primary" id='post' type="submit">Post</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <!-- bs custom file input plugin -->
    <script src="{% static 'dashboard/libs/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>

    <script src="{% static 'dashboard/js/pages/form-element.init.js' %}"></script>

    <!-- Froala js -->
    <script type="text/javascript" src="{% static 'dashboard/libs/froala/froala_editor.pkgd.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'dashboard/js/app.js' %}"></script>
    
    <script>
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var editor = new FroalaEditor('#froala-editor', {
            requestWithCredentials: true,
            key: 'e74e3180-2a66-4c1b-9e4f-480cc623552c',

            // Upload Image
            imageUploadURL: "{% url 'dashboard:upload-editor-image' %}",
            imageUploadParams: {
                csrfmiddlewaretoken: csrftoken,
            },

            // Delete Uploaded Image
            events: {
                'image.removed': function ($img) {
                    $.ajax({
                        headers: {"X-CSRFToken": csrftoken},
                        data: {src: $img.attr('src')}, 
                        url: "{% url 'dashboard:delete-editor-image' %}",
                        type: 'POST',

                        // on success
                        success: function (response) {
                            console.log(response.message)
                        },
                        // on error
                        error: function (response) {
                            console.log(response.error)
                        }
                    });
                }
            }
        });
    </script>

{% endblock script %}