{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if debug %} {D} {% endif %} {% block title %}RECRUITMENT{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'cp/css/handsontable.full.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'cp/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'cp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cp/js/handsontable.full.min.js' %}"></script>

    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<input id="csrf-token" type="text" value="{{ csrf_token }}" style="visibility: hidden;">

<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-first">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                CONTROL PANEL
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
                    <li><a href="{% url 'cp:career_type' %}">Control Page</a></li> {# {% url 'cp:cp-index' %} #}
                {% endif %}
                <li><a href="{% url 'main:main-index' %}">Main Page</a></li>
                <li class="disabled"><a href="">Tables</a></li>
                <li class="disabled"><a href="">Matrices</a></li>
                <li class="disabled"><a href="">Rules</a></li>
                <li class="disabled"><a href="">Account</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid navbar-second">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if 'parameters' in request.path %} class="active" {% endif %}><a href="{% url 'cp:career_type' %}">Parameters</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid navbar-third">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-third">
                {% if 'parameters' in request.path %}
                    <li {% if 'career-type' in request.path and 'career-type-and-level' not in request.path %} class="active" {% endif %}><a href="{% url 'cp:career_type' %}">Career Type</a></li>
                    <li {% if 'career-level' in request.path %} class="active" {% endif %}><a href="{% url 'cp:career_level' %}">Career Level</a></li>
                    <li {% if 'career-type-and-level' in request.path %} class="active" {% endif %}><a href="{% url 'cp:career_type_level' %}">Career Type & Level</a></li>
                    <li {% if 'country' in request.path %} class="active" {% endif %}><a href="{% url 'cp:country' %}">Country</a></li>
                    <li {% if 'location' in request.path %} class="active" {% endif %}><a href="{% url 'cp:location' %}">Location</a></li>
                    <li {% if 'fte' in request.path %} class="active" {% endif %}><a href="{% url 'cp:fte' %}">FTE</a></li>
                    <li {% if 'job-catalogue' in request.path %} class="active" {% endif %}><a href="{% url 'cp:job_catalogue' %}">Job Catalogue</a></li>
                    <li {% if 'work-experience' in request.path %} class="active" {% endif %}><a href="{% url 'cp:work_experience' %}">Work Experience</a></li>
                    <li {% if 'employee-type' in request.path %} class="active" {% endif %}><a href="{% url 'cp:employee_type' %}">ET</a></li>
                    <li {% if 'vacancy' in request.path %} class="active" {% endif %}><a href="{% url 'cp:vacancy' %}">Vacancy</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}

{% comment %}
<footer>
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>
{% endcomment %}

{% block scripts %}{% endblock %}

</body>
</html>