{% extends 'cp/base.html' %}
{% load static %}

{% block title %}Language Contents - Control Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'cp/css/tables.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div data-jsfiddle="bmt-level" class="ajax-container">
        <div class="row">
            <div>
                <div class="pull-left" style="width: 40%;">
                    <pre id="bmt-console" class="console">Click "Load" to load data from server</pre>
                </div>
            </div>
            <div class="controls pull-right">
                <div style="margin-top: 5px;">
                    <button id="clear-conditions" class="btn btn-default command-btn"><i class="fa fa-filter" aria-hidden="true"></i></button>
                    <button type="button" name="load" id="load" class="btn btn-primary command-btn">LOAD</button>
                    <button type="button" name="save" id="save" class="btn btn-primary command-btn">SAVE</button>
                    <button type="button" name="add_row" id="add_row" class="btn btn-primary command-btn">ADD ROW</button>
                    <button type="button" name="del_row" id="del_row" class="btn btn-primary command-btn">DEL ROW</button>
                    <button type="button" name="generate" id="generate" class="btn btn-primary command-btn">GENERATE</button>
                    <button type="button" name="export" id="export" class="btn btn-primary command-btn">EXPORT</button>
                    <button type="button" name="import_data" id="import_data" class="btn btn-primary command-btn">IMPORT</button>
                    <button type="button" name="clear" id="clear" class="btn btn-danger command-btn">CLEAR</button>
                </div>
             </div>
        </div>
        <div id="import-data-form-container" style="display: none;">
            <hr>
            <p class="alert alert-info">To get template for import data, please use export for this table...</p>
            <form action="#" method="post" enctype="multipart/form-data"
                  id="import-data-form">
                {% csrf_token %}
                <input id="file_input" type="file" name="csv_file" style="display: inline;">
                <input id="submit_input" type="submit" value="Upload and Import">
            </form>
            <hr>
        </div>
        <br>
    </div>
</div>

<div class="table-container">
    <div id="data-filter">
        <input type="checkbox" name="language" checked style="display: none;">
    </div>

    <div class="caption" id="caption">Contents</div>
    <div id="table"></div>
</div>

<style>
    #add_row, #del_row {
        display: none;
    }
</style>

{% endblock content %}

{% block scripts %}
<script src="{% static 'cp/js/command.js' %}"></script>
<script src="{% static 'cp/js/processes.js' %}"></script>
<script>
    const saveUrl = "{% url 'cp:contents_save' %}";
    const loadUrl = "{% url 'cp:contents_load' %}";
    const bmtTable = document.getElementById('table');
    const consoleText = 'Contents';
    const generate = $$('generate')

    var hot;
    const selectedLanguageCode = document.querySelector("input[name='language']:checked").value.toUpperCase();

    $(document).ready(function() {
        hot = new Handsontable(bmtTable, {
            rowHeaders: true,
            colHeaders: true,
            stretchH: 'all',
            startRows: 1,
            wordWrap: true,
            filters: true,
            data: [{id:''}],
            colWidths: [0, 400, 400, 400, 50],
            height: $(document).height() - 350,
            dropdownMenu:  ['filter_by_value', 'filter_action_bar'],
            licenseKey: 'non-commercial-and-evaluation',

            hiddenColumns: {
                columns: [0],
                indicators: false
            },

            columns: [
                {
                    title: 'id',
                    data: 'id',
                    readOnly: true
                },
                {
                    title: 'Default - EN',
                    data: 'text',
                    readOnly: true
                },
                {
                    title: 'EN',
                    data: 'translation_en'
                },
                {
                    title: 'TR',
                    data: 'translation_tr'
                },
                {
                    title: 'Delete',
                    data: 'delete',
                    type: 'checkbox',
                    className: 'htCenter htMiddle'
                }
            ],
        });

        Handsontable.dom.addEvent(generate, 'click', function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'cp:contents_generate' %}",
                type: 'POST',
                success: () => {
                    loadData();
                }
            })
        });

        loadData();

    })

</script>

{% endblock scripts %}