{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Edit Account{% endblock title %}

{% block head %}
    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Edit Account</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Edit Account</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Maximize Your Experience</h4>
                        <p class="card-title-desc">As you navigate through our platform, we want to emphasize the importance of filling out all the provided fields. Providing detailed information allows us to better understand you and your needs. This, in turn, enables us to offer a more personalized, effective, and efficient experience.</p>
                        <form class="needs-validation" novalidate method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="validationCustom01">First name</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="first_name" placeholder="First name" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please provide a valid first name.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="validationCustom02">Last name</label>
                                        <input type="text" class="form-control" id="validationCustom02" name="last_name" placeholder="Last name" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please provide a valid last name.</div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
                <!-- end card -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'dashboard/libs/parsleyjs/parsley.min.js' %}"></script>

    <script src="{% static 'dashboard/js/pages/form-validation.init.js' %}"></script>

    <script src="{% static 'dashboard/js/app.js' %}"></script>
{% endblock script %}