{% extends 'dashboard/base.html' %}
{% load static %}
{% load site_content %}
{% load translate %}

{% block title %}{% tr 'Edit Account - DASHBOARD / CANDIDATE' %}{% endblock title %}

{% block head %}
    <link href="{% static 'dashboard/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.css' %}" rel="stylesheet" type="text/css" />

    <!-- Custom Css-->
    <link href="{% static 'dashboard/css/edit-account.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
{% get_site_content 'CANDIDATE_COMPLETE_REGISTER' as complete_register %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    {% if 'complete' in request.path %}
                    <h4 class="mb-0">{% tr 'Complete Your Register - DASHBOARD / CANDIDATE' %}</h4>
                    {% else %}
                    <h4 class="mb-0">{% tr 'Edit Account - DASHBOARD / CANDIDATE' %}</h4>
                    {% endif %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{% tr 'Dashboard - DASHBOARD / CANDIDATE' %}</a></li>
                            {% if 'complete' in request.path %}
                            <li class="breadcrumb-item active">{% tr 'Register - DASHBOARD / CANDIDATE' %}</li>
                            {% else %}
                            <li class="breadcrumb-item active">{% tr 'Edit Account - DASHBOARD / CANDIDATE' %}</li>
                            {% endif %}
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% if complete_register and 'complete' in request.path %}
                            <p class="card-title-desc alert alert-danger">{{ complete_register.content }}</p>
                        {% endif %}
                        <form novalidate method="post" enctype="multipart/form-data" class="needs-validation">
                            {% csrf_token %}
                            <div class="text-center">
                                <div class="mb-2 profile-user">
                                <label for="profile-img-file-input">
                                    <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}{% static 'main/images/user/img-02.jpg' %}{% endif %}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="">
                                    <input id="profile-img-file-input" type="file" class="profile-img-file-input" name="profile_photo" accept="image/*" onchange="previewImg(this)">     
                                    <span class="icon-center"><i class="ri-edit-line"></i></span>       
                                    <span class="profile-photo-text">{% tr 'Profile Photo - DASHBOARD / CANDIDATE' %}</span>
                                </label>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="first-name">{% tr 'First Name - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="text" class="form-control" id="first-name" name="first_name" placeholder="{% tr 'First Name - DASHBOARD / CANDIDATE' %}" value="{{ user.first_name }}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last-name">{% tr 'Last Name - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="text" class="form-control" id="last-name" name="last_name" placeholder="{% tr 'Last Name - DASHBOARD / CANDIDATE' %}" value="{{ user.last_name }}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="username">{% tr 'Username - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="{% tr 'Username - DASHBOARD / CANDIDATE' %}" value="{{ user.username }}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">{% tr 'Gender - DASHBOARD / CANDIDATE' %}</label>
                                        <select class="form-control select2" name="gender">
                                            <option value="male" {% if user.candidate.gender == 'male' %}selected{% endif %}>{% tr 'Male - DASHBOARD / CANDIDATE' %}</option>
                                            <option value="female" {% if user.candidate.gender == 'female' %}selected{% endif %}>{% tr 'Female - DASHBOARD / CANDIDATE' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="phone-number">{% tr 'Phone Number - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="tel" class="form-control" id="phone-number" name="phone_number" placeholder="Ex: +994 XX-XXX-XX-XX" value="{% if user.candidate.phone_number %}{{ user.candidate.phone_number }}{% endif %}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">{% tr 'Email - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" value="{{ user.email }}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="citizenship">{% tr 'Citizenship - DASHBOARD / CANDIDATE' %}</label>
                                        <select class="form-control select2" name="citizenship">
                                            {% for citizenship in citizenships %}
                                                {% if citizenship.id == user.candidate.citizenship.id %}
                                                    <option value="{{ citizenship.id }}" selected>{{ citizenship.name }}</option>
                                                {% else %}
                                                    <option value="{{ citizenship.id }}">{{ citizenship.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="birthday">{% tr 'Birthday - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="text" class="form-control" data-provide="datepicker" data-date-format="dd M, yyyy" id="birthday" name="birthday"
                                            placeholder="Your Birthday" value="{% if user.candidate.birthday %}{{ user.candidate.birthday }}{% endif %}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="id-card-number">{% tr 'ID Card Number - DASHBOARD / CANDIDATE' %}</label>
                                        <input type="text" class="form-control" id="id-card-number" name="id_card_number" placeholder="Ex: AZE XXXXXX"
                                            value="{% if user.candidate.id_card_number %}{{ user.candidate.id_card_number }}{% endif %}" required>
                                        <div class="invalid-feedback">{% tr 'This field is required! - DASHBOARD / CANDIDATE' %}</div>
                                    </div>
                                </div>
                            </div>
                            {% if 'complete' in request.path %}
                            <button class="btn btn-primary" type="submit">{% tr 'Complete! - DASHBOARD / CANDIDATE' %}</button>
                            {% else %}
                            <button class="btn btn-primary" type="submit">{% tr 'Save - DASHBOARD / CANDIDATE' %}</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- end card -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'dashboard/libs/parsleyjs/parsley.min.js' %}"></script>

    <script src="{% static 'dashboard/js/pages/form-validation.init.js' %}"></script>

    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <script src="{% static 'dashboard/libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'dashboard/js/pages/edit-account.js' %}"></script>
{% endblock script %}