{% extends 'dashboard/base.html' %}
{% load static %}
{% load translate %}

{% block title %}{% tr 'My Applications - DASHBOARD / MY APPLICATIONS' %}{% endblock title %}

{% block head %}
    <!-- DataTables -->
    <link href="{% static 'dashboard/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'dashboard/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Sweet Alert-->
    <link href="{% static 'dashboard/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="{% static 'dashboard/css/datatables-custom-style.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">{% tr 'My Applications - DASHBOARD / MY APPLICATIONS' %}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{% tr 'Dashboard - DASHBOARD / MY APPLICATIONS' %}</a></li>
                            <li class="breadcrumb-item active">{% tr 'My Applications - DASHBOARD / MY APPLICATIONS' %}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <input type="search" class="form-control form-control-sm" id="customSearch" placeholder="Search" aria-controls="DataTables_Table_0">
                        </div>

                        <h4 class="card-title mb-4">{% tr 'Applications you send to vacancies - DASHBOARD / MY APPLICATIONS' %}</h4>

                        <div class="table-responsive">
                            <table class="table table-centered datatable" data-page-length="10" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>{% tr 'Position Title - DASHBOARD / MY APPLICATIONS' %}</th>
                                        <th>{% tr 'Job Title - DASHBOARD / MY APPLICATIONS' %}</th>
                                        <th>{% tr 'Career Level - DASHBOARD / MY APPLICATIONS' %}</th>
                                        <th>{% tr 'Company Name - DASHBOARD / MY APPLICATIONS' %}</th>
                                        <th>{% tr 'Action - DASHBOARD / MY APPLICATIONS' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for apply in applications %}
                                    <tr>
                                        <td><a href="{% url 'job:vacancy' apply.slug %}" class="text-dark font-weight-bold" target='_blank'>{{ apply.position_title }}</a></td>
                                        <td>{{ apply.job_title }}</td>
                                        <td>{{ apply.career_level }}</td>
                                        <td>{{ apply.company_name }}</td>
                                        <td>
                                            <a href="javascript:void(0);" data-id="{{ apply.id }}" class="text-danger delete-row" data-toggle="tooltip" data-placement="top"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row-->
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'dashboard/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'dashboard/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'dashboard/libs/sweetalert2/sweetalert2.min.js' %}"></script>

    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'dashboard/js/ajax/applications-table.js' %}"></script>

{% endblock script %}