{% extends 'base.html' %}
{% load static %}

{% block title %}Coming Soon{% endblock title %}

{% block head %}
<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- START COMING-SOON -->
    <section class="bg-coming-soon bg-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <div class="mb-4 pb-3">
                            <img src="{% static 'main/images/animat-rocket-color.gif' %}" alt="" height="150" class="mg-fluid">
                            <!-- <img src="assets/images/coming-soon.png" alt="" class="img-fluid"> -->
                        </div>
                        <h1>We're Launching Soon..!!</h1>
                        <p class="text-muted mb-4 pb-3">Start working with Jobcy that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        <div id="countdown" class="d-flex"></div>
                        <form action="#" class="coming-soon-subacribe mt-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control text-dark" placeholder="Enter your email">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END COMING-SOON -->
    
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Coming Soon init Js -->
<script src="{% static 'main/js/pages/coming-soon.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>
{% endblock script %}