{% extends 'base.html' %}
{% load static %}
{% load translate %}

{% block title %}{% tr 'FAQs' %}{% endblock title %}

{% block head %}
<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'FAQS' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">{% tr 'Company' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'FAQs' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START FAQ-PAGE -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <ul class="faq-menu nav nav-fill nav-pills justify-content-center" id="pills-tab" role="tablist">
                        {% for category in categories %}
                            {% if forloop.first %}
                                <li class="nav-item active" role="presentation">
                                    <button class="nav-link active" id="{{category.id}}-tab" data-bs-toggle="pill"
                                        data-bs-target="#category-{{category.id}}-tab" type="button" role="tab" aria-controls="category-{{category.id}}-tab"
                                        aria-selected="true">{{ category.name }}</button>
                                </li>
                            {% else %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="{{category.id}}-tab" data-bs-toggle="pill"
                                        data-bs-target="#category-{{category.id}}-tab" type="button" role="tab" aria-controls="category-{{category.id}}-tab"
                                        aria-selected="false">{{ category.name }}</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
            <div class="row align-items-center mt-5">
                <div class="col-lg-12">
                    <div class="tab-content" id="pills-tabContent">

                        {% for category in categories %}
                        <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="category-{{category.id}}-tab" role="tabpanel" aria-labelledby="{{category.id}}-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="accordion accordion-flush faq-box" id="category{{ category.id }}-one">
                                        {% for faq in faqs.filter %}
                                            {% if faq.category.id == category.id %}
                                                <div class="accordion-item mt-4 border-0">
                                                    <h2 class="accordion-header" id="faq-{{ faq.id }}-cat{{category.id}}">
                                                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#faq-{{ faq.id }}" aria-expanded="true"
                                                            aria-controls="faq-{{ faq.id }}">
                                                            {{ faq.question }}
                                                        </button>
                                                    </h2>
                                                    <div id="faq-{{ faq.id }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                                        aria-labelledby="faq-{{ faq.id }}-cat{{category.id}}" data-bs-parent="#general">
                                                        <div class="accordion-body">
                                                            {{ faq.answer }}
                                                        </div>
                                                    </div>
                                                </div><!--end accordion-item-->
                                            {% endif %}
                                        {% endfor %}

                                    </div><!--end accordion-->
                                </div><!--end col-->

                            </div><!--end row-->
                        </div><!--end general-tab-->
                        {% endfor %}
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div class="text-center mt-5">
                        <a href="{% url 'main:contact' %}" class="btn btn-primary btn-hover mt-2"><i class="uil uil-phone"></i> {% tr 'Contact Us' %}</a>
                        <a href="javascript:void(0)" class="btn btn-warning btn-hover mt-2 ms-md-2"><i class="uil uil-envelope"></i> {% tr 'Email Now' %}</a>
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END FAQ-PAGE -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>
{% endblock script %}