{% extends 'base.html' %}
{% load static %}
{% load site_content %}
{% load translate %}

{% block title %}{% tr 'Home' %}{% endblock title %}

{% block head %}
    <!-- Nouislider Css -->
    <link rel="stylesheet" href="{% static 'main/libs/nouisliderribute/nouislider.min.css' %}">

    <!-- Choise Css -->
    <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="{% static 'main/libs/swiper/swiper-bundle.min.css' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/filters.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/highlights.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/vacancy-box.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/index.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
    {% get_site_content 'HOME' as home %}
    {% get_site_content 'HOW_IT_WORK' as how_it_work %}
    {% get_site_content 'QUICK_CAREER_TIPS' as quick_career_tips_content %}

    <div class="page-content">

        <!-- START HOME -->
        <section class="bg-home" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center text-white mb-5">
                            <h1 class="display-5 fw-semibold mb-3">{{ home.title }}</h1>
                            <p class="fs-17">{{ home.content }}</p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            
                {% if trending_keywords %}
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="treding-keywords list-inline mb-0 text-white-50 mt-4 mt-lg-3 text-center">
                            <li class="list-inline-item text-white"><i class="mdi mdi-tag-multiple-outline text-warning fs-18"></i> {% tr 'Trending Keywords' %}:</li>
                            {% for keyword in trending_keywords %}
                            <li class="list-inline-item"><a href="/?keyword={{ keyword.id }}#job-list">{{ keyword.name }}{% if not forloop.last %},{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                {% endif %}
            </div>
            <!--end container-->
        </section>
        <!-- End Home -->

        <!-- START SHAPE -->
        <div class="position-relative">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
                    <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                        <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
                    </g>
                    <defs>
                        <mask id="SvgjsMask1004">
                            <rect width="1440" height="250" fill="#ffffff"></rect>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->

        <!-- START JOB-LIST -->
        {% include 'job/partials/vacancies-section.html' %}
        <!-- END JOB-LIST -->

        <!--START FEATURED-->
        <section class="section bg-light featured-setion">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <h4 class="title">{% tr 'FEATURED VACANCIES' %}</h4>
                        <div class="swiper-wrapper">
                            {% for featured in featured_slider %}
                                <div class="swiper-slide">
                                    {% for vacancy in featured %}
                                        <div class="card">
                                            <div class="card-img">
                                                {% if vacancy.employer.user.profile_photo %}
                                                <a href="{% url 'user:company' vacancy.employer.user %}"><img src="{{ vacancy.employer.user.profile_photo.url }}" alt="{{ vacancy.employer.user.first_name }}" class="img-fluid rounded-3"></a>
                                                {% else %}
                                                    <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" class="img-fluid rounded-3">
                                                {% endif %}
                                            </div>
                                            <div class="card-content mb-2">
                                                <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a></h5>
                                                <p class="fs-14 mb-0">{{ vacancy.employer.user.first_name }}</p>
                                                <p class="text-muted fs-14 mb-0">{{ vacancy.location_name }}</p>
                                                <small class="text-muted fw-normal mb-0">({{ vacancy.work_experience_name }})</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--END FEATURED-->

        <!--START TODAY-->
        <section class="section bg-light today-section">
            <div class="container">
                <h4 class="title">{% tr 'TODAY RELEASES' %}</h4>
                <div class="row justify-content-center">
                    {% for vacancy in today_releases %}
                        <div class="card">
                            <div class="card-top">
                                <div class="card-img">
                                    {% if vacancy.employer.user.profile_photo %}
                                    <a href="{% url 'user:company' vacancy.employer.user %}"><img src="{{ vacancy.employer.user.profile_photo.url }}" alt="{{ vacancy.employer.user.first_name }}" class="img-fluid rounded-3"></a>
                                    {% else %}
                                        <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" class="img-fluid rounded-3">
                                    {% endif %}
                                </div>
                                <div class="card-content">
                                    <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a></h5>
                                    <p class="fs-14 mb-0">{{ vacancy.employer.user.first_name }}</p>
                                    <p class="text-muted fs-14 mb-0">{{ vacancy.location_name }} - {{ vacancy.career_type_name }}</p>
                                    <small class="text-muted fw-normal">({{ vacancy.work_experience_name }})</small>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>{{ vacancy.fte_name }}</p>
                                <p>{% tr 'Today' %}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--END TODAY-->

        <!-- START PROCESS -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="hiw-mobile">
                        <h3 class="title">{{ how_it_work.title }}</h3>
                        <p class="text-muted">{{ how_it_work.content }}</p>
                    </div>
                    <div id="how-it-work-content" class="col-lg-6">
                        <div class="section-title me-5">
                            <div class="hiw-desktop">
                                <h3 class="title">{{ how_it_work.title }}</h3>
                                <p class="text-muted">{{ how_it_work.content }}</p>
                            </div>
                            <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                {% for obj in how_it_works %}
                                <a class="nav-link {% if forloop.first %}active{% endif %}" id="v-pills-{{ obj.id }}-tab" data-bs-toggle="pill" href="#v-pills-{{ obj.id }}" role="tab" aria-controls="v-pills-{{ obj.id }}" aria-selected="true">
                                    <div class="d-flex">
                                        <div class="number flex-shrink-0">{{ forloop.counter }}</div>
                                        <div class="flex-grow-1 text-start ms-3">
                                            <h5 class="fs-18">{{ obj.title }}</h5>
                                            <p class="text-muted mb-0">{{ obj.description }}</p>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!--end col-->
                    <div id="how-it-work-image" class="col-lg-6">
                        <div class="tab-content" id="v-pills-tabContent">
                            {% for obj in how_it_works %}
                            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="v-pills-{{ obj.id }}" role="tabpanel" aria-labelledby="v-pills-{{ obj.id }}-tab">
                                <img src="{{ obj.image.url }}" alt="{{ obj.title }}" class="img-fluid">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!--end row-->
            </div><!--end container-->
        </section>
        <!-- END PROCESS -->

        {% if quick_career_tips %}
        <!-- START BLOG -->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-5">
                            <h3 class="title mb-3">{{ quick_career_tips_content.title }}</h3>
                            <p class="text-muted">{{ quick_career_tips_content.content }}</p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="row">
                    {% for blog in quick_career_tips %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box card p-2 mt-3">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="{% if blog.cover_photo %} {{ blog.cover_photo.url }} {% else %} {% static 'main/images/blog/img-05.jpg' %} {% endif %}" alt="{{ blog.title }}" style="height: 200px; width: 100%;" class="img-fluid">
                                <div class="bg-overlay"></div>
                                <div class="author">
                                    <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> {{ blog.created_date|date:"M d, Y" }}</p>
                                </div>
                                <div class="likes">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi mdi-thumb-up me-1"></i> {{ blog.likes.count }}</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-comment-outline me-1"></i> {{ blog.comments.count }}</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-eye me-1"></i> {{ blog.views }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'blog:detail' blog.slug %}" class="primary-link"> <h5 class="fs-17">{{ blog.title }}</h5>
                                </a>
                                <a href="{% url 'blog:detail' blog.slug %}" class="form-text text-primary">{% tr 'Read more' %} <i class="mdi mdi-chevron-right align-middle"></i></a>
                            </div>
                        </div><!--end blog-box-->
                    </div><!--end col-->
                    {% endfor %}
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END BLOG -->
        {% endif %}

        <!-- START CLIENT -->
        {% if company_slider %}
        <div class="py-4">
            <div class="container">
                <div class="row">
                    {% for slider in company_slider %}
                        <div class="col-lg-2">
                            <div class="text-center p-3">
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ slider.user.first_name }}" data-bs-original-title="{{ slider.user.first_name }}">
                                    <img src="{{ slider.user.profile_photo.url }}" alt="{{ slider.user.first_name }}" class="company-slider">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        {% endif %}
        <!-- END CLIENT -->

    </div>
    <!-- End Page-content -->

{% endblock %}

{% block script %}
<!-- Nouislider Js -->
<script src="{% static 'main/libs/nouisliderribute/nouislider.min.js' %}"></script>

<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'main/libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>
<script src="{% static 'main/js/pages/index.init.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'main/js/ajax/vacancies-filters.js' %}"></script>
<script src="{% static 'main/js/ajax/vacancy-actions.js' %}"></script>
<script src="{% static 'main/js/pages/highlights.js' %}"></script>

{% endblock script %}