{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <!-- Nouislider Css -->
    <link rel="stylesheet" href="{% static 'main/libs/nouisliderribute/nouislider.min.css' %}">

    <!-- Choise Css -->
    <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="{% static 'main/libs/swiper/swiper-bundle.min.css' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/filters.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/highlights.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}

    <div class="page-content">

        <!-- START HOME -->
        <section class="bg-home" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center text-white mb-5">
                            <h1 class="display-5 fw-semibold mb-3">Search Between More Then <span class="text-warning fw-bold">10,000+</span>
                                Open Jobs.</h1>
                            <p class="fs-17">Find jobs, create trackable resumes and enrich your applications.</p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="treding-keywords list-inline mb-0 text-white-50 mt-4 mt-lg-3 text-center">
                            <li class="list-inline-item text-white"><i class="mdi mdi-tag-multiple-outline text-warning fs-18"></i> Trending Keywords:</li>
                            <li class="list-inline-item"><a href="javascript:void(0)">Design,</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)">Development,</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)">Manager,</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)">Senior</a></li>
                        </ul>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- End Home -->

        <!-- START SHAPE -->
        <div class="position-relative">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
                    <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                        <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
                    </g>
                    <defs>
                        <mask id="SvgjsMask1004">
                            <rect width="1440" height="250" fill="#ffffff"></rect>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->

        <!-- START JOB-LIST -->
        {% include 'job/partials/vacancies-section.html' %}
        <!-- END JOB-LIST -->

        <!--START FEATURED-->
        <section class="section bg-light featured-setion">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <h4 class="title">FEATURED VACANCIES</h4>
                        <div class="swiper-wrapper">
                            {% for featured in featured_slider %}
                                <div class="swiper-slide">
                                    {% for vacancy in featured %}
                                        <div class="card">
                                            <div class="card-img">
                                                {% if vacancy.employer.user.profile_photo %}
                                                <a href="{% url 'user:company' vacancy.employer.user %}"><img src="{{ vacancy.employer.user.profile_photo.url }}" alt="{{ vacancy.employer.user.first_name }}" class="img-fluid rounded-3"></a>
                                                {% else %}
                                                    <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" class="img-fluid rounded-3">
                                                {% endif %}
                                            </div>
                                            <div class="card-content">
                                                <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a> <small class="text-muted fw-normal">({{ vacancy.work_experience.name }})</small></h5>
                                                <p class="fs-14 mb-0">{{ vacancy.employer.user.first_name }}</p>
                                                <p class="text-muted fs-14 mb-0">{{ vacancy.location.name }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--END FEATURED-->

        <!--START TODAY-->
        <section class="section bg-light today-section">
            <div class="container">
                <h4 class="title">TODAY RELEASES</h4>
                <div class="row justify-content-center">
                    {% for vacancy in today_releases %}
                        <div class="card">
                            <div class="card-top">
                                <div class="card-img">
                                    {% if vacancy.employer.user.profile_photo %}
                                    <a href="{% url 'user:company' vacancy.employer.user %}"><img src="{{ vacancy.employer.user.profile_photo.url }}" alt="{{ vacancy.employer.user.first_name }}" class="img-fluid rounded-3"></a>
                                    {% else %}
                                        <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" class="img-fluid rounded-3">
                                    {% endif %}
                                </div>
                                <div class="card-content">
                                    <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a> <small class="text-muted fw-normal">({{ vacancy.work_experience.name }})</small></h5>
                                    <p class="fs-14 mb-0">{{ vacancy.employer.user.first_name }}</p>
                                    <p class="text-muted fs-14 mb-0">{{ vacancy.location.name }} - {{ vacancy.career_type.name }}</p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>{{ vacancy.fte.name }}</p>
                                <p>Today</p>
                            </div>
                        </div>
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--END TODAY-->

        <!-- START PROCESS -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title me-5">
                            <h3 class="title">How It Work</h3>
                            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with the
                                right freelancers.</p>
                            <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    <div class="d-flex">
                                        <div class="number flex-shrink-0">
                                            1
                                        </div>
                                        <div class="flex-grow-1 text-start ms-3">
                                            <h5 class="fs-18">Register an account</h5>
                                            <p class="text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability
                                                is of great importance.</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                    <div class="d-flex">
                                        <div class="number flex-shrink-0">
                                            2
                                        </div>
                                        <div class="flex-grow-1 text-start ms-3">
                                            <h5 class="fs-18">Find your job</h5>
                                            <p class="text-muted mb-0">There are many variations of passages of avaibookmark-label, but the majority
                                                alteration in some form.</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                    <div class=" d-flex">
                                        <div class="number flex-shrink-0">
                                            3
                                        </div>
                                        <div class="flex-grow-1 text-start ms-3">
                                            <h5 class="fs-18">Apply for job</h5>
                                            <p class="text-muted mb-0">It is a long established fact that a reader will be distracted by the
                                                readable content of a page.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-6">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <img src="{% static 'main/images/process-01.png' %}" alt="" class="img-fluid">
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <img src="{% static 'main/images/process-02.png' %}" alt="" class="img-fluid">
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <img src="{% static 'main/images/process-03.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div> <!--end row-->
            </div><!--end container-->
        </section>
        <!-- END PROCESS -->

        <!--START CTA-->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center">
                            <h2 class="text-primary mb-4">Browse Our <span class="text-warning fw-bold">5,000+</span> Latest
                                Jobs</h2>
                            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with
                                the right freelancers.</p>
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary btn-hover">Started Now <i class="uil uil-rocket align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--END CTA-->

        {% if quick_career_tips %}
        <!-- START BLOG -->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-5">
                            <h3 class="title mb-3">Quick Career Tips</h3>
                            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with the
                                right freelancers.</p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="row">
                    {% for blog in quick_career_tips %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box card p-2 mt-3">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="{% if blog.cover_photo %} {{ blog.cover_photo.url }} {% else %} {% static 'main/images/blog/img-05.jpg' %} {% endif %}" alt="{{ blog.title }}" style="height: 200px; width: 100%;" class="img-fluid">
                                <div class="bg-overlay"></div>
                                <div class="author">
                                    <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> {{ blog.created_date|date:"M d, Y" }}</p>
                                </div>
                                <div class="likes">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-eye me-1"></i> {{ blog.views }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'blog:detail' blog.slug %}" class="primary-link"> <h5 class="fs-17">{{ blog.title }}</h5>
                                </a>
                                <a href="{% url 'blog:detail' blog.slug %}" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                            </div>
                        </div><!--end blog-box-->
                    </div><!--end col-->
                    {% endfor %}
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END BLOG -->
        {% endif %}

        <!-- START CLIENT -->
        {% if company_slider %}
        <div class="py-4">
            <div class="container">
                <div class="row">
                    {% for slider in company_slider %}
                        <div class="col-lg-2">
                            <div class="text-center p-3">
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ slider.user.first_name }}" data-bs-original-title="{{ slider.user.first_name }}">
                                    <img src="{{ slider.user.profile_photo.url }}" alt="{{ slider.user.first_name }}" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        {% endif %}
        <!-- END CLIENT -->

    </div>
    <!-- End Page-content -->

{% endblock %}

{% block script %}
<!-- Nouislider Js -->
<script src="{% static 'main/libs/nouisliderribute/nouislider.min.js' %}"></script>

<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'main/libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Job-list Init Js -->
<script src="{% static 'main/js/pages/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>
<script src="{% static 'main/js/pages/index.init.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'main/js/ajax/vacancies-filters.js' %}"></script>
<script src="{% static 'main/js/ajax/vacancy-actions.js' %}"></script>
<script src="{% static 'main/js/pages/highlights.js' %}"></script>

{% endblock script %}