{% extends 'base.html' %}
{% load static %}
{% load translate %}

{% block title %}{% tr 'Notifications' %}{% endblock title %}

{% block head %}
    <!-- Choise Css -->
    <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

    <!-- Flatpickr Css -->
    <link rel="stylesheet" href="{% static 'main/libs/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/libs/flatpickr/dark.css' %}" id="flatpickr-dark">

    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/notifications.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Notifications' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">{% tr 'Profile' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Notifications' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START MANAGE-JOBS -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="mb-4 mb-lg-0">
                        <h6 class="mb-0"> {% tr 'My Notifications' %} </h6>
                    </div>
                </div><!--end col-->
                <div class="col-lg-8">
                    <div class="candidate-list-widgets">
                        <div class="row">
                            <div class="col-lg-6 mb-2 d-flex justify-content-end">
                                <button type="button" class="btn btn-primary me-2 d-none" id="select-all-btn"><i class="uil uil-check-square"></i> {% tr 'Select All' %}</button>
                                <button type="button" class="btn btn-primary" id="clear-all-btn"><i class="uil uil-trash-alt"></i> {% tr 'Clear All' %}</button>
                            </div>
                            <div class="col-lg-3">
                                <div class="selection-widget">
                                    <select class="form-select" data-trigger name="choices-single-filter-orderby" id="choices-single-filter-orderby">
                                        <option value="df">{% tr 'Default' %}</option>
                                        <option value="ne">{% tr 'Newest' %}</option>
                                        <option value="od">{% tr 'Oldest' %}</option>
                                        <option value="rd">{% tr 'Random' %}</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-3">
                                <div class="selection-widget mt-2 mt-lg-0">
                                    <select class="form-select" data-trigger name="choices-candidate-page" id="choices-candidate-page">
                                        <option value="df">{% tr 'All' %}</option>
                                        <option value="ne">{% tr 'Last 2 Month' %}</option>
                                        <option value="ne">{% tr 'Last 6 Month' %}</option>
                                        <option value="ne">{% tr 'Last 12 Month' %}</option>
                                        <option value="ne">{% tr 'Last 2 Year' %}</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end candidate-list-widgets-->
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-lg-12">
                    {% for notification in notifications %}
                    <div id="notification-{{ notification.id }}" class="job-box card mt-4 notification" data-id="{{ notification.id }}">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-1 user-profile-photo">
                                    {% if notification.profile_photo %}
                                    <a href="#"><img src="{{ notification.profile_photo }}" alt="{{ notification.full_name }}" class="img-fluid rounded-3" style="width: 55px; height: 55px;"></a>
                                    {% else %}
                                    <a href="#"><img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ notification.full_name }}" class="img-fluid rounded-3" style="width: 55px; height: 55px;"></a>
                                    {% endif %}
                                </div><!--end col-->
                                <div class="col-lg-7 user-profile-content">
                                    <div class="mt-3 mt-lg-0">
                                        <h5 class="fs-17 mb-1"><a href="#" class="{% if notification.related_data %}text-dark{% else %}text-muted{% endif %}">{{ notification.title }}</a></h5>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <p class="text-muted fs-14 mb-0">{{ notification.content }}</p>
                                                <p class="text-muted mb-0 fs-12"><i class="mdi mdi-clock-outline"></i> <span>{{ notification.timestamp }}</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4">
                                    <ul class="list-inline mt-1 mb-0 d-flex justify-content-end">
                                        <li class="list-inline-item d-none align-items-center me-5 notification-delete" data-bs-toggle="tooltip" data-bs-placement="top" title="{% tr 'Select to delete' %}">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="delete-notification-{{ notification.id }}">
                                                <label class="form-check-label" for="delete-notification-{{ notification.id }}">{% tr 'Delete' %}</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="{% tr 'Delete' %}">
                                            <a href="javascript:void(0)" class="avatar-sm bg-soft-danger d-inline-block text-center rounded-circle fs-18" onclick="deleteRequest('{{ notification.id }}')">
                                                <i class="uil uil-trash-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--end row-->
                        </div>
                    </div><!--end job-box-->
                    {% endfor %}
                </div><!--end col-->    
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                            {% if notifications.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ notifications.previous_page_number }}{{ url }}" tabindex="-1">
                                        <i class="mdi mdi-chevron-double-left fs-15"></i>
                                    </a>
                                </li>

                                {% if notifications.number > 3 %}
                                    <li class="page-item {% if notifications.number == 1 %}active{% endif %}">
                                        <a class="page-link" href="?page={{ 1 }}{{ url }}">{{ 1 }}</a>
                                    </li>
                                    {% if notifications.number > 4 %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">...</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% for num in notifications.paginator.page_range %}
                                {% if notifications.number == num %}
                                    <li class="page-item {% if notifications.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% elif num > notifications.number|add:'-3' and num < notifications.number|add:'3' %}
                                    <li class="page-item {% if notifications.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if notifications.has_next %}
                                {% if notifications.number < notifications.paginator.num_pages|add:'-3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>

                                    <li class="page-item {% if notifications.number == notifications.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ notifications.paginator.num_pages }}{{ url }}">{{ notifications.paginator.num_pages }}</a>
                                    </li>
                                {% elif notifications.number < notifications.paginator.num_pages|add:'-2' %}
                                    <li class="page-item {% if notifications.number == notifications.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ notifications.paginator.num_pages }}{{ url }}">{{ notifications.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link" href="?page={{ notifications.next_page_number }}{{ url }}">
                                        <i class="mdi mdi-chevron-double-right fs-15"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div><!-- end row -->
        </div><!--end container-->
    </section>
    <!-- END MANAGE-JOBS -->

    <!-- DELETE Modal -->
    <div class="modal fade" id="deleteNotificationModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{% tr 'Delete Notification ?' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h6 class="text-danger"><i class="uil uil-exclamation-triangle"></i> {% tr 'Warning: Are you sure you want to delete notification ?' %}</h6>
                        <p class="text-muted">{% tr 'Your notification will be permanently deleted and you will not be able to retrieve it.' %}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">{% tr 'Cancel' %}</button>
                    <button type="button" class="btn btn-danger btn-sm" id="delete-notification-btn">{% tr 'Yes, delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE MODAL -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- Flatpickr Js -->
<script src="{% static 'main/libs/flatpickr/flatpickr.min.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'main/js/ajax/notifications.js' %}"></script>
{% endblock script %}