{% extends 'base.html' %}
{% load static %}
{% load translate %}

{% block title %}{{ service.title }}{% endblock title %}

{% block head %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Swiper Css -->
<link rel="stylesheet" href="{% static 'main/libs/swiper/swiper-bundle.min.css' %}">

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Service Detail' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'main:services' %}">{% tr 'Services' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Service Detail' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START BLOG-DETAILS -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h3>{{ service.title }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <div class="mt-4">
                            {{ service.description|safe }}
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-4 col-md-5">
                    <div class="sidebar ms-lg-4 ps-lg-4 mt-5 mt-lg-0">
                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">{% tr 'Services' %}</h6>
                            </div>
                            <ul class="widget-popular-post list-unstyled my-4">
                                {% for obj in services %}
                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                    {% if obj.icon %}
                                    <img src="{{ obj.icon.url }}" alt="{{ obj.title }}" width="32" height="32"/>
                                    {% endif %}
                                    <div class="flex-grow-1 text-truncate ms-3">
                                        <a href="{% url 'main:service-detail' obj.slug %}" class="text-dark">{{ obj.title }}</a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div><!--end Polular Post-->
                    </div>
                    <!--end sidebar-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- START BLOG-DETAILS -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>
{% endblock script %}