{% extends 'base.html' %}
{% load static %}
{% load site_content %}
{% load translate %}

{% block title %}{% tr 'Team' %}{% endblock title %}

{% block head %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
{% endblock head %}

{% block content %}
{% get_site_content 'TEAM' as team_content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Team' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">{% tr 'Company' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Team' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START TEAM-PAGE --> 
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h3 class="title mb-3">{{ team_content.title }}</h3>
                        <p class="text-muted">{{ team_content.content }}</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                {% for obj in team %}
                <div class="col-lg-4 col-md-6">
                    <div class="team-box card border-0 mt-4">
                        <div class="team-img position-relative mx-auto">
                            <img src="{{ obj.image.url }}" alt="{{ obj.full_name }}" class="img-thumbnail">
                            <ul class="team-social list-unstyled">
                                {% if obj.facebook_url %}
                                <li><a href="{{ obj.facebook_url }}" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
                                {% endif %}
                                {% if obj.linkedin_url %}
                                <li class="my-1"><a href="{{ obj.linkedin_url }}" target="_blank"><i class="mdi mdi-linkedin"></i></a> </li>
                                {% endif %}
                                {% if obj.website_url %}
                                <li><a href="{{ obj.website_url }}" target="_blank"><i class="mdi mdi-web"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="team-content card-body text-center">
                            <a href="javascript:void(0)" class="primary-link"><h6 class="fs-17 mb-1">{{ obj.full_name }}</h6></a>
                            <p class="mb-0">{{ obj.profession }}</p>
                            <p class="text-muted mb-0">{{ obj.about|truncatechars:500 }}</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                {% endfor %}
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- START TEAM-PAGE -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>
{% endblock script %}