<div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-5">
                <div class="text-center mb-4">
                    <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                </div>
                <div class="position-absolute end-0 top-0 p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="mb-3">
                    <label for="apply-message" class="form-label">Message</label>
                    <textarea class="form-control" id="apply-message" rows="4" placeholder="Enter your message"></textarea>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="apply-cv">Resume Upload - PDF</label>
                    <input type="file" class="form-control" id="apply-cv" accept="application/pdf">
                </div>
                <button type="submit" id="send-application" class="btn btn-primary w-100">Send Application</button>
            </div>
        </div>
    </div>
</div>