{% load static %}
{% load actions %}
{% load translate %}

{% for vacancy in vacancies %}
    <div id="vacancy-{{ vacancy.id }}" class="job-box card mt-5 {% bookmarks request vacancy.id %}">
        <div class="p-4">
            <div class="row">
                <div class="col-lg-1 company-logo">
                    {% if vacancy.employer.user.profile_photo %}
                    <a href="{% url 'user:company' vacancy.employer_username %}"><img src="{{ vacancy.employer.user.profile_photo.url }}" alt="{{ vacancy.company_name }}" class="img-fluid rounded-3"></a>
                    {% else %}
                    <a href="{% url 'user:company' vacancy.employer_username %}"><img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ vacancy.company_name }}" class="img-fluid rounded-3"></a>
                    {% endif %}
                </div><!--end col-->
                <div class="col-lg-10 vacancy-content">
                    <div class="mt-lg-0">
                        <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a></h5>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <p class="text-muted fs-14 mb-0">{{ vacancy.company_name }}</p>
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12 mt-2">
                    <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{ vacancy.location_name }}</p>
                    <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> {{ vacancy.salary_minimum }} ₼ - {{ vacancy.salary_maximum }} ₼ / month</p>
                    <small class="text-muted fw-normal mb-0">({{ vacancy.work_experience_name }})</small>
                    <div class="mt-2">
                        <span class="badge bg-soft-success mt-1">{% tr 'Full Time' %}</span>
                        <span class="badge bg-soft-warning mt-1">{% tr 'Urgent' %}</span>
                        <span class="badge bg-soft-info mt-1">{% tr 'Private' %}</span>
                    </div>
                </div>
            </div><!--end row-->
            <div class="favorite-icon" style="cursor: pointer;" onclick="addBookmark('{{ vacancy.id }}')">
                <a href="javascript:void(0);"><i class="uil uil-heart-alt fs-18"></i></a>
            </div>
        </div>
        <div class="p-3 bg-light">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    {% if vacancy.keywords %}
                    <div>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><i class="uil uil-tag"></i> {% tr 'Keywords' %} :</li>
                            {% for key in vacancy.keywords %}
                            <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted" onclick="filterByKeyword('{{ key }}')">{{ keywords|get_item:key }}{% if not forloop.last %},{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <!--end col-->
                <div class="col-md-3">
                    <div class="text-md-end">
                        {% applications request vacancy.id as apply %}
                        {% if not apply %}
                        <a href="javascript:void(0);" id="apply-now-{{ vacancy.id }}" class="primary-link" onclick="apply('{{ vacancy.id }}')">{% tr 'Apply Now' %} <i class="mdi mdi-chevron-double-right"></i></a>
                        {% else %}
                        <a href="javascript:void(0);" id="delete-apply-{{ vacancy.id }}" class="primary-link" onclick="apply('{{ vacancy.id }}')">{% tr 'Delete Apply' %} <i class="mdi mdi-chevron-double-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        
        <!-- notification data -->
        <input type="hidden" id="target-user-{{ vacancy.id }}" value="{{ vacancy.employer.user.id }}">
    </div>
{% endfor %}