{% load static %}
{% load bookmarks %}

<link href="{% static 'main/css/vacancy-box.css' %}" rel="stylesheet" type="text/css" />

{% for vacancy in vacancies %}
    <div id="vacancy-{{ vacancy.id }}" class="job-box card mt-5 {% bookmarks request vacancy.id %}">
        <div class="p-4">
            <div class="row">
                <div class="col-lg-1">
                    <a href="{% url 'user:company' vacancy.employer_username %}"><img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ vacancy.company_name }}" class="img-fluid rounded-3" ></a>
                </div><!--end col-->
                <div class="col-lg-10">
                    <div class="mt-3 mt-lg-0">
                        <h5 class="fs-17 mb-1"><a href="{% url 'job:vacancy' vacancy.slug %}" class="text-dark">{{ vacancy.position_title }}</a> <small class="text-muted fw-normal">({{ vacancy.work_experience_name }})</small></h5>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <p class="text-muted fs-14 mb-0">{{ vacancy.company_name }}</p>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{ vacancy.location_name }}</p>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> {{ vacancy.salary_minimum }} ₼ - {{ vacancy.salary_maximum }} ₼ / month</p>
                            </li>
                        </ul>
                        <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">Full Time</span>
                            <span class="badge bg-soft-warning mt-1">Urgent</span>
                            <span class="badge bg-soft-info mt-1">Private</span>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="favorite-icon" style="cursor: pointer;" onclick="addBookmark('{{ vacancy.id }}')">
                <a href="javascript:void(0);"><i class="uil uil-heart-alt fs-18"></i></a>
            </div>
        </div>
        <div class="p-3 bg-light">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    {% if vacancy.keywords %}
                    <div>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><i class="uil uil-tag"></i> Keywords :</li>
                            {% for keyword in keywords %}
                            {% if keyword.id|slugify in vacancy.keywords %}
                            <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">{{keyword.name}}{% if not keyword.id|slugify == vacancy.keywords|last %},{% endif %}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <!--end col-->
                <div class="col-md-3">
                    <div class="text-md-end">
                        <a href="#applyNow" data-bs-toggle="modal" class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
    </div>
{% endfor %}