{% load static %}
<section id="job-list" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab" role="tablist">
                {% for sector in sectors %}
                    <li class="sectors nav-item" role="presentation">
                        <button class="sectors-btn nav-link" id="sector{{ sector.id }}-tab" 
                            data-bs-target="#sector{{ sector.id }}" type="button" role="tab" aria-controls="sector{{ sector.id }}"
                            aria-selected="false">{{ sector.name }}</button> <!--data-bs-toggle="pill"-->
                    </li>
                {% endfor %}
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div id="row-container" class="row">

            <!-- START LEFT SIDE-BAR -->
            <div class="col-lg-3">
                <div class="side-bar mt-5 mt-lg-0">
                    <div class="accordion" id="accordionLeft">

                        <div class="accordion-item">
                        <h2 class="accordion-header" id="preferenceOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#preference" aria-expanded="true" aria-controls="preference">
                                Work Preference
                            </button>
                        </h2>
                        <div id="preference" class="accordion-collapse collapse show" aria-labelledby="preferenceOne">
                            <div class="accordion-body">
                                <div class="side-title">
                                    {% for preference in work_preferences %}
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="checkbox" value="{{ preference.name }}" id="flexCheckChecked-preference{{ preference.id }}" />
                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked-preference{{ preference.id }}">{{ preference.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        </div><!-- end accordion-item -->

                        <div class="accordion-item mt-3">
                            <h2 class="accordion-header" id="departmentOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#department" aria-expanded="true" aria-controls="department">
                                Department
                            </button>
                            </h2>
                            <div id="department" class="accordion-collapse collapse show" aria-labelledby="departmentOne">
                                <div class="accordion-body">
                                    <div class="side-title">
                                        <form class="position-relative mb-2">
                                            <input class="form-control" type="search" placeholder="Search...">
                                            <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                        </form>

                                        <div class="mb-3" style="max-height: 250px; overflow: auto;">
                                            {% for department in departments %}
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="checkbox" value="{{ department.name }}" id="flexCheckChecked-department{{ department.id }}" />
                                                    <label class="form-check-label ms-2 text-muted" for="flexCheckChecked-department{{ department.id }}">{{ department.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end accordion-item -->
                
                    </div><!--end accordion-->
                    
                </div><!--end side-bar-->
            </div>
            <!-- END LEFT SIDE-BAR -->

            <div class="col-lg-6" >
                <div> <!-- class="me-lg-5" -->
                    <div class="job-list-header">
                        <form action="#">
                            <div class="row g-2">
                                <div class="col-lg-4 col-md-6">
                                    <div class="filler-job-form">
                                        <i class="uil uil-location-point"></i>
                                        <select class="form-select" data-trigger name="location" id="location">
                                            <option value="">Location</option>
                                            {% for location in locations %}
                                                <option value="{{ location.name }}">{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4 col-md-6">
                                    <div class="filler-job-form">
                                        <i class="uil uil-clipboard-notes"></i>
                                        <select class="form-select " data-trigger name="job_family" id="job-family">
                                            <option value="">Job Family</option>
                                            {% for family in job_family %}
                                                <option value="{{ family.name }}">{{ family.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4 col-md-6">
                                    <a href="javascript:void(0)" class="btn btn-primary w-100"><i class="uil uil-filter"></i> Filter</a>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form>
                    </div><!--end job-list-header-->
                    <div class="wedget-popular-title mt-4">
                        <div class="row justify-content-center">
                            <!-- <h6>Popular</h6> -->
                            <ul class="list-inline">
                                {% for popular in popular_job_titles %}
                                <li class="list-inline-item" style="width: calc(50% - 1rem);">
                                    <div class="popular-box d-flex align-items-center"  style="height: 50px;">
                                        <div class="number flex-shrink-0 me-2">{{ popular.count }}</div>
                                        <a href="javascript:void(0)" class="primary-link stretched-link trending {% if popular.job_title__name in url %}active-trend{% endif %}"><h6 class="fs-14 mb-0">{{ popular.job_title__name }}</h6></a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div><!--end wedget-popular-title-->

                    <!-- Job-list -->
                    <div id="job-list-container">
                        {% include 'job/partials/vacancy-box.html' %}
                    </div>
                    <!-- End Job-list -->

                    <div class="row">
                        <div class="col-lg-12 mt-4 pt-2">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                                    {% if vacancies.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ vacancies.previous_page_number }}{{ url }}#job-list" tabindex="-1">
                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                            </a>
                                        </li>

                                        {% if vacancies.number > 3 %}
                                            <li class="page-item {% if vacancies.number == 1 %}active{% endif %}">
                                                <a class="page-link" href="?page={{ 1 }}{{ url }}#job-list">{{ 1 }}</a>
                                            </li>
                                            {% if vacancies.number > 4 %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#job-list">...</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% for num in vacancies.paginator.page_range %}
                                        {% if vacancies.number == num %}
                                            <li class="page-item {% if vacancies.number == num %}active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}{{ url }}#job-list">{{ num }}</a>
                                            </li>
                                        {% elif num > vacancies.number|add:'-3' and num < vacancies.number|add:'3' %}
                                            <li class="page-item {% if vacancies.number == num %}active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}{{ url }}#job-list">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if vacancies.has_next %}
                                        {% if vacancies.number < vacancies.paginator.num_pages|add:'-3' %}
                                            <li class="page-item">
                                                <a class="page-link" href="#job-list">...</a>
                                            </li>

                                            <li class="page-item {% if vacancies.number == vacancies.paginator.num_pages %}active{% endif %}">
                                                <a class="page-link" href="?page={{ vacancies.paginator.num_pages }}{{ url }}#job-list">{{ vacancies.paginator.num_pages }}</a>
                                            </li>
                                        {% elif vacancies.number < vacancies.paginator.num_pages|add:'-2' %}
                                            <li class="page-item {% if vacancies.number == vacancies.paginator.num_pages %}active{% endif %}">
                                                <a class="page-link" href="?page={{ vacancies.paginator.num_pages }}{{ url }}#job-list">{{ vacancies.paginator.num_pages }}</a>
                                            </li>
                                        {% endif %}

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ vacancies.next_page_number }}{{ url }}#job-list">
                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div><!-- end row -->
                </div>

            </div>
            <!-- START RIGHT SIDE-BAR -->
            <div class="col-lg-3">
                <div class="side-bar mt-5 mt-lg-0">
                    <div class="accordion" id="accordionRight">
                        <div class="side-title">
                            <div class="mb-3">
                                <div class="filler-job-form position-relative">
                                    <i class="uil uil-briefcase-alt"></i>
                                    <input type="search" class="form-control filter-job-input-box" id="search-vacancy" placeholder="Job, Company... ">
                                </div>
                            </div>
                        </div>

                        <div class="area-range">
                            <div class="form-label mb-3">Salary Range: <span class="example-val mt-2" id="slider1-span">0</span> AZN</div>
                            <div id="slider1"></div>
                        </div>
                
                        <div class="accordion-item mt-4">   
                        <h2 class="accordion-header" id="experienceOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#experience" aria-expanded="true" aria-controls="experience">
                                Work Experience
                            </button>
                        </h2>
                        <div id="experience" class="accordion-collapse collapse show" aria-labelledby="experienceOne">
                            <div class="accordion-body">
                                <div class="side-title">
                                    {% for exp in experiences %}
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="checkbox" value="{{ exp.name }}" id="flexCheckChecked-exp{{ exp.id }}" />
                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked-exp{{ exp.id }}">{{ exp.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        </div><!-- end accordion-item -->
                
                        <div class="accordion-item mt-3">
                            <h2 class="accordion-header" id="jobType">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jobtype" aria-expanded="false" aria-controls="jobtype">
                                    Type of Employment
                                </button>
                            </h2>
                            <div id="jobtype" class="accordion-collapse collapse show" aria-labelledby="jobType">
                                <div class="accordion-body">
                                    <div class="side-title">
                                        {% for type in employments %}
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="{{ type.name }}" id="flexCheckChecked-type{{ type.id }}" />
                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked-type{{ type.id }}">{{ type.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div><!-- end accordion-item -->
                
                        <div class="accordion-item mt-3">
                            <h2 class="accordion-header" id="datePosted">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dateposted" aria-expanded="false" aria-controls="dateposted">
                                    Date Posted
                                </button>
                            </h2>
                            <div id="dateposted" class="accordion-collapse collapse show" aria-labelledby="datePosted">
                                <div class="accordion-body">
                                    <div class="side-title form-check-all">
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio"  name="datePosted"  value="1" id="date-1" />
                                            <label class="form-check-label ms-2 text-muted" for="date-1">
                                                Last Hour
                                            </label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="datePosted" value="24" id="date-2" />
                                            <label class="form-check-label ms-2 text-muted" for="date-2">
                                                Last 24 hours
                                            </label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="datePosted" value="168" id="date-3" />
                                            <label class="form-check-label ms-2 text-muted" for="date-3">
                                                Last 7 days
                                            </label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="datePosted" value="336" id="date-4" />
                                            <label class="form-check-label ms-2 text-muted" for="date-4">
                                                Last 14 days
                                            </label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="datePosted" value="720" id="date-5" />
                                            <label class="form-check-label ms-2 text-muted" for="date-5">
                                                Last 30 days
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end accordion-item -->
                        
                    </div><!--end accordion-->
                    
                </div><!--end side-bar-->
            </div>
            <!-- END RIGHT SIDE-BAR -->
        </div>
    </div>
</section>