{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if debug %} {D} {% endif %} {% block title %}{% endblock %} RECRUITMENT</title>
    <link rel="stylesheet" href="{% static 'cp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cp/css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'cp/css/style.css' %}">
    <script src="{% static 'cp/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'cp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cp/js/sweetalert.min.js' %}"></script>

    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-first">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                MAIN PAGE
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
                    <li><a href="{% url 'cp:cp-index' %}">Control Page</a></li>
                {% endif %}
                <li><a href="{% url 'main:main-index' %}">Main Page</a></li>
                <li class="disabled"><a href="">Tables</a></li>
                <li class="disabled"><a href="">Matrices</a></li>
                <li class="disabled"><a href="">Rules</a></li>
                <li class="disabled"><a href="">Account</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid navbar-second">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>
    </div>
    <div class="container-fluid navbar-third">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-third">
                
            </ul>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}
{% comment %}

<footer>
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>
{% endcomment %}


{% block scripts %}
{% endblock %}

</body>
</html>