{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="container" style="margin-bottom: 20px;">
    
            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label for="career_type">Career Type</label>
                        <select name="career_type" id="career_type" class="form-control">
                            <option selected="selected">---</option>
                            {% for career_type in career_types %}
                                <option>{{ career_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="career_level">Career Level</label>
                        <select name="career_level" id="career_level" class="form-control">
                            <option selected="selected">---</option>
                            {% for career_level in career_levels %}
                                <option>{{ career_level.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location" id="location" class="form-control">
                            <option selected="selected">---</option>
                            {% for location in locations %}
                                <option>{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="fte">FTE</label>
                        <select name="fte" id="fte" class="form-control">
                            <option selected="selected">---</option>
                            {% for fte in fte %}
                                <option>{{ fte.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                </div>
                <div class="col-md-3 col-sm-3">
                </div>
            </div>
    
            <div class="row">
                <div id="categories" class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="employment-type" type="checkbox" checked="checked">
                                Select All
                            </label>
                        </div>
                    </div>
                    <hr>

                    {% for employment_type in employment_types %}
                        <div class="form-group">
                            <div class="checkbox" id="employee-type-filters">
                                <label>
                                    <input name="employment-type" checked type="checkbox" value="{{ employment_type.name }}">
                                    {{ employment_type.name }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-9 col-sm-9">
                        <div class="container" style="max-width: 100%;">
                            <div class="row" id="vacancies">
                                {% for vacancy in vacancies %}
                                    <div class="col-md-6 col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{ vacancy.name }}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p><strong>Location:</strong> {{ vacancy.location }}</p>
                                                <p><strong>Salary:</strong> $2500 - $3500 / pm</p>
                                                <p><strong>Type:</strong> {{ vacancy.fte }}</p>
                                                <a href="#" class="btn btn-primary">Apply Now</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var csrfToken = "{{ csrf_token }}";
        var loadUrl = "{% url 'main:vacancy-load' %}";
    </script>
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock script %}