{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if related_vacancies_title %}
        {{ related_vacancies_title }}
    {% elif company %}
        {{ company }}
    {% else %}
        Vacancies
    {% endif %}
{% endblock title %}

{% block head %}
    <!-- Choise Css -->
    <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

    <!-- Nouislider Css -->
    <link rel="stylesheet" href="{% static 'main/libs/nouisliderribute/nouislider.min.css' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/filters.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}

<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">
                            {% if related_vacancies_title %}
                                All Related Jobs For "{{ related_vacancies_title }}"
                            {% elif company %}
                                Vacancies of {{ company }} company
                            {% else %}Vacancies{% endif %}
                        </h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">Home</a></li>
                                    <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li> -->
                                    <li class="breadcrumb-item active" aria-current="page"> Vacancies </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START JOB-LIST -->
    {% include 'job/partials/vacancies-section.html' %}
    <!-- END JOB-LIST -->

</div>
<!-- End Page-content -->

{% endblock content %}

{% block script %}

<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Nouislider Js -->
<script src="{% static 'main/libs/nouisliderribute/nouislider.min.js' %}"></script>

<!-- Checkbox Init Js -->
<script src="{% static 'main/js/pages/checkbox.init.js' %}"></script>

<!-- Job Init Js -->
<script src="{% static 'main/js/pages/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'main/js/ajax/vacancies-filters.js' %}"></script>
<script src="{% static 'main/js/ajax/vacancy-actions.js' %}"></script>
{% endblock script %}