{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load actions %}

{% block title %}{{ vacancy.position_title }}{% endblock title %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ vacancy.definition|safe }}">
<meta name="keywords" content="{% for keyword in keywords %}{% if keyword.id|slugify in vacancy.keywords %}{{keyword.name}}{% if not keyword.id|slugify == vacancy.keywords|last %},{% endif %}{% endif %}{% endfor %}">
{% endblock meta %}

{% block head %}

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
<link href="{% static 'main/css/vacancy-detail.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">Job Details</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">Home</a></li>
                                    <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li> -->
                                    <li class="breadcrumb-item active" aria-current="page"> Vacancy Details </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START JOB-DEATILS -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card job-detail overflow-hidden">
                        <div>
                            {% if vacancy.employer.background_image %}
                                <img src="{{ vacancy.employer.background_image.url }}" class="background-img" alt="{{ vacancy.company_name }} Background">
                            {% endif %}
                            <div class="job-details-compnay-profile {% if not vacancy.employer.background_image %}no-background-img{% endif %}">
                                {% if vacancy.profile_photo_url %}
                                <img src="{{ vacancy.profile_photo_url }}" alt="{{ vacancy.company_name }}" class="img-fluid rounded-3 rounded-3" style="width: 55px;">
                                {% else %}
                                <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ vacancy.company_name }}" class="img-fluid rounded-3 rounded-3" style="width: 55px;">
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="mb-1">{{ vacancy.position_title }}</h5>
                                        <ul class="list-inline text-muted mb-0">
                                            <li class="list-inline-item">
                                                <i class="mdi mdi-account"></i> {{ vacancy.employer.vacancies.count }} Vacancy
                                            </li>
                                            <li class="list-inline-item text-warning review-rating">
                                                <span class="badge bg-warning">4.8</span> <i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star-half-full align-middle"></i>
                                            </li>
                                        </ul>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <ul class="list-inline mb-0 text-lg-end mt-3 mt-lg-0">
                                            <li id="vacancy-{{ vacancy.id }}" class="list-inline-item {% bookmarks request vacancy.id %}">
                                                <div class="favorite-icon" style="cursor: pointer;" onclick="addBookmark('{{ vacancy.id }}')">
                                                    <a href="javascript:void(0);"><i class="uil uil-heart-alt fs-18"></i></a>
                                                </div>
                                            </li>
                                            {% if vacancy.employer == user.employer %}
                                            <li class="list-inline-item">
                                                <div class="favorite-icon">
                                                    <a href="{% url 'dashboard:edit-vacancy' vacancy.id %}" target="_blank"><i class="uil uil-setting"></i></a>
                                                </div>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div><!--end col-->
                                </div><!--end row-->    
                            </div>

                            <div class="mt-4">
                                <div class="row g-2">
                                    <div class="col-lg-3">
                                        <div class="border rounded-start p-3">
                                            <p class="text-muted mb-0 fs-13">Experience</p>
                                            <p class="fw-medium fs-15 mb-0">{{ vacancy.work_experience_name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="border p-3">
                                            <p class="text-muted fs-13 mb-0">Employee type</p>
                                            <p class="fw-medium mb-0">{{ vacancy.employment_type_name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="border p-3">
                                            <p class="text-muted fs-13 mb-0">Position</p>
                                            <p class="fw-medium mb-0">{{ vacancy.career_type_name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="border rounded-end p-3">
                                            <p class="text-muted fs-13 mb-0">Offer Salary</p>
                                            <p class="fw-medium mb-0">{{ vacancy.salary }} ₼ / Month</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end Experience-->

                            <div class="mt-4">
                                <h5 class="mb-3">Job Description</h5>
                                <div class="job-detail-desc">
                                    <p class="text-muted mb-0">As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent. You will help the team design beautiful interfaces that solve business challenges for our clients. We work with a number of Tier 1 banks on building web-based applications for AML, KYC and Sanctions List management workflows. This role is ideal if you are looking to segue your career into the FinTech or Big Data arenas.</p>
                                </div>
                            </div>

                            <div class="mt-4">
                                <h5 class="mb-3">Responsibilities</h5>
                                <div class="job-detail-desc mt-2">
                                    <p class="text-muted">As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent.</p>
                                    <ul class="job-detail-list list-unstyled mb-0 text-muted">
                                        <li><i class="uil uil-circle"></i> Have sound knowledge of commercial activities.</li>
                                        <li><i class="uil uil-circle"></i> Build next-generation web applications with a focus on the client side</li> 
                                        <li><i class="uil uil-circle"></i> Work on multiple projects at once, and consistently meet draft deadlines</li> 
                                        <li><i class="uil uil-circle"></i> have already graduated or are currently in any year of study</li> 
                                        <li><i class="uil uil-circle"></i> Revise the work of previous designers to create a unified aesthetic for our brand materials</li> 
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="mt-4">
                                <h5 class="mb-3">Qualification </h5>
                                <div class="job-detail-desc mt-2">
                                    <ul class="job-detail-list list-unstyled mb-0 text-muted">
                                        <li><i class="uil uil-circle"></i> B.C.A / M.C.A under National University course complete.</li> 
                                        <li><i class="uil uil-circle"></i> 3 or more years of professional design experience</li> 
                                        <li><i class="uil uil-circle"></i> have already graduated or are currently in any year of study</li> 
                                        <li><i class="uil uil-circle"></i> Advanced degree or equivalent experience in graphic and web design</li> 
                                    </ul>
                                </div>
                            </div>

                            <div class="mt-4">
                                <h5 class="mb-3">Skill & Experience</h5>
                                <div class="job-details-desc">
                                    <ul class="job-detail-list list-unstyled mb-0 text-muted">
                                        <li><i class="uil uil-circle"></i> Understanding of key Design Principal</li>
                                        <li><i class="uil uil-circle"></i> Proficiency With HTML, CSS, Bootstrap</li> 
                                        <li><i class="uil uil-circle"></i> Wordpress: 1 year (Required)</li> 
                                        <li><i class="uil uil-circle"></i> Experience designing and developing responsive design websites</li>
                                        <li><i class="uil uil-circle"></i> web designing: 1 year (Preferred)</li>
                                    </ul>
                                    <div class="mt-4">
                                        <span class="badge bg-primary">PHP</span>
                                        <span class="badge bg-primary">JS</span>
                                        <span class="badge bg-primary">Marketing</span>
                                        <span class="badge bg-primary">REACT</span>
                                        <span class="badge bg-primary">PHOTOSHOP</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 pt-3">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mt-1">
                                        Share this job:
                                    </li>
                                    <li class="list-inline-item mt-1">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-hover"><i class="uil uil-facebook-f"></i> Facebook</a>
                                    </li>
                                    <li class="list-inline-item mt-1">
                                        <a href="javascript:void(0)" class="btn btn-danger btn-hover"><i class="uil uil-google"></i> Google+</a>
                                    </li>
                                    <li class="list-inline-item mt-1">
                                        <a href="javascript:void(0)" class="btn btn-success btn-hover"><i class="uil uil-linkedin-alt"></i> linkedin</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end job-detail-->

                    <div class="mt-4">
                        <h5>Related Job</h5>
                        {% include 'job/partials/vacancy-box.html' %}
                    </div>

                    {% if vacancies.count == 5 %}
                    <div class="text-center mt-4">
                            <a href="{% url 'job:vacancies' %}?job-title={{ vacancy.job_title_name }}" class="primary-link form-text">View More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    {% endif %}

                </div><!--end col-->

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <!--start side-bar-->
                    <div class="side-bar ms-lg-4">
                        <div class="card job-overview">
                            <div class="card-body p-4">
                                <h6 class="fs-17">Job Overview</h6>
                                <ul class="list-unstyled mt-4 mb-0">
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-user icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Job Title</h6>
                                                <p class="text-muted mb-0">{{ vacancy.job_title_name }}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-star-half-alt icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Experience</h6>
                                                <p class="text-muted mb-0">{{ vacancy.work_experience_name }}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-location-point icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Location</h6>
                                                <p class="text-muted mb-0">{{ vacancy.location_name }}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-usd-circle icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Offered Salary</h6>
                                                <p class="text-muted mb-0">{{ vacancy.salary_minimum }}₼ - {{ vacancy.salary_maximum }}₼</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-graduation-cap icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Qualification</h6>
                                                <p class="text-muted mb-0">TBC</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-building icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Industry</h6>
                                                <p class="text-muted mb-0">TBC</p> 
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-history icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Date Posted</h6>
                                                <p class="text-muted mb-0">{{ vacancy.created_date|humanize_time }}</p> 
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mt-3">
                                    {% applications request vacancy.id as apply %}
                                    {% if not apply %}
                                    <a href="javascript:void(0);" id="apply-now-{{ vacancy.id }}" onclick="apply('{{ vacancy.id }}')" class="btn btn-primary btn-hover w-100 mt-2">Apply Now  <i class="mdi mdi-chevron-double-right"></i></a>
                                    {% else %}
                                    <a href="javascript:void(0);" id="delete-apply-{{ vacancy.id }}" onclick="apply('{{ vacancy.id }}')" class="btn btn-primary btn-hover w-100 mt-2">Delete Apply  <i class="mdi mdi-chevron-double-right"></i></a>
                                    {% endif %}

                                    <a href="bookmark-jobs.html" class="btn btn-soft-warning btn-hover w-100 mt-2"><i class="uil uil-bookmark"></i> Add Bookmark</a>
                                </div>
                            </div><!--end card-body-->
                        </div><!--end job-overview-->

                        <div class="card company-profile mt-4">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="" class="img-fluid rounded-3">

                                    <div class="mt-4">
                                        <h6 class="fs-17 mb-1">{{ vacancy.company_name }}</h6>
                                        <p class="text-muted">Since July 2017</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled mt-4">
                                    <li>
                                        <div class="d-flex">
                                            <i class="uil uil-phone-volume text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Phone</h6>
                                                <p class="text-muted fs-14 mb-0">TBC</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-envelope text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Email</h6>
                                                <p class="text-muted fs-14 mb-0">{{ vacancy.employer.user.email }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-globe text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Website</h6>
                                                <p class="text-muted fs-14 text-break mb-0">TBC</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-map-marker text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Location</h6>
                                                <p class="text-muted fs-14 mb-0">TBC</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mt-4">
                                    <a href="{% url 'user:company' vacancy.employer_username %}" class="btn btn-primary btn-hover w-100 rounded"><i class="mdi mdi-eye"></i> View Profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h6 class="fs-16 mb-3">Job location</h6>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97236.44637530725!2d49.77255921995111!3d40.39469399746074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBaku!5e0!3m2!1sen!2saz!4v1717258352692!5m2!1sen!2saz" style="width:100%"  height="250" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <!--end side-bar-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- START JOB-DEATILS -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'main/js/ajax/vacancy-actions.js' %}"></script>

{% endblock script %}