{% extends 'cp/base.html' %}
{% load filters %}

{% block title %}Career Type - Control Panel{% endblock %}

{% block stylesheets %}
<style>
    .handsontable thead th .relative {
        background-color: #337AB6;
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div data-jsfiddle="career-level" class="ajax-container">

        {% include 'cp/parameters/partials/command_buttons.html' %}

        <div id="import-data-form-container" style="display: none;">
            <hr>
            <p class="alert alert-info">To get template for import data, please use export for this table...</p>
            <form action="" method="post" enctype="multipart/form-data"
                  id="import-data-form">
                {% csrf_token %}
                <input id="file_input" type="file" name="csv_file" style="display: inline;">
                <input id="submit_input" type="submit" value="Upload and Import">
            </form>
            <hr>
        </div>

        <br>

        <div style="display: flex; margin-bottom: 10px;">
            <div class="chb-style">
                <span style="margin-right: 5px;">Language: </span>
                <div class="filter-chb">
                    {% languages as language_list %}
                    {% for language in language_list reversed %}
                        {% if forloop.first %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"
                                    checked="checked"></span>
                            <label for="id-{{language.code}}"></label>
                        {% else %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"></span>
                            <label for="id-{{language.code}}"></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="career-level" class="career-level"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var
                $$ = function (id) {
                    return document.getElementById(id);
                },
                container = $$('career-level'),
                exampleConsole = $$('career-level-console'),
                load = $$('load'),
                save = $$('save'),
                clear = $$('clear'),
                add = $$('add'),
                import_data = $$('import_data'),
                file = $$('file'),
                delete_list = [],
                hot;

            hot = new Handsontable(container, {
                allowEmpty: false,
                manualColumnResize: false,
                rowHeaders: true,
                colHeaders: true,
                dropdownMenu: false,
                contextMenu: true,
                stretchH: 'all',
                startRows: 1,     
                licenseKey: 'non-commercial-and-evaluation',
                wordWrap: true,
                hiddenColumns: {
                    columns: [0],
                },
                columns: [
                    {
                        title: 'id',
                        data: 'id',
                        readOnly: true
                    },
                    {
                        title: 'No',
                        data: 'no'
                    },
                    {
                        title: 'Name',
                        data: 'name'
                    },
                    {
                        title: 'Definition',
                        data: 'definition'
                    },
                    {
                        title: 'Note',
                        data: 'note'
                    }
                ]
            });

            function loadData() {
                let language = document.querySelector("input[name='language']:checked").value;

                $.ajax({
                    url: "{% url 'cp:career_type_load' %}",
                    data: {
                        'language': language
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (resp) {
                        hot.loadData(resp);
                    }
                });
            }

            function saveData() {
                let language = document.querySelector("input[name='language']:checked").value;

                $.ajax({
                    url: "{% url 'cp:career_type_save' %}",
                    data: {data: JSON.stringify(hot.getSourceData()),
                            'language': language,
                            'delete_list': JSON.stringify(delete_list)},
                    dataType: 'json',
                    type: 'POST',
                    success: function (resp) {
                        exampleConsole.innerText = 'EES Pages ::  Data saved...';
                        delete_list = [];
                        loadData();
                    }
                });
            }

            function clearData() {
                $.ajax({
                    url: "",
                    dataType: 'json',
                    type: 'DELETE',
                    success: function (resp) {
                        loadData();
                        exampleConsole.innerText = 'EES Pages ::  Data was cleared...';
                    }
                });
            }

            Handsontable.dom.addEvent(load, 'click', function (event) {
                event.preventDefault();
                loadData();
                exampleConsole.innerText = 'EES Pages ::  Data loaded...';
            });

            Handsontable.dom.addEvent(save, 'click', function (event) {
                event.preventDefault();
                saveData();
                exampleConsole.innerText = 'EES Pages ::  Data saved...';

            });

            Handsontable.dom.addEvent(clear, 'click', function (event) {
                event.preventDefault();
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover data!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, clear table!",
                        closeOnConfirm: false

                    },
                    function () {
                        clearData();
                        swal("Cleared!", "All data has been deleted.", "success");
                    });
            });

            Handsontable.dom.addEvent(import_data, 'click', function (event) {
                event.preventDefault();
                $('#import-data-form-container').toggle();
            });

            Handsontable.dom.addEvent(add_row, 'click', function (event) {
                event.preventDefault();
                hot.alter('insert_row', '', 1);
                exampleConsole.innerText = 'EES Questions ::  New row added...';
            });

            Handsontable.dom.addEvent(del_row, 'click', function (event) {
                event.preventDefault();
                var lastRow = hot.countRows() - 1;
                id = hot.getDataAtCell(lastRow, 0);
                if (id != null) {
                    delete_list.push(id);
                }
                hot.alter("remove_row", lastRow)
                exampleConsole.innerText = 'EES Questions ::  Last row deleted...';
            });

            Handsontable.hooks.add('afterChange', function () {
            });

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    $('body').css('cursor', 'wait');
                },
                complete: function () {
                    $('body').css('cursor', 'default');
                },
                error: function () {
                    exampleConsole.innerText = 'Failure when operation performed...';
                }
            });

            loadData();
            exampleConsole.innerText = 'EES Pages ::  Data Loaded...';
        });


        let checkboxLanguage = document.querySelectorAll("input[name='language']");

        function selected() {
            console.log('selected')
        }

        for (let i = 0; i < checkboxLanguage.length; i++) {
            checkboxLanguage[i].addEventListener('change', function() {
            if (this.checked) {
                for (let j = 0; j < checkboxLanguage.length; j++) {
                if (checkboxLanguage[j] !== this) {
                    checkboxLanguage[j].checked = false;
                }
                }
            }
            });
        }

        checkboxLanguage.forEach(checkboxLanguage => {
            checkboxLanguage.addEventListener("change", selected)
        })
    </script>
{% endblock %}