<div class="row">
    <div>
        <div class="pull-left" style="width: 40%;">
            <pre id="career-level-console" class="console">Click "Load" to load data from server</pre>
        </div>
    </div>
    <div>
        <div class="controls pull-right">
            <div style="margin-top: 5px;">
                <button type="button" name="load" id="load" class="btn btn-primary command-btn">LOAD</button>
                <button type="button" name="save" id="save" class="btn btn-primary command-btn">SAVE</button>
                <button type="button" name="add" id="add_row" class="btn btn-primary command-btn">ADD ROW</button>
                <button type="button" name="add" id="del_row" class="btn btn-primary command-btn">DEL ROW</button>
                <!-- <button type="button" name="add" id="add_col" class="btn btn-primary command-btn">ADD COL</button>
                <button type="button" name="add" id="del_col" class="btn btn-primary command-btn">DEL COL</button> -->

                <a href="#" class="btn btn-primary command-btn">EXPORT</a>

                <button type="button" name="import_data" id="import_data" class="btn btn-primary command-btn">IMPORT</button>
                <button type="button" name="clear" id="clear" class="btn btn-danger command-btn">CLEAR</button>
            </div>
         </div>
    </div>
</div>