{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Grid{% endblock title %}

{% block head %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
<link href="{% static 'main/css/pagination.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">Blog Grid</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'blog:blog' %}">Blog</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Blog Grid </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START BLOG-GRID -->
    <section id="blog-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="blog-post">
                        <div id="blog-list-container" class="row">
                            {% for blog in blogs %}
                            <div class="col-lg-6 mb-4">
                                <div class="card blog-grid-box p-2">
                                    <img src="{% if blog.cover_photo %} {{ blog.cover_photo.url }} {% else %} {% static 'main/images/blog/img-05.jpg' %} {% endif %}" alt="{{ blog.title|title }}" style="height: 200px;" class="img-fluid">
                                    <div class="card-body">
                                        <ul class="list-inline d-flex justify-content-between mb-3">
                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><a href="#" class="text-muted fw-medium">{% if blog.category %}{{ blog.category.name }} - {% endif %}</a>{{ blog.created_date|date:"M d, Y" }}</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><i class="mdi mdi-eye"></i> {{ blog.views }}</p>
                                            </li>
                                        </ul>
                                        <a href="{% url 'blog:detail' blog.slug %}" class="primary-link"><h6 class="fs-17">{{ blog.title|title }}</h6></a>
                                        <!-- <p class="text-muted">Description</p> -->
                                        <div>
                                            <a href="{% url 'blog:detail' blog.slug %}" class="form-text text-primary">Read More <i class="uil uil-angle-right-b"></i></a>
                                        </div>
                                    </div>
                                </div><!--end blog-grid-box-->
                            </div><!--end col-->
                            {% endfor %}

                        </div><!--end row-->
                        
                        <div class="row">
                            <div class="col-lg-12 mt-5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                                        {% if blogs.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ blogs.previous_page_number }}{{ url }}#blog-list" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
    
                                            {% if blogs.number > 3 %}
                                                <li class="page-item {% if blogs.number == 1 %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ 1 }}{{ url }}#blog-list">{{ 1 }}</a>
                                                </li>
                                                {% if blogs.number > 4 %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="#blog-list">...</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
    
                                        {% for num in blogs.paginator.page_range %}
                                            {% if blogs.number == num %}
                                                <li class="page-item {% if blogs.number == num %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ num }}{{ url }}#blog-list">{{ num }}</a>
                                                </li>
                                            {% elif num > blogs.number|add:'-3' and num < blogs.number|add:'3' %}
                                                <li class="page-item {% if blogs.number == num %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ num }}{{ url }}#blog-list">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
    
                                        {% if blogs.has_next %}
                                            {% if blogs.number < blogs.paginator.num_pages|add:'-3' %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#blog-list">...</a>
                                                </li>
    
                                                <li class="page-item {% if blogs.number == blogs.paginator.num_pages %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}{{ url }}#blog-list">{{ blogs.paginator.num_pages }}</a>
                                                </li>
                                            {% elif blogs.number < blogs.paginator.num_pages|add:'-2' %}
                                                <li class="page-item {% if blogs.number == blogs.paginator.num_pages %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}{{ url }}#blog-list">{{ blogs.paginator.num_pages }}</a>
                                                </li>
                                            {% endif %}
    
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ blogs.next_page_number }}{{ url }}#blog-list">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div><!--end col-->
                        </div><!-- end row -->

                    </div><!--end blog-post-->
                </div><!--end col-->

                <div class="col-lg-4 col-md-5">
                    <div class="sidebar ms-lg-4 ps-lg-4 mt-5 mt-lg-0">
                        <!-- Search widget-->
                        <aside class="widget widget_search">
                            <form class="position-relative">
                                <input class="form-control" type="search" placeholder="Search...">
                                <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                            </form>
                        </aside>
                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Categories</h6>
                            </div>
                            <div id="blog-categories" class="my-3">
                                {% for category in categories %}
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="{{ category.name }}" id="category{{ category.id }}" />
                                        <label class="form-check-label ms-2" for="category{{ category.id }}">{{ category.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!--end Categories-->

                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Popular Post</h6>
                            </div>
                            <ul class="widget-popular-post list-unstyled my-4">
                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                    <img src="{% static 'main/images/blog/img-01.jpg' %}" alt="" class="widget-popular-post-img rounded" />
                                    <div class="flex-grow-1 text-truncate ms-3">
                                        <a href="" class="text-dark">The evolution of landing page creativity</a>
                                        <span class="d-block text-muted fs-14">Aug 10, 2021</span>
                                    </div>
                                </li>
                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                    <img src="{% static 'main/images/blog/img-02.jpg' %}" alt="" class="widget-popular-post-img rounded" />
                                    <div class="flex-grow-1 text-truncate ms-3"><a href="" class="text-dark">Beautiful day with friends in paris</a>
                                        <span class="d-block text-muted fs-14">Jun 24, 2021</span>
                                    </div>
                                </li>
                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                    <img src="{% static 'main/images/blog/img-03.jpg' %}" alt="" class="widget-popular-post-img rounded" />
                                    <div class="flex-grow-1 text-truncate ms-3"><a href="" class="text-dark">Project discussion with team</a>
                                        <span class="d-block text-muted fs-14">July 13, 2021</span>
                                    </div>
                                </li>
                                <li class="d-flex mb-3 align-items-center">
                                    <img src="{% static 'main/images/blog/img-10.jpg' %}" alt="" class="widget-popular-post-img rounded" />
                                    <div class="flex-grow-1 text-truncate ms-3"><a href="" class="text-dark">Smartest Applications for Business</a>
                                        <span class="d-block text-muted fs-14">Feb 01, 2021</span>
                                    </div>
                                </li>
                            </ul>
                        </div><!--end Polular Post-->

                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Text Widget</h6>
                            </div>
                            <p class="mb-0 text-muted mt-3">
                                Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft
                                beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v
                                laborum. Aliquip veniam
                                delectus, Marfa eiusmod Pinterest in do umami readymade swag.
                            </p>
                        </div>

                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Archives</h6>
                            </div>
                            <ul class="list-unstyled mb-0 mt-3">
                                <li class="py-1"><a class="me-2 text-muted" href="javascript:void(0)"><i class="uil uil-angle-right-b"></i> March 2021</a> (40)</li>
                                <li class="py-1"><a class="me-2 text-muted" href="javascript:void(0)"><i class="uil uil-angle-right-b"></i> April 2021</a> (08)</li>
                                <li class="py-1"><a class="me-2 text-muted" href="javascript:void(0)"><i class="uil uil-angle-right-b"></i> Nov 2020</a> (32)</li>
                                <li class="py-1"><a class="me-2 text-muted" href="javascript:void(0)"><i class="uil uil-angle-right-b"></i> May 2020</a> (11)</li>
                                <li class="py-1"><a class="me-2 text-muted" href="javascript:void(0)"><i class="uil uil-angle-right-b"></i>  Jun 2019</a> (21)</li>
                            </ul>
                        </div>

                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Latest Tags</h6>
                            </div>
                            <div class="tagcloud mt-3">
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Fashion</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Jobs</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Business</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Corporate</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">E-commerce</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Agency</a>
                                <a class="badge tag-cloud fs-12 mt-2"
                                    href="javascript:void(0)">Responsive</a>
                            </div>
                        </div><!--end Latest Tags-->

                        <div class="mt-4 pt-2">
                            <div class="sd-title">
                                <h6 class="fs-16 mb-3">Follow & Connect</h6>
                            </div>
                            <ul class="widget-social-menu list-inline mb-0 mt-3">
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"><i class="uil uil-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"><i class="uil uil-whatsapp"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"><i class="uil uil-twitter-alt"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"><i class="uil uil-dribbble"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)"><i class="uil uil-envelope"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end sidebar-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END BLOG-GRID -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'dashboard/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>

<script src="{% static 'main/js/ajax/blog-filter.js' %}"></script>
{% endblock script %}