{% extends 'base.html' %}
{% load static %}
{% load blog_actions %}
{% load translate %}

{% block title %}{% tr 'All Blogs' %}{% endblock title %}

{% block head %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
<link href="{% static 'main/css/filters.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'All Blogs' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'blog:blog' %}">{% tr 'Blog' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'All Blogs' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START BLOG-GRID -->
    <section id="blog-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="blog-post">
                        <div id="blog-list-container" class="row">
                            {% for blog in blogs %}
                            <div class="col-lg-6 mb-4">
                                <div class="card blog-grid-box p-2">
                                    <img src="{% if blog.cover_photo %} {{ blog.cover_photo.url }} {% else %} {% static 'main/images/blog/img-05.jpg' %} {% endif %}" alt="{{ blog.title }}" style="height: 200px;" class="img-fluid">
                                    <div class="card-body">
                                        <ul class="list-inline d-flex justify-content-between mb-3">
                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><a href="#" class="text-muted fw-medium">{% if blog.category %}{{ blog.category_name }} - {% endif %}</a>{{ blog.created_date|date:"M d, Y" }}</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void(0)" onclick="likeBlog('{{ blog.id }}')">
                                                    <p class="text-muted mb-0">
                                                        <i class="uil uil-thumbs-up {% liked request blog.id %}" id="like-icon-{{ blog.id }}"></i> <span id="like-count-{{ blog.id }}">{{ blog.likes.count }}</span>
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><i class="mdi mdi-eye"></i> {{ blog.views }}</p>
                                            </li>
                                        </ul>
                                        <a href="{% url 'blog:detail' blog.slug %}" class="primary-link"><h6 class="fs-17">{{ blog.title }}</h6></a>
                                        <!-- <p class="text-muted">Description</p> -->
                                        <div class="d-flex justify-content-between">
                                            <a href="{% url 'blog:detail' blog.slug %}" class="form-text text-primary">{% tr 'Read More' %} <i class="uil uil-angle-right-b"></i></a>
                                        </div>
                                    </div>
                                </div><!--end blog-grid-box-->
                            </div><!--end col-->
                            {% endfor %}

                        </div><!--end row-->
                        
                        <div class="row">
                            <div class="col-lg-12 mt-5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                                        {% if blogs.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ blogs.previous_page_number }}{{ url }}#blog-list" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
    
                                            {% if blogs.number > 3 %}
                                                <li class="page-item {% if blogs.number == 1 %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ 1 }}{{ url }}#blog-list">{{ 1 }}</a>
                                                </li>
                                                {% if blogs.number > 4 %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="#blog-list">...</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
    
                                        {% for num in blogs.paginator.page_range %}
                                            {% if blogs.number == num %}
                                                <li class="page-item {% if blogs.number == num %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ num }}{{ url }}#blog-list">{{ num }}</a>
                                                </li>
                                            {% elif num > blogs.number|add:'-3' and num < blogs.number|add:'3' %}
                                                <li class="page-item {% if blogs.number == num %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ num }}{{ url }}#blog-list">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
    
                                        {% if blogs.has_next %}
                                            {% if blogs.number < blogs.paginator.num_pages|add:'-3' %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#blog-list">...</a>
                                                </li>
    
                                                <li class="page-item {% if blogs.number == blogs.paginator.num_pages %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}{{ url }}#blog-list">{{ blogs.paginator.num_pages }}</a>
                                                </li>
                                            {% elif blogs.number < blogs.paginator.num_pages|add:'-2' %}
                                                <li class="page-item {% if blogs.number == blogs.paginator.num_pages %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}{{ url }}#blog-list">{{ blogs.paginator.num_pages }}</a>
                                                </li>
                                            {% endif %}
    
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ blogs.next_page_number }}{{ url }}#blog-list">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div><!--end col-->
                        </div><!-- end row -->

                    </div><!--end blog-post-->
                </div><!--end col-->
                {% include 'blog/partials/side-bar.html' %}
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END BLOG-GRID -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>

<script src="{% static 'main/js/ajax/blog-filter.js' %}"></script>
{% endblock script %}