{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load blog_actions %}
{% load translate %}

{% block title %}{{ blog.title }}{% endblock title %}

{% block head %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Swiper Css -->
<link rel="stylesheet" href="{% static 'main/libs/swiper/swiper-bundle.min.css' %}">

<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
<link rel="stylesheet" href="{% static 'main/css/blog-detail.css' %}">
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Blog Details' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'blog:blog' %}">{% tr 'Blog' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Blog Details' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->

    <!-- START BLOG-DETAILS -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <p class="fw-semibold mb-0">{{ blog.category.name }}</p>
                        <h3>{{ blog.title|title }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <img src="{% if blog.cover_photo %} {{ blog.cover_photo.url }} {% else %} {% static 'main/images/blog/img-05.jpg' %} {% endif %}" alt="{{ blog.title }}" style="width: 100%;" class="img-fluid rounded-3">
                        <ul class="list-inline mb-0 mt-3 text-muted">
                            <li class="list-inline-item">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="uil uil-calendar-alt"></i>
                                    </div>
                                    <div class="ms-2">
                                        <p class="mb-0"> {{ blog.created_date|date:"M d, Y" }}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="uil uil-comments-alt"></i>
                                    </div>
                                    <div class="ms-2 flex-grow-1">
                                        <p class="mb-0"> <span id="blog-comment-count">{{ comments_count }}</span> {% tr 'Comments' %}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item align-items-end" onclick="likeBlog('{{ blog.id }}')">
                                <a href="javascript:void(0)" id="like">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <i class="uil uil-thumbs-up {% liked request blog.id %}" id="like-icon"></i>
                                        </div>
                                        <div class="ms-2 flex-grow-1">
                                            <p class="mb-0"><span id="like-count">{{ blog.likes.count }}</span> {% tr 'Like' %}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="mt-4">
                            {{ blog.content|safe }}
                        </div>
                        <!-- comment start -->
                        <h5 class="border-bottom pb-3 mt-5">{% tr 'Comments' %}</h5>
                        <div id="comments-box">
                            {% for comment in comments %}
                            <div id="comment-{{ comment.id }}" class="mt-5">
                                <div class="d-sm-flex align-items-top">
                                    <div class="flex-shrink-0">
                                        {% if comment.user.profile_photo %}
                                        <img class="rounded-circle avatar-md img-thumbnail" src="{{ comment.user.profile_photo.url }}" alt="{{ comment.user.get_full_name }}" />
                                        {% else %}
                                        <img class="rounded-circle avatar-md img-thumbnail" src="{% static 'main/images/user/default-profile.jpg' %}" alt="{{ comment.user.get_full_name }}" />
                                        {% endif %}
                                    </div>
                                    <div class="flex-grow-1 ms-sm-3">
                                        <small class="float-end fs-12 text-muted"><i class="uil uil-clock"></i> {{ comment.timestamp|humanize_time:False }}</small>
                                        <div class="d-flex">
                                            <a href="{% url 'user:candidate' comment.user.username %}" class="primary-link">
                                                <h6 class="fs-16 mt-sm-0 mt-3 mb-2">{{ comment.user.get_full_name }}</h6>
                                            </a>
                                            {% if comment.user == user %}
                                            <div class="ms-3">
                                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="{% tr 'Edit' %}">
                                                    <i class="uil uil-edit" onclick="editComment('{{ comment.id }}')"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="ms-2" style="color: #da3746 !important;" onclick="deleteRequest('{{ comment.id }}')" data-bs-toggle="tooltip" data-bs-placement="top" title="{% tr 'Delete' %}">
                                                    <i class="uil uil-trash-alt"></i>
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <p class="text-muted fst-italic mb-0" id="comment-text-{{ comment.id }}">{{ comment.comment }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-12">
                                <div class="position-relative mb-3">
                                    <label for="comments" class="form-label">{% tr 'Comment' %}</label>
                                    <textarea id="comment-input" rows="4" class="form-control" placeholder="{% tr 'Enter your comment' %}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-end">
                                <button type="button" id="send-comment-btn" class="btn btn-primary btn-hover" onclick="sendComment('{{ blog.id }}')">
                                    {% tr 'Send Comment' %} <i class="uil uil-message ms-1"></i>
                                </button>

                                <button type="button" id="edit-comment-btn" class="btn btn-primary btn-hover" style="display: none;">
                                    {% tr 'Edit Comment' %} <i class="uil uil-message ms-1"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h5 class="border-bottom pb-3"> {% tr 'Related Blog Posts' %}</h5>
                            <div class="swiper blogSlider pb-5 mt-4">
                                <div class="swiper-wrapper">
                                    {% for obj in all_blogs %}
                                    <div class="swiper-slide">
                                        <div class="blog-box card p-2 mt-3">
                                            <div class="blog-img position-relative overflow-hidden">
                                                <img src="{% if obj.cover_photo %} {{ obj.cover_photo.url }} {% else %} {% static 'main/images/blog/default-blog-img.jpg' %} {% endif %}" alt="{{ obj.title }}" style="height: 200px; width: 100%;" class="img-fluid">
                                                <div class="bg-overlay"></div>
                                                <div class="author">
                                                    <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> {{ obj.created_date|date:"M d, Y" }}</p>
                                                </div>
                                                <div class="likes">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi mdi-thumb-up me-1"></i> {{ obj.likes.count }}</a></li>
                                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-comment-outline me-1"></i> {{ obj.comments.count }}</a></li>
                                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-eye me-1"></i> {{ obj.views }}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <a href="{% url 'blog:detail' obj.slug %}" class="primary-link"> <h5 class="fs-17">{{ obj.title }}</h5>
                                                </a>
                                                <a href="{% url 'blog:detail' obj.slug %}" class="form-text text-primary">{% tr 'Read more' %} <i class="mdi mdi-chevron-right align-middle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div><!--end blogSlider-->
                        </div><!--end related post-->
                    </div>
                </div><!--end col-->
                {% include 'blog/partials/side-bar.html' %}
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- START BLOG-DETAILS -->

    <!-- DELETE Modal -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{% tr 'Delete Comment ?' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h6 class="text-danger"><i class="uil uil-exclamation-triangle"></i> {% tr 'Warning: Are you sure you want to delete comment ?' %}</h6>
                        <p class="text-muted">{% tr 'Your comment will be deleted.' %}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">{% tr 'Cancel' %}</button>
                    <button type="button" class="btn btn-danger btn-sm" id="delete-comment-btn">{% tr 'Yes, delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE MODAL -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'main/libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Blog Init Js -->
<script src="{% static 'main/js/pages/blog-details.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<script src="{% static 'main/js/ajax/blog-detail.js' %}"></script>
{% endblock script %}