table.dataTable th {
    text-align: center;
}

.dataTables_length label {
    padding-top: 0.70em;
    white-space: nowrap;
    margin-left: 10px;
}

.dataTables_info {
    float: left;
    margin-right: 10px;
}

.dataTables_length {
    float: left;
}

.dataTables_paginate {
    float: right;
}

@media only screen and (max-width: 992px) {
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dataTables_info {
        margin-right: 0;
    }
}