"""
In this project, static text within Python files must follow a specific format to enable translation.
This format marks the text that needs to be translated.

Additionally, the create_language_table function in /language/utils.py will take these marked texts
and process them accordingly.

This system allows for the automatic collection of texts from Python files and their inclusion in translation tables.

The texts in the python files must be written exactly the same.
"""


<!-- /main/models.py -->
# Types of notifications from candidates
{% tr 'Applied to your vacancy - NOTIFICATION' %}
{% tr 'Deleted application for your vacancy - NOTIFICATION' %}

<!-- /job/models.py -->
{% tr 'Accepted your offer - NOTIFICATION' %}
{% tr 'Rejected your offer - NOTIFICATION' %}
{% tr 'Requested another date - NOTIFICATION' %}

<!-- Types of notifications from employers -->
{% tr 'New vacancy that match your preferences are available - NOTIFICATION' %}

<!-- /job/models.py -->
{% tr 'The employer has invited you to an interview - NOTIFICATION' %}
{% tr 'The employer has shortlisted your application - NOTIFICATION' %}
{% tr 'The employer has delisted your application - NOTIFICATION' %}
{% tr 'The employer has suggested another date - NOTIFICATION' %}
{% tr 'Accepted the request for another date - NOTIFICATION' %}

<!-- /user/models.py -->
{% tr 'A user with that username already exists.' %}
{% tr 'Username must be at least 2 characters long.' %}

<!-- /user/forms.py -->
{% tr 'You must accept the terms and conditions to complete the registration process.' %}
{% tr 'User with this Email already exists.' %}
{% tr 'Username can be up to 19 characters long.' %}

<!-- /user/views.py -->
{% tr 'Username or password is wrong!' %}

<!-- datetime texts -->
{% tr 'hours' %}
{% tr 'minutes' %}

<!-- Month names -->
{% tr 'January' %}
{% tr 'February' %}
{% tr 'March' %}
{% tr 'April' %}
{% tr 'May' %}
{% tr 'June' %}
{% tr 'July' %}
{% tr 'August' %}
{% tr 'September' %}
{% tr 'October' %}
{% tr 'November' %}
{% tr 'December' %}