{% extends 'base.html' %}
{% load static %}
{% load actions %}
{% load translate %}

{% block title %}{% tr 'Candidate List' %}{% endblock title %}

{% block head %}
     <!-- Choise Css -->
     <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

     <!-- Bootstrap Css -->
     <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
     <!-- Icons Css -->
     <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- App Css-->
     <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
     <!--Custom Css-->
     <link href="{% static 'main/css/applicants.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Candidate List' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Candidate List' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START JOB-LIST -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="candidate-list-widgets mb-4">
                        <form action="#">
                            <div class="row g-2">
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-briefcase-alt"></i>
                                        <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="{% tr 'Job, Company name' %}... ">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-location-point"></i>
                                        <select class="form-select" data-trigger name="citizenship" id="citizenship">
                                            {% for citizenship in citizenships %}
                                                <option value="{{ citizenship.name }}">{{ citizenship.name }}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="filler-job-form">
                                        <i class="uil uil-clipboard-notes"></i>
                                        <select class="form-select " data-trigger name="job-family" id="job-family">
                                            <option value="4">Accounting</option>
                                            <option value="1">IT & Software</option>
                                            <option value="3">Marketing</option>
                                            <option value="5">Banking</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="uil uil-filter"></i> {% tr 'Filter' %}</a>
                                        <a href="javascript:void(0)" class="btn btn-success ms-2"><i class="uil uil-cog"></i> {% tr 'Advance' %}</a>
                                    </div>
                                </div>
                            </div><!--end row-->
                        </form><!--end form-->
                    </div>
                </div>
            </div><!--end row-->

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="mb-3 mb-lg-0">
                        <h6 class="fs-16 mb-0"> {% tr 'Candidate count' %}: <samp id="candidate-count">{{ candidate_count }}</samp> </h6>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="candidate-list-widgets">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="selection-widget">
                                    <select class="form-select" data-trigger name="gender" id="gender">
                                        <option value="">{% tr 'Gender' %}</option>
                                        <option value="male">{% tr 'Male' %}</option>
                                        <option value="female">{% tr 'Female' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="selection-widget mt-2 mt-lg-0">
                                    <select class="form-select" data-trigger name="age-group" id="age-group">
                                        <option value="">{% tr 'Age Group' %}</option>
                                        {% for age in age_groups %}
                                        <option value="{{ age.name }}">{{ age.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div><!--end candidate-list-widgets-->
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12">
                    <div id="candidate-container" class="candidate-list">
                        {% for candidate in candidates %}
                        <div id="candidate-{{ candidate.id }}" class="candidate-list-box card mt-4  {% candidate_bookmarks request candidate.id %}">
                            <div class="card-body p-4">
                                <div class="row align-items-center candidate-row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            {% if candidate.user.profile_photo %}
                                                <a href="javascript:void(0)"><img src="{{ candidate.user.profile_photo.url }}" alt="{{ candidate.user.first_name }}" class="avatar-md img-thumbnail rounded-circle"></a>
                                            {% else %}
                                                <a href="javascript:void(0)"><img src="{% static 'main/images/user/default-profile.jpg' %}" alt="{{ candidate.user.first_name }}" class="avatar-md img-thumbnail rounded-circle"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-5 candidate-content">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0"><a href="#" class="primary-link">{{ candidate.user.get_full_name }}</a> <span class="badge bg-success ms-1"><i class="mdi mdi-star align-middle"></i> 4.8</span></h5>
                                            <p class="text-muted mb-2"> Project Manager</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item">
                                                    <i class="mdi mdi-map-marker"></i> Oakridge Lane Richardson
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="uil uil-wallet"></i> $650 / hours
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0">
                                            <span class="badge bg-soft-muted fs-14 mt-1">Leader</span> <span class="badge bg-soft-muted fs-14 mt-1">Manager</span>
                                            <span class="badge bg-soft-muted fs-14 mt-1">Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite-icon" onclick="addCandidateBookmark('{{ candidate.id }}')">
                                    <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                            {% if candidates.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ candidates.previous_page_number }}{{ url }}" tabindex="-1">
                                        <i class="mdi mdi-chevron-double-left fs-15"></i>
                                    </a>
                                </li>

                                {% if candidates.number > 3 %}
                                    <li class="page-item {% if candidates.number == 1 %}active{% endif %}">
                                        <a class="page-link" href="?page={{ 1 }}{{ url }}">{{ 1 }}</a>
                                    </li>
                                    {% if candidates.number > 4 %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">...</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% for num in candidates.paginator.page_range %}
                                {% if candidates.number == num %}
                                    <li class="page-item {% if candidates.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% elif num > candidates.number|add:'-3' and num < candidates.number|add:'3' %}
                                    <li class="page-item {% if candidates.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if candidates.has_next %}
                                {% if candidates.number < candidates.paginator.num_pages|add:'-3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>

                                    <li class="page-item {% if candidates.number == candidates.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ candidates.paginator.num_pages }}{{ url }}">{{ candidates.paginator.num_pages }}</a>
                                    </li>
                                {% elif candidates.number < candidates.paginator.num_pages|add:'-2' %}
                                    <li class="page-item {% if candidates.number == candidates.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ candidates.paginator.num_pages }}{{ url }}">{{ candidates.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link" href="?page={{ candidates.next_page_number }}{{ url }}">
                                        <i class="mdi mdi-chevron-double-right fs-15"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div><!--end container-->
    </section>
    <!-- END JOB-LIST -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<script src="{% static 'main/js/ajax/candidate-list.js' %}"></script>
{% endblock script %}