{% extends 'base.html' %}
{% load static %}
{% load actions %}
{% load translate %}

{% block title %}{% tr 'Candidate List' %}{% endblock title %}

{% block head %}
     <!-- Choise Css -->
     <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">

     <!-- Bootstrap Css -->
     <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
     <!-- Icons Css -->
     <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- App Css-->
     <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
     <!--Custom Css-->
     <link href="{% static 'main/css/applicants.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'main/css/filters.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Candidate List' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Candidate List' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START JOB-LIST -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="candidate-list-widgets mb-4">
                        <form action="#">
                            <div class="row g-2">
                                <div class="col-lg-4">
                                    <div class="filler-job-form">
                                        <i class="uil uil-briefcase-alt"></i>
                                        <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="{% tr 'Job, Company name' %}... ">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="filler-job-form">
                                        <i class="uil uil-clipboard-notes"></i>
                                        <select class="form-select " data-trigger name="job-family" id="job-family">
                                            <option value="4">Accounting</option>
                                            <option value="1">IT & Software</option>
                                            <option value="3">Marketing</option>
                                            <option value="5">Banking</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <!-- <a href="javascript:void(0)" class="btn btn-primary"><i class="uil uil-filter"></i> {% tr 'Filter' %}</a> -->

                                        <a href="javascript:void(0)" class="btn btn-primary" id="vacancy-filter"><i class="uil uil-filter"></i> {% tr 'Filter' %}</a>
                                        <a href="javascript:void(0)" class="btn btn-primary" id="clear-vacancy-filter" style="display: none;" onclick="clearFilter()">
                                            <i class="uil uil-filter"></i> {% tr 'Clear Filter' %}</a>

                                        <a href="javascript:void(0)" class="btn btn-success ms-2"><i class="uil uil-cog"></i> {% tr 'Advance' %}</a>
                                    </div>
                                </div>
                            </div><!--end row-->
                        </form><!--end form-->
                    </div>
                </div>
            </div><!--end row-->

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="mb-3 mb-lg-0">
                        <h6 class="fs-16 mb-0"> {% tr 'Candidate count' %}: <samp id="candidate-count">{{ candidate_count }}</samp> </h6>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="candidate-list-widgets">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="selection-widget mt-3 mt-lg-0">
                                    <select class="form-select" data-trigger name="choices-single-filter-orderby" id="choices-single-filter-orderby">
                                        <option value="df">{% tr 'Default' %}</option>
                                        <option value="ne">{% tr 'Newest' %}</option>
                                        <option value="od">{% tr 'Oldest' %}</option>
                                        <option value="rd">{% tr 'Random' %}</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="selection-widget mt-3 mt-lg-0">
                                    <select class="form-select" data-trigger name="choices-candidate-page" id="choices-candidate-page">
                                        <option value="df">{% tr 'All' %}</option>
                                        <option value="ne">{% tr 'Last 2 Month' %}</option>
                                        <option value="ne">{% tr 'Last 6 Month' %}</option>
                                        <option value="ne">{% tr 'Last 12 Month' %}</option>
                                        <option value="ne">{% tr 'Last 2 Year' %}</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end candidate-list-widgets-->
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-9">
                    <div id="candidate-container" class="candidate-list">
                        {% for candidate in candidates %}
                        <div id="candidate-{{ candidate.id }}" class="candidate-list-box card mt-4  {% candidate_bookmarks request candidate.id %}">
                            <div class="card-body p-4">
                                <div class="row align-items-center candidate-row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            {% if candidate.user.profile_photo %}
                                                <a href="{% url 'user:candidate' candidate.user.username %}"><img src="{{ candidate.user.profile_photo.url }}" alt="{{ candidate.user.first_name }}" class="avatar-md img-thumbnail rounded-circle"></a>
                                            {% else %}
                                                <a href="{% url 'user:candidate' candidate.user.username %}"><img src="{% static 'main/images/user/default-profile.jpg' %}" alt="{{ candidate.user.first_name }}" class="avatar-md img-thumbnail rounded-circle"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-5 candidate-content">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0"><a href="{% url 'user:candidate' candidate.user.username %}" class="primary-link">{{ candidate.user.get_full_name }}</a> <span class="badge bg-success ms-1"><i class="mdi mdi-star align-middle"></i> 4.8</span></h5>
                                            {% if candidate.occupation_name %}
                                            <p class="text-muted mb-2"> {{ candidate.occupation_name }}</p>
                                            {% endif %}
                                            <ul class="list-inline mb-0 text-muted">
                                                {% if candidate.citizenship %}
                                                <li class="list-inline-item">
                                                    <i class="mdi mdi-map-marker"></i> {{ candidate.citizenship_name }}
                                                </li>
                                                {% endif %}
                                                {% if candidate.preference.offered_salary %}
                                                <li class="list-inline-item">
                                                    <i class="uil uil-wallet"></i> {{ candidate.preference.offered_salary }} AZN
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mt-2 mt-lg-0">
                                            <span class="badge bg-soft-muted fs-14 mt-1">Leader</span> <span class="badge bg-soft-muted fs-14 mt-1">Manager</span>
                                            <span class="badge bg-soft-muted fs-14 mt-1">Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite-icon" onclick="addCandidateBookmark('{{ candidate.id }}')">
                                    <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>


                <!-- START RIGHT SIDE-BAR -->
                <div class="col-lg-3">
                    <div class="side-bar mt-5 mt-lg-0">
                        <div class="accordion" id="accordionRight">

                            <div class="accordion-item mt-4">   
                                <h2 class="accordion-header" id="citizenshipOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#citizenship" aria-expanded="false" aria-controls="citizenship">
                                        {% tr 'Citizenship' %}
                                    </button>
                                </h2>
                                <div id="citizenship" class="accordion-collapse collapse" aria-labelledby="citizenshipOne">
                                    <div class="accordion-body">
                                        <div class="side-title">
                                            <form class="position-relative mb-2">
                                                <input class="form-control" type="search" placeholder="{% tr 'Search' %}...">
                                                <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                            </form>

                                            <div style="max-height: 250px; overflow: auto;">
                                                {% for citizenship in citizenships %}
                                                <div class="form-check mt-2" >
                                                    <input class="form-check-input" type="checkbox" value="{{ citizenship.name }}" id="citizenship-{{ citizenship.id }}" />
                                                    <label class="form-check-label ms-2 text-muted" for="citizenship-{{ citizenship.id }}">{{ citizenship.name }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="accordion-item mt-3">
                                <h2 class="accordion-header" id="ageGroup">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#age-group" aria-expanded="false" aria-controls="age-group">
                                        {% tr 'Age Group' %}
                                    </button>
                                </h2>
                                <div id="age-group" class="accordion-collapse collapse" aria-labelledby="ageGroup">
                                    <div class="accordion-body">
                                        <div class="side-title">
                                            {% for group in age_groups %}
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="checkbox" value="{{ group.name }}" id="age-group-{{ group.id }}" />
                                                    <label class="form-check-label ms-2 text-muted" for="age-group-{{ group.id }}">{{ group.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="accordion-item mt-3">
                                <h2 class="accordion-header" id="genderTitle">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gender" aria-expanded="false" aria-controls="gender">
                                        {% tr 'Gender' %}
                                    </button>
                                </h2>
                                <div id="gender" class="accordion-collapse collapse" aria-labelledby="genderTitle">
                                    <div class="accordion-body">
                                        <div class="side-title form-check-all">
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox"  value="male" id="gender-male" />
                                                <label class="form-check-label ms-2 text-muted" for="gender-male">{% tr 'Male' %}</label>
                                            </div>

                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox"  value="female" id="gender-female" />
                                                <label class="form-check-label ms-2 text-muted" for="gender-female">{% tr 'Female' %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-3">
                                <h2 class="accordion-header" id="workExperience">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#work-experience" aria-expanded="false" aria-controls="work-experience">
                                        {% tr 'Work Experience' %}
                                    </button>
                                </h2>
                                <div id="work-experience" class="accordion-collapse collapse" aria-labelledby="workExperience">
                                    <div class="accordion-body">
                                        <div class="side-title">
                                            {% for experience in work_experiences %}
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="checkbox" value="{{ experience.name }}" id="experience-{{ experience.id }}" />
                                                    <label class="form-check-label ms-2 text-muted" for="experience-{{ experience.id }}">{{ experience.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-3">
                                <h2 class="accordion-header" id="educationLevel">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-level" aria-expanded="false" aria-controls="education-level">
                                        {% tr 'Education Level' %}
                                    </button>
                                </h2>
                                <div id="education-level" class="accordion-collapse collapse" aria-labelledby="educationLevel">
                                    <div class="accordion-body">
                                        <div class="side-title">
                                            {% for level in education_levels %}
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="checkbox" value="{{ level.name }}" id="level-{{ level.id }}" />
                                                    <label class="form-check-label ms-2 text-muted" for="level-{{ level.id }}">{{ level.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!--end accordion-->
                        
                    </div><!--end side-bar-->
                </div>
                <!-- END RIGHT SIDE-BAR -->
                
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center" id="pagination-container">
                            {% if candidates.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ candidates.previous_page_number }}{{ url }}" tabindex="-1">
                                        <i class="mdi mdi-chevron-double-left fs-15"></i>
                                    </a>
                                </li>

                                {% if candidates.number > 3 %}
                                    <li class="page-item {% if candidates.number == 1 %}active{% endif %}">
                                        <a class="page-link" href="?page={{ 1 }}{{ url }}">{{ 1 }}</a>
                                    </li>
                                    {% if candidates.number > 4 %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">...</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% for num in candidates.paginator.page_range %}
                                {% if candidates.number == num %}
                                    <li class="page-item {% if candidates.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% elif num > candidates.number|add:'-3' and num < candidates.number|add:'3' %}
                                    <li class="page-item {% if candidates.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{{ url }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if candidates.has_next %}
                                {% if candidates.number < candidates.paginator.num_pages|add:'-3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>

                                    <li class="page-item {% if candidates.number == candidates.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ candidates.paginator.num_pages }}{{ url }}">{{ candidates.paginator.num_pages }}</a>
                                    </li>
                                {% elif candidates.number < candidates.paginator.num_pages|add:'-2' %}
                                    <li class="page-item {% if candidates.number == candidates.paginator.num_pages %}active{% endif %}">
                                        <a class="page-link" href="?page={{ candidates.paginator.num_pages }}{{ url }}">{{ candidates.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link" href="?page={{ candidates.next_page_number }}{{ url }}">
                                        <i class="mdi mdi-chevron-double-right fs-15"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div><!--end container-->
    </section>
    <!-- END JOB-LIST -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'main/js/app.js' %}"></script>

<script src="{% static 'main/js/ajax/candidate-list.js' %}"></script>
{% endblock script %}