{% extends 'base.html' %}
{% load static %}

{% block title %}Candidate Details{% endblock title %}

{% block head %}
     <!-- Choise Css -->
     <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">
     <link href="{% static 'dashboard/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

     <!-- Light Box Css -->
     <link rel="stylesheet" href="{% static 'main/libs/glightbox/css/glightbox.min.css' %}">

     <!-- Bootstrap Css -->
     <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
     <!-- Icons Css -->
     <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- App Css-->
     <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
     <!--Custom Css-->
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">Candidate Details</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Candidate Details </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


    <!-- START CANDIDATE-DETAILS -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card side-bar">
                        <div class="card-body p-4">
                            <div class="candidate-profile text-center">
                                {% if candidate.user.profile_photo %}
                                <img src="{{ candidate.user.profile_photo.url }}" alt="{{ candidate.user.first_name }}" class="avatar-lg rounded-circle">
                                {% else %}
                                <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ candidate.user.first_name }}" class="avatar-lg rounded-circle">
                                {% endif %}
                                <h6 class="fs-18 mb-0 mt-4">{{ candidate.user.get_full_name }}</h6>
                                <p class="text-muted mb-4">Creative Designer</p>
                                <ul class="candidate-detail-social-menu list-inline mb-0">
                                    {% if candidate.linkedin_url %}
                                    <li class="list-inline-item">
                                        <a href="{{ candidate.linkedin_url }}" target="_blank" class="social-link"><i class="uil uil-linkedin"></i></a>
                                    </li>
                                    {% endif %}
                                    <li class="list-inline-item">
                                        <a href="mailto:{{ candidate.user.email }}" class="social-link"><i class="uil uil-envelope"></i></a>
                                    </li>
                                    {% if candidate.whatsapp %}
                                    <li class="list-inline-item">
                                        <a href="https://wa.me/{{ candidate.whatsapp }}" target="_blank" class="social-link"><i class="uil uil-whatsapp"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if candidate.user.phone_number %}
                                    <li class="list-inline-item">
                                        <a href="tel:{{ candidate.user.phone_number }}" class="social-link"><i class="uil uil-phone-alt"></i></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div><!--end candidate-profile-->

                        <div class="candidate-profile-overview  card-body border-top p-4">
                            <h6 class="fs-17 fw-semibold mb-3">Profile Overview</h6>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Categories</label>
                                        <div>
                                            <p class="text-muted mb-0">Accounting / Finance</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Offered Salary</label>
                                        <div>
                                            <p class="text-muted mb-0">$450 per hour</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Languages</label>
                                        <div>
                                            <p class="text-muted mb-0">English, Turkish, Japanese</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Experience</label>
                                        <div>
                                            <p class="text-muted mb-0">3 Years</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Qualification</label>
                                        <div>
                                            <p class="text-muted mb-0">Associate Degree</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">Views</label>
                                        <div>
                                            <p class="text-muted mb-0">2574</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mt-3">
                                <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"><i class="uil uil-phone"></i> Contact Me</a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-hover w-100 mt-2"><i class="uil uil-import"></i> Download CV</a>
                            </div>
                            <ul class="list-inline d-flex justify-content-between align-items-center mb-0 mt-2">
                                <li class="list-inline-item text-warning review-rating">
                                    <i class="mdi mdi-star"></i>
                                    <i class="mdi mdi-star"></i>
                                    <i class="mdi mdi-star"></i>
                                    <i class="mdi mdi-star"></i>  
                                    <i class="mdi mdi-star-half-full"></i>
                                </li>
                                <li class="list-inline-item">
                                    <div class="favorite-icon">
                                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!--candidate-profile-overview-->
                        <div class="card-body p-4 border-top">
                            <h6 class="fs-17 fw-semibold mb-3">Professional Skills</h6>
                            <div>
                                <span class="badge bg-soft-success fs-13 mt-1">User Interface Design</span>
                                <span class="badge bg-soft-success fs-13 mt-1">Web Design</span>
                                <span class="badge bg-soft-success fs-13 mt-1">Responsive Design</span>
                                <span class="badge bg-soft-success fs-13 mt-1">Mobile App Design</span>
                                <span class="badge bg-soft-success fs-13 mt-1">UI Design</span>
                            </div>
                        </div><!--end card-body-->
                        <div class="candidate-contact-details card-body p-4 border-top">
                            <h6 class="fs-17 fw-semibold mb-3">Contact Details</h6>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="d-flex align-items-center mt-4">
                                        <div class="icon bg-soft-primary flex-shrink-0">
                                            <i class="uil uil-envelope-alt"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6 class="fs-14 mb-1">Email</h6>
                                            <p class="text-muted mb-0">{{ candidate.user.email }}</p> 
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center mt-4">
                                        <div class="icon bg-soft-primary flex-shrink-0">
                                            <i class="uil uil-map-marker"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6 class="fs-14 mb-1">Address</h6>
                                            <p class="text-muted mb-0">Dodge City, Louisiana</p> 
                                        </div>
                                    </div>
                                </li>
                                {% if candidate.user.phone_number %}
                                <li>
                                    <div class="d-flex align-items-center mt-4">
                                        <div class="icon bg-soft-primary flex-shrink-0">
                                            <i class="uil uil-phone"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6 class="fs-14 mb-1">Phone</h6>
                                            <p class="text-muted mb-0">{{ candidate.user.phone_number }}</p> 
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                        </div><!--end candidate-overview-->
                    </div><!--end card-->
                </div><!--end col-->
                
                <div class="col-lg-8">
                    <div class="card profile-content-page mt-4 mt-lg-0">
                        {% if candidate.user == request.user %}
                        <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                                    data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                                    aria-selected="true">
                                    Overview
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="settings-tab" data-bs-toggle="pill"
                                    data-bs-target="#settings" type="button" role="tab" aria-controls="settings"
                                    aria-selected="false">
                                    Settings
                                </button>
                            </li>
                        </ul>
                        <!--end profile-content-nav-->
                        {% endif %}
                        <div class="card-body p-4">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    {% if candidate.user.about %}
                                    <div>
                                        <h6 class="fs-17 fw-semibold mb-3">About Me</h6>
                                        <p class="text-muted mb-0">{{ candidate.user.about }}</p>
                                    </div>
                                    {% endif %}
                                    <div class="candidate-education-details mt-4 pt-3">
                                        <h6 class="fs-17 fw-bold mb-0">Education</h6>
                                        <div class="candidate-education-content mt-4 d-flex">
                                            <div class="circle flex-shrink-0 bg-soft-primary"> B </div>
                                            <div class="ms-4">
                                                <h6 class="fs-16 mb-1">BCA - Bachelor of Computer Applications</h6>
                                                <p class="mb-2 text-muted">International University - (2004 - 2010)</p>
                                                <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                            </div>
                                        </div>
                                        <div class="candidate-education-content mt-4 d-flex">
                                            <div class="circle flex-shrink-0 bg-soft-primary"> M </div>
                                            <div class="ms-4">
                                                <h6 class="fs-16 mb-1">MCA - Master of Computer Application</h6>
                                                <p class="mb-2 text-muted">International University - (2010 - 2012)</p>
                                                <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                            </div>
                                        </div> 
                                        <div class="candidate-education-content mt-4 d-flex">
                                            <div class="circle flex-shrink-0 bg-soft-primary"> D </div>
                                            <div class="ms-4">
                                                <h6 class="fs-16 mb-1">Design Communication Visual</h6>
                                                <p class="text-muted mb-2">International University - (2012-2015)</p>
                                                <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                            </div>
                                        </div>
                                    </div><!--end candidate-education-details-->
                                    <div class="candidate-education-details mt-4 pt-3">
                                        <h6 class="fs-17 fw-bold mb-0">Experience</h6>
                                        <div class="candidate-education-content mt-4 d-flex">
                                            <div class="circle flex-shrink-0 bg-soft-primary"> W </div>
                                            <div class="ms-4">
                                                <h6 class="fs-16 mb-1">Web Design & Development Team Leader</h6>
                                                <p class="mb-2 text-muted">Creative Agency - (2013 - 2016)</p>
                                                <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                            </div>
                                        </div>
                                        <div class="candidate-education-content mt-4 d-flex">
                                            <div class="circle flex-shrink-0 bg-soft-primary"> P </div>
                                            <div class="ms-4">
                                                <h6 class="fs-16 mb-1">Project Manager</h6>
                                                <p class="mb-2 text-muted">Jobcy Technology Pvt.Ltd - (Pressent)</p>
                                                <p class="text-muted mb-0">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidate-portfolio mt-4 pt-3">
                                        <h6 class="fs-17 fw-bold mb-0">Projects</h6>
                                        <div class="row">
                                            <div class="col-lg-4 mt-4">
                                                <div class="candidate-portfolio-box card border-0">
                                                    <img src="{% static 'main/images/blog/img-01.jpg' %}" alt="" class="img-fluid">
                                                    <div class="bg-overlay"></div>
                                                    <div class="zoom-icon">
                                                        <a href="{% static 'main/images/blog/img-01.jpg' %}" class="image-popup text-white" data-title="The Coding Awards" data-description="There are many variations of passages of available, but the majority alteration in some form."><i class="uil uil-search-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mt-4">
                                                <div class="candidate-portfolio-box card border-0">
                                                    <img src="{% static 'main/images/blog/img-02.jpg' %}" alt="" class="img-fluid">
                                                    <div class="bg-overlay"></div>
                                                    <div class="zoom-icon">
                                                        <a href="{% static 'main/images/blog/img-02.jpg' %}" class="image-popup text-white" data-title="Project Explained" data-description="There are many variations of passages of available, but the majority alteration in some form."><i class="uil uil-search-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mt-4">
                                                <div class="candidate-portfolio-box card border-0">
                                                    <img src="{% static 'main/images/blog/img-03.jpg' %}" alt="" class="img-fluid">
                                                    <div class="bg-overlay"></div>
                                                    <div class="zoom-icon">
                                                        <a href="{% static 'main/images/blog/img-03.jpg' %}" class="image-popup text-white" data-title="Social Geek Made" data-description="There are many variations of passages of available, but the majority alteration in some form."><i class="uil uil-search-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end candidate-portfolio-->
                                    <div class="mt-4 pt-3">
                                        <div class="d-sm-flex align-items-top">
                                            <div class="flex-shrink-0">
                                                <img class="rounded-circle avatar-md img-thumbnail" src="{% static 'main/images/user/img-04.jpg' %}" alt="img">
                                            </div>
                                            <div class="flex-grow-1 ms-sm-3">
                                                <div>
                                                    <p class="text-muted float-end fs-14 mb-2">Jun 23, 2021</p>
                                                    <h6 class="mt-sm-0 mt-3 mb-1">Michelle Durant</h6>
                                                    <div class="text-warning review-rating mb-2">
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>  
                                                        <i class="mdi mdi-star-half-full"></i>
                                                    </div>
                                                    <p class="text-muted fst-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-sm-flex align-items-top mt-4">
                                            <div class="flex-shrink-0">
                                                <img class="rounded-circle avatar-md img-thumbnail" src="{% static 'main/images/user/img-02.jpg' %}" alt="img">
                                            </div>
                                            <div class="flex-grow-1 ms-sm-3">
                                                <div>
                                                    <p class="text-muted float-end fs-14 mb-2">Jun 25, 2021</p>
                                                    <h6 class="mt-sm-0 mt-3 mb-1">Jeffrey Montgomery</h6>
                                                    <div class="text-warning review-rating mb-2">
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star-half-full"></i>
                                                        <i class="mdi mdi-star-outline"></i>
                                                    </div>
                                                    <p class="text-muted fst-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="#" class="mt-4 pt-3">
                                        <h6 class="fs-17 fw-semibold mb-2">Add a review</h6>
                                        <p class="text-muted mb-3">Your Rating for this listing</p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="inputname" class="form-label">Your Name</label>
                                                    <input type="text" class="form-control" id="inputname" placeholder="Enter your name">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="inputemail" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="inputemail" placeholder="Enter your email">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="inputsubject" class="form-label">Subject</label>
                                                    <input type="text" class="form-control" id="inputsubject" placeholder="Subject">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="inputcoment" class="form-label">Review</label>
                                                    <textarea class="form-control" id="inputcoment" rows="3" placeholder="Add your review"></textarea>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-primary btn-hover">Submit Review <i class="uil uil-angle-right-b"></i></button>
                                        </div>
                                    </form>
                                </div>
                                {% if candidate.user == request.user %}
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            <h5 class="fs-17 fw-semibold mb-3 mb-0">Account</h5>
                                            <div class="text-center">
                                                <div class="mb-4 profile-user">
                                                    {% if candidate.user.profile_photo %}
                                                    <img src="{{ candidate.user.profile_photo.url }}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="{{ candidate.user.first_name }}">
                                                    {% else %}
                                                    <img src="{% static 'main/images/user/img-02.jpg' %}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="{{ candidate.user.first_name }}">
                                                    {% endif %}
                                                    <div class="p-0 rounded-circle profile-photo-edit">
                                                        <input id="profile-img-file-input" type="file" class="profile-img-file-input" accept="image/*" onchange="previewImg(this)">
                                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                                            <i class="uil uil-edit"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="first-name" class="form-label">First Name</label>
                                                        <input type="text" name="first_name" class="form-control" id="first-name" value="{{ candidate.user.first_name }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="last-name" class="form-label">Last Name</label>
                                                        <input type="text" name="last_name" class="form-control" id="last-name" value="{{ candidate.user.last_name }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="citizenship" class="form-label">Citizenship</label>
                                                        <select class="form-select" data-trigger name="citizenship" id="citizenship" aria-label="Default select example">
                                                            {% for citizenship in citizenships %}
                                                            {% if citizenship.id == user.candidate.citizenship.id %}
                                                            <option value="{{ citizenship.id }}" selected>{{ citizenship.name }}</option>
                                                            {% else %}
                                                            <option value="{{ citizenship.id }}">{{ citizenship.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="gender" class="form-label">Gender</label>
                                                        <select class="form-select" data-trigger name="gender" id="gender" aria-label="Default select example">
                                                            <option value="male" {% if user.candidate.gender == 'male'  %}selected{% endif %}>Male</option>
                                                            <option value="female" {% if user.candidate.gender == 'female' %}selected{% endif %}>Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="email" name="email" class="form-control" id="email" value="{{ candidate.user.email }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="phone-number" class="form-label">Phone Number</label>
                                                        <input type="tel" name="phone_number" class="form-control" id="phone-number" value="{% if candidate.user.phone_number %}{{ candidate.user.phone_number }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="birthday" class="form-label">Birthday</label>
                                                        <input type="text" class="form-control" data-provide="datepicker" data-date-format="dd M, yyyy" id="birthday" name="birthday" placeholder="Your Birthday" value="{% if user.candidate.birthday %}{{ user.candidate.birthday }}{% endif %}">
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="id-card-number" class="form-label">ID Card Number</label>
                                                        <input type="text" name="id_card_number" class="form-control" id="id-card-number" value="{{ candidate.id_card_number}}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="languages" class="form-label">Languages</label>
                                                        <input type="text" class="form-control" id="languages"
                                                            value="English, German, French" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="attachmentscv" class="form-label">Attachments
                                                            CV</label>
                                                        <input class="form-control" type="file" id="attachmentscv" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="about" class="form-label">About Me</label>
                                                        <textarea class="form-control" name="about" id="about" placeholder="Write a few words to describe yourself"
                                                            rows="5">{% if candidate.user.about %}{{ candidate.user.about }}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end account-->
                                        <div class="mt-4">
                                            <h5 class="fs-17 fw-semibold mb-3">Social Media</h5>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="linkedin" class="form-label">Linkedin</label>
                                                        <input type="text" class="form-control" id="linkedin" name="linkedin_url"
                                                            placeholder="https://www.linkedin.com/in/example/"
                                                            value="{% if candidate.linkedin_url %}{{ candidate.linkedin_url }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="whatsapp" class="form-label">Whatsapp</label>
                                                        <input type="text" name="whatsapp" class="form-control" id="whatsapp"
                                                            value="{% if candidate.whatsapp %}{{ candidate.whatsapp }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end socia-media-->
                                        <div class="mt-4">
                                            <h5 class="fs-17 fw-semibold mb-3 mb-3">
                                                Change Password
                                            </h5>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="current-password-input" class="form-label">Current
                                                            password</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="Enter Current password"
                                                            id="current-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="new-password-input" class="form-label">New
                                                            password</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="Enter new password"
                                                            id="new-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="confirm-password-input" class="form-label">Confirm Password</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="Confirm Password"
                                                            id="confirm-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="verification" />
                                                        <label class="form-check-label" for="verification">
                                                            Enable Two-Step Verification via email
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end Change-password-->
                                        <div class="mt-4 text-end">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                    <!--end form-->
                                </div>
                                {% endif %}
                                <!--end tab-pane-->
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END CANDIDATE-DETAILS -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<script src="{% static 'dashboard/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Light Box Js -->
<script src="{% static 'main/libs/glightbox/js/glightbox.min.js' %}"></script>

<script src="{% static 'main/js/pages/lightbox.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'main/js/ajax/edit-account.js' %}"></script>
{% endblock script %}