{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load translate %}

{% block title %}{% tr 'Company Details' %}{% endblock title %}

{% block head %}
    <!-- Light Box Css -->
    <link rel="stylesheet" href="{% static 'main/libs/glightbox/css/glightbox.min.css' %}">

    <!-- Choise Css -->
    <link rel="stylesheet" href="{% static 'main/libs/choices.js/public/assets/styles/choices.min.css' %}">
    <link href="{% static 'dashboard/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link rel="stylesheet" href="{% static 'main/css/company-details.css' %}">
    <link href="{% static 'main/css/vacancy-box.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">{% tr 'Company Details' %}</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'main:main-index' %}">{% tr 'Home' %}</a></li>
                                    {% comment %} <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li> {% endcomment %}
                                    <li class="breadcrumb-item active" aria-current="page"> {% tr 'Company Details' %} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->


     <!-- START CANDIDATE-DETAILS -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card side-bar">
                        <div class="card-body p-4">
                            <div class="candidate-profile text-center">
                                {% if employer.user.profile_photo %}
                                <img src="{{ employer.user.profile_photo.url }}" alt="{{ employer.user.first_name }}" class="avatar-lg rounded-circle">
                                {% else %}
                                <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" alt="{{ employer.user.first_name }}" class="avatar-lg rounded-circle">
                                {% endif %}
                                <h6 class="fs-18 mb-1 mt-4">{{ employer.user.first_name }}</h6>
                                <p class="text-muted mb-4">{% tr 'Registration Date' %}: {{ employer.user.date_joined|humanize_time }}</p>
                                <ul class="list-inline d-flex justify-content-center align-items-center ">
                                    <li class="list-inline-item text-warning fs-19">
                                        <i class="mdi mdi-star"></i>
                                        <i class="mdi mdi-star"></i>
                                        <i class="mdi mdi-star"></i>
                                        <i class="mdi mdi-star"></i>
                                        <i class="mdi mdi-star-half-full"></i>
                                    </li>
                                </ul>
                                <ul class="candidate-detail-social-menu list-inline mb-0">
                                    {% if employer.facebook_url %}
                                    <li class="list-inline-item">
                                        <a href="{{ employer.facebook_url }}" target="_blank" class="social-link rounded-3 btn-soft-success">
                                            <i class="uil uil-facebook"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if employer.linkedin_url %}
                                    <li class="list-inline-item">
                                        <a href="{{ employer.linkedin_url }}" target="_blank" class="social-link rounded-3 btn-soft-primary">
                                            <i class="uil uil-linkedin"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="list-inline-item">
                                        <a href="mailto:{{ employer.user.email }}" class="social-link rounded-3 btn-soft-info">
                                            <i class="uil uil-envelope"></i>
                                        </a>
                                    </li>
                                    {% if employer.whatsapp %}
                                    <li class="list-inline-item">
                                        <a href="https://wa.me/{{ employer.whatsapp }}" target="_blank" class="social-link rounded-3 btn-soft-success">
                                            <i class="uil uil-whatsapp"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="list-inline-item">
                                        <a href="tel:{{ employer.user.phone_number }}" class="social-link rounded-3 btn-soft-danger">
                                            <i class="uil uil-phone-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end candidate-profile-->

                        <div class="candidate-profile-overview  card-body border-top p-4">
                            <h6 class="fs-17 fw-medium mb-3">{% tr 'Profile Overview' %}</h6>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">{% tr 'Ownership' %}</label>
                                        <div>
                                            <p class="text-muted mb-0">{{ employer.organization_ownership_name }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">{% tr 'Employees' %}</label>
                                        <div>
                                            <p class="text-muted mb-0">{{ employer.number_of_employees_name }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% if employer.location %}
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">{% tr 'Location' %}</label>
                                        <div>
                                            <p class="text-muted mb-0">{{ employer.location_name }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if employer.website %}
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">{% tr 'Website' %}</label>
                                        <div>
                                            <p class="text-muted text-break mb-0">{{ employer.website }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if employer.establishment_date %}
                                <li>
                                    <div class="d-flex">
                                        <label class="text-dark">{% tr 'Established' %}</label>
                                        <div>
                                            <p class="text-muted mb-0">{{ employer.establishment_date|date:'d M, Y' }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="mt-3">
                                <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"><i class="uil uil-phone"></i> {% tr 'Contact' %}</a>
                            </div>
                        </div><!--candidate-profile-overview-->
                        <div class="card-body p-4 border-top">
                            <div class="ur-detail-wrap">
                                <div class="ur-detail-wrap-header">
                                    <h6 class="fs-17 fw-medium mb-3">{% tr 'Working Days' %}</h6>
                                </div>
                                <div class="ur-detail-wrap-body">
                                    <ul class="working-days">
                                        <li>Monday<span>9AM - 6PM</span></li>
                                        <li>Tuesday<span>9AM - 6PM</span></li>
                                        <li>Wednesday<span>9AM - 6PM</span></li>
                                        <li>Thursday<span>9AM - 6PM</span></li>
                                        <li>Friday<span>9AM - 6PM</span></li>
                                        <li>Saturday<span class="text-danger">Close</span></li>
                                        <li>Sunday<span class="text-danger">Close</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--end card-body-->
                        <div class="card-body p-4 border-top">
                            <h6 class="fs-17 fw-medium mb-4">{% tr 'Company Location' %}</h6>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97236.44637530725!2d49.77255921995111!3d40.39469399746074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBaku!5e0!3m2!1sen!2saz!4v1717258352692!5m2!1sen!2saz" 
                                style="width:100%"  height="250" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div><!--end card-->
                </div><!--end col-->
                
                <div class="col-lg-8">
                    <div class="card profile-content-page mt-4 mt-lg-0">
                        {% if employer.user == request.user %}
                        <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                                    data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                                    aria-selected="true">
                                    {% tr 'Overview' %}
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="settings-tab" data-bs-toggle="pill"
                                    data-bs-target="#settings" type="button" role="tab" aria-controls="settings"
                                    aria-selected="false">
                                    {% tr 'Settings' %}
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="gallery-tab" data-bs-toggle="pill"
                                    data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery"
                                    aria-selected="false">
                                    {% tr 'Gallery' %}
                                </button>
                            </li>
                        </ul>
                        <!--end profile-content-nav-->
                        {% endif %}
                        <div class="card-body p-4">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    {% if employer.user.about %}
                                    <div class="mb-5">
                                        <h6 class="fs-17 fw-medium mb-4">{% tr 'About Company' %}</h6>
                                        <p style="white-space: pre-wrap;" class="text-muted">{{ employer.user.about }}</p>
                                    </div>
                                    {% endif %}
                                    {% if gallery %}
                                    <div class="candidate-portfolio mb-5">
                                        <h6 class="fs-17 fw-medium mb-4">{% tr 'Gallery' %}</h6>
                                        <div class="row g-3">
                                            {% for image in gallery %}
                                            {% if forloop.first %}
                                            <div class="col-lg-12">
                                                <div class="candidate-portfolio-box card border-0" style="width: 680px; height: 380px;">
                                                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
                                                    <div class="bg-overlay"></div>
                                                    <div class="zoom-icon">
                                                        <a href="{{ image.image.url }}" class="image-popup text-white" data-title="{{ image.title }}" data-description="{{ image.description }}"><i class="uil uil-search-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div><!-- end col -->
                                            {% else %}
                                            <div class="col-lg-6">
                                                <div class="candidate-portfolio-box card border-0" style="width: 330px; height: 220px;">
                                                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
                                                    <div class="bg-overlay"></div>
                                                    <div class="zoom-icon">
                                                        <a href="{{ image.image.url }}" class="image-popup text-white" data-title="{{ image.title }}" data-description="{{ image.description }}"><i class="uil uil-search-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div><!-- end col -->
                                            {% endif %}
                                            {% endfor %}
                                        </div><!-- end row -->
                                    </div><!-- end portfolio -->
                                    {% endif %}
                                    <div>
                                        <h6 class="fs-17 fw-medium mb-4">{% tr 'Current Opening' %}</h6>
                                        {% include 'job/partials/vacancy-box.html' %}
                                    </div>
    
                                    <div class="text-center mt-4">
                                        {% if vacancies.count %}
                                            <a href="{% url 'job:vacancies' %}?company={{ employer.user.first_name }}" class="primary-link form-text">{% tr 'View More' %} <i class="mdi mdi-arrow-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if employer.user == request.user %}
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            <h5 class="fs-17 fw-semibold mb-3 mb-0">{% tr 'My Account' %}</h5>
                                            <div class="row mb-5">
                                                <div class="text-center col-lg-12">
                                                    <div class="mb-4 profile-user position-relative w-100">
                                                        {% if employer.background_image %}
                                                        <img src="{{ employer.background_image.url }}" class="img-thumbnail profile-bg-img" id="background-img" alt="{{ employer.user.first_name }}">
                                                        {% else %}
                                                        <img src="{% static 'main/images/featured-job/default-job-bg.jpg' %}" class="img-thumbnail profile-bg-img" id="background-img" alt="{{ employer.user.first_name }}">
                                                        {% endif %}
                                                        <div class="p-0 profile-photo-edit bg-photo-edit">
                                                            <input name="background_image" id="background-img-file-input" type="file" class="profile-img-file-input" accept="image/*" onchange="previewImg(this)">
                                                            <label class="profile-photo-edit bg-photo avatar-xs" onclick="toggleMenu('bg-menu')">
                                                                <i class="uil uil-edit"></i>
                                                            </label>

                                                            <div class="edit-menu" id="bg-menu">
                                                                <label for="background-img-file-input" class="edit-option">{% tr 'Upload' %}</label>
                                                                <label class="edit-option" onclick="removeImage('background-img')">{% tr 'Remove' %}</label>
                                                            </div>
                                                        </div>
                                                        <div class="profile-photo-wrapper">
                                                            {% if employer.user.profile_photo %}
                                                            <img src="{{ employer.user.profile_photo.url }}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="{{ employer.user.first_name }}">
                                                            {% else %}
                                                            <img src="{% static 'main/images/featured-job/default-company-img.jpeg' %}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="{{ employer.user.first_name }}">
                                                            {% endif %}
                                                            <div class="p-0 rounded-circle profile-photo-edit">
                                                                <input name="profile_photo" id="profile-img-file-input" type="file" class="profile-img-file-input" accept="image/*" onchange="previewImg(this)">
                                                                <label class="profile-photo-edit avatar-xs" onclick="toggleMenu('profile-menu')">
                                                                    <i class="uil uil-edit"></i>
                                                                </label>

                                                                <div class="edit-menu" id="profile-menu">
                                                                    <label for="profile-img-file-input" class="edit-option">{% tr 'Upload' %}</label>
                                                                    <label class="edit-option" onclick="removeImage('profile-img')">{% tr 'Remove' %}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="company-name" class="form-label">{% tr 'Company Name' %}</label>
                                                        <input type="text" class="form-control" name="first_name" id="company-name" value="{{ employer.user.first_name }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="last-name" class="form-label">{% tr 'Company Name (Legal)' %}</label>
                                                        <input type="text" class="form-control" name="last_name" id="last-name" value="{{ employer.user.last_name }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="organization_ownership" class="form-label">{% tr 'Organization Ownership' %}</label>
                                                        <select class="form-select" data-trigger name="organization_ownership" id="organization_ownership">
                                                            {% for ownership in organization_ownerships %}
                                                            {% if ownership.id == employer.organization_ownership.id %}
                                                                <option value="{{ ownership.id }}" selected>{{ ownership.name }}</option>
                                                            {% else %}
                                                                <option value="{{ ownership.id }}">{{ ownership.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="sector" class="form-label">{% tr 'Sector' %}</label>
                                                        <select class="form-select" data-trigger name="sector" id="sector">
                                                            {% for sector in sectors %}
                                                            {% if sector.id == employer.sector.id %}
                                                                <option value="{{ sector.id }}" selected>{{ sector.name }}</option>
                                                            {% else %}
                                                                <option value="{{ sector.id }}">{{ sector.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="number_of_employees" class="form-label">{% tr 'Number of Employees' %}</label>
                                                        <select class="form-select" data-trigger name="number_of_employees" id="number_of_employees">
                                                            {% for number in number_of_employees %}
                                                            {% if number.id == employer.number_of_employees.id %}
                                                                <option value="{{ number.id }}" selected>{{ number.name }}</option>
                                                            {% else %}
                                                                <option value="{{ number.id }}">{{ number.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="organization_type" class="form-label">{% tr 'Organization Type' %}</label>
                                                        <select class="form-select" data-trigger name="organization_type" id="organization_type">
                                                            {% for type in organization_types %}
                                                            {% if type.id == employer.organization_type.id %}
                                                                <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                                            {% else %}
                                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="phone-number" class="form-label">{% tr 'Phone Number' %}</label>
                                                        <input type="tel" name="phone_number" class="form-control" id="phone-number" required
                                                            value="{% if employer.user.phone_number %}{{ employer.user.phone_number }}{% endif %}" />
                                                        <div class="invalid-feedback">{% tr 'This field is required!' %}</div>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="whatsapp" class="form-label">WhatsApp</label>
                                                        <input type="text" name="whatsapp" class="form-control" id="whatsapp"
                                                            value="{% if employer.whatsapp %}{{ employer.whatsapp }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <input type="hidden" name="location" {% if employer.location %}value="{{ employer.location.id }}"{% endif %}>
                                                        <label for="location" class="form-label">{% tr 'Location' %}</label>
                                                        <select class="form-select" data-trigger id="location">
                                                            {% for location in locations %}
                                                            {% if location.id == employer.location.id %}
                                                            <option value="{{ location.id }}" selected>{{ location.name }}</option>
                                                            {% else %}
                                                            <option value="{{ location.id }}">{{ location.name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="establishment-date" class="form-label">{% tr 'Establishment Date' %}</label>
                                                        <input type="text" class="form-control" data-provide="datepicker" data-date-format="dd M, yyyy" id="establishment-date"
                                                            name="establishment_date" placeholder="{% tr 'Company Establishment Date' %}" value="{% if employer.establishment_date %}{{ employer.establishment_date|date:'d M, Y' }}{% endif %}">
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="website" class="form-label">{% tr 'Website' %}</label>
                                                        <input type="text" name="website" class="form-control" id="website" placeholder="example.com"
                                                            value="{% if employer.website %}{{ employer.website }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="address" class="form-label">{% tr 'Address' %}</label>
                                                        <input class="form-control" type="text" placeholder="{% tr 'Write company address' %}" name="address" id="address" 
                                                            value="{% if employer.user.address %}{{ employer.user.address }}{% endif %}"/>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="about" class="form-label">{% tr 'About Company' %}</label>
                                                        <textarea class="form-control" name="about" id="about" placeholder="{% tr 'Write a few words to describe company' %}"
                                                            rows="5">{% if employer.user.about %}{{ employer.user.about }}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end account-->
                                        <div class="mt-4">
                                            <h5 class="fs-17 fw-semibold mb-3">{% tr 'Email' %}</h5>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="primary_email" class="form-label">{% tr 'Primary Email' %}</label>
                                                        <input type="emial" name="primary_email" class="form-control" id="primary_email" value="{{ employer.user.email }}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="second_email" class="form-label">{% tr 'Second Email' %}</label>
                                                        <input type="emial" name="second_email" class="form-control" id="second_email" placeholder="example@mail.com"
                                                            value="{% if employer.second_email %}{{ employer.second_email }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="other_email" class="form-label">{% tr 'Other Email' %}</label>
                                                        <input type="emial" name="other_email" class="form-control" id="other_email" placeholder="example@mail.com"
                                                            value="{% if employer.other_email %}{{ employer.other_email }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end profile-->
                                        <div class="mt-4">
                                            <h5 class="fs-17 fw-semibold mb-3">Social Media</h5>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="facebook" class="form-label">Facebook</label>
                                                        <input type="text" class="form-control" id="facebook" name="facebook_url"
                                                            placeholder="https://www.facebook.com/example/" pattern="https://.*"
                                                            value="{% if employer.facebook_url %}{{ employer.facebook_url }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="linkedin" class="form-label">Linkedin</label>
                                                        <input type="text" class="form-control" id="linkedin" name="linkedin_url"
                                                            placeholder="https://www.linkedin.com/in/example/" pattern="https://.*"
                                                            value="{% if employer.linkedin_url %}{{ employer.linkedin_url }}{% endif %}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end socia-media-->
                                        <div class="mt-4">
                                            <h5 class="fs-17 fw-semibold mb-3 mb-3">
                                                Change Password
                                            </h5>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="current-password-input" class="form-label">{% tr 'Current Password' %}</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="{% tr 'Enter Current password' %}"
                                                            id="current-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="new-password-input" class="form-label">{% tr 'New Password' %}</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="{% tr 'Enter new password' %}"
                                                            id="new-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="confirm-password-input" class="form-label">{% tr 'Confirm Password' %}</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="{% tr 'Confirm Password' %}"
                                                            id="confirm-password-input" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="verification" />
                                                        <label class="form-check-label" for="verification">
                                                            {% tr 'Enable Two-Step Verification via email' %}
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end Change-password-->
                                        <div class="mt-4 text-end">
                                            <button type="submit" class="btn btn-primary">{% tr 'Update' %}</button>
                                        </div>
                                    </form>
                                    <!--end form-->
                                </div>

                                <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                                    <form action="{% url 'user:gallery-upload' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="alert alert-warning" role="alert" id="limit-alert" style="display: none;">
                                            {% tr 'You can add 5 images to the gallery!' %}
                                        </div>
                                        <div id="gallery-images">
                                            {% if gallery %}
                                            {% for image in gallery %}
                                            <div class="d-flex justify-content-between mb-5" id="{{ image.id }}">
                                                <input type="hidden" name="image-id" value="{{ image.id }}">
                                                <div class="image-upload-wrapper has-image">
                                                    {% if image.image %}
                                                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                                                    {% else %}
                                                    <img src="" alt="{{ image.title }}">
                                                    {% endif %}
                                                </div>
                                                <div class="ms-3 w-100">
                                                    <div class="d-flex">
                                                        <input name="title" type="text" class="form-control mb-2" value="{{ image.title }}" placeholder="{% tr 'Title' %}">
                                                        <button class="btn btn-danger fs-17 mb-2 ms-3" onclick="deleteImage(this)"><i class="uil uil-trash-alt"></i></button>
                                                    </div>
                                                    <textarea name="description" class="form-control" rows="3" placeholder="{% tr 'Description' %}">{{ image.description }}</textarea>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            <div class="d-flex justify-content-between mb-5">
                                                <input type="hidden" name="image-id" value="0">
                                                <div class="image-upload-wrapper" id="image-upload-wrapper-0" onclick="document.getElementById('imageUpload-0').click();">
                                                    <img id="uploadedImage-0" src="" alt="{% tr 'Uploaded Image' %}">
                                                    <input name="image-0" type="file" id="imageUpload-0" accept="image/*" style="display: none;" onchange="previewGalleryImage(event, 0)">
                                                </div>
                                                <div class="ms-3 w-100">
                                                    <div class="d-flex">
                                                        <input name="title" type="text" class="form-control mb-2" placeholder="{% tr 'Title' %}">
                                                        <button class="btn btn-danger fs-17 mb-2 ms-3" onclick="deleteImage(this)"><i class="uil uil-trash-alt"></i></button>
                                                    </div>
                                                    <textarea name="description" class="form-control" rows="3" placeholder="Description"></textarea>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
    
                                        <div class="w-100 d-flex justify-content-between">
                                            <button class="btn btn-success" type="submit">Save <i class="uil uil-image-v"></i></button>
                                            <button class="btn btn-primary" type="button" onclick="addImage()">{% tr 'Add Image' %} <i class="uil uil-plus-circle"></i></button>
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                                <!--end tab-pane-->
                            </div>
                        </div><!-- card body end -->
                    </div><!--end card-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END CANDIDATE-DETAILS -->

    <!-- START APPLY MODAL -->
    <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <div class="text-center mb-4">
                        <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                    </div>
                    <div class="position-absolute end-0 top-0 p-3">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <label for="nameFormControlInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameFormControlInput" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="emailFormControlInput" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="emailFormControlInput" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message"></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                        <input type="file" class="form-control" id="inputGroupFile01">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Application</button>
                </div>
            </div>
        </div>
    </div><!-- END APPLY MODAL -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<script src="{% static 'dashboard/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<!-- Light Box Js -->
<script src="{% static 'main/libs/glightbox/js/glightbox.min.js' %}"></script>

<script src="{% static 'main/js/pages/lightbox.init.js' %}"></script>

<!-- Masonary Js -->
<script src="{% static 'main/libs/masonry-layout/masonry.pkgd.min.js' %}"></script>

<!-- Choice Js -->
<script src="{% static 'main/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'main/js/ajax/edit-employer-account.js' %}"></script>
<script src="{% static 'main/js/ajax/vacancy-actions.js' %}"></script>

{% endblock script %}