{% extends 'base.html' %}
{% load static %}
{% load site_content %}
{% load translate %}

{% block title %}{% tr 'Confirm Password Reset' %}{% endblock title %}

{% block head %}
    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/sign-process.css' %}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
{% get_site_content 'CONFIRM_PASSWORD_RESET' as confirm_password_reset %}

<div class="page-content">

    <!-- START SIGN-IN -->
    <section class="bg-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="card auth-box">
                        <div class="row g-0">
                            <div class="col-lg-6 text-center sign-page-banner">
                                <div class="card-body p-4">
                                    <div class="mt-5">
                                        {% if confirm_password_reset.image %}<img src="{{ confirm_password_reset.image.url }}" class="img-fluid">{% endif %}
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="auth-content card-body p-5 h-100 text-white">
                                    <div class="w-100">
                                        <div class="text-center mb-4">
                                            <h5>{{ confirm_password_reset.title }}</h5>
                                            <div class="alert alert-warning text-center mb-4" role="alert" style="padding: 10px 0;">
                                                {% tr 'Your password must be at least 6 characters long!' %}
                                            </div>
                                        </div>
                                        <form class="auth-form" method="post">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="usernameInput" class="form-label">{% tr 'New Password' %}</label>
                                                <input type="password" name="new_password1" class="form-control" id="usernameInput" placeholder="{% tr 'Enter your username' %}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="passwordInput" class="form-label">{% tr 'Confirm Password' %}</label>
                                                <input type="password" name="new_password2" class="form-control" id="passwordInput" placeholder="{% tr 'Enter your password' %}" required>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-white btn-hover w-100">{% tr 'Reset Password' %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end auth-box-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END SIGN-IN -->
    
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}

<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>
{% endblock script %}