{% extends 'base.html' %}
{% load static %}
{% load translate %}

{% block title %}{% tr 'Password Reset Request Sent' %}{% endblock title %}

{% block head %}
<!-- Bootstrap Css -->
<link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'main/css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<!--Custom Css-->
{% endblock head %}

{% block content %}
<div class="page-content">

    <!-- START COMING-SOON -->
    <section class="bg-coming-soon bg-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <div class="pb-3">
                            <img src="{% static 'main/images/email-sent.gif' %}" height="200" class="mg-fluid">
                        </div>
                        <h1>{% tr 'Password Reset Request Sent' %}</h1>
                        <p class="text-muted mb-4 pb-3">{% tr 'Please check your inbox and follow the instruction to reset your password.' %}</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END COMING-SOON -->

</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>
{% endblock script %}