{% extends 'base.html' %}
{% load static %}
{% load site_content %}
{% load translate %}

{% block title %}{% tr 'Sign In' %}{% endblock title %}

{% block head %}
    <!-- Bootstrap Css -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'main/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'main/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="{% static 'main/css/sign-process.css' %}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
{% get_site_content 'SIGN_IN' as signin %}

<div class="page-content">

    <!-- START SIGN-IN -->
    <section class="bg-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="card auth-box">
                        <div class="row g-0">
                            <div class="col-lg-6 text-center sign-page-banner">
                                <div class="card-body p-4">
                                    <!-- <a href="{% url 'main:main-index' %}">
                                        <img src="{% static 'main/images/mec-logo.png' %}" alt="" class="logo-light">
                                        <img src="{% static 'main/images/mec-logo.png' %}" alt="" class="logo-dark">
                                    </a> -->
                                    <div class="mt-5">
                                        {% if signin.image %}<img src="{{ signin.image.url }}" class="img-fluid">{% endif %}
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="auth-content card-body p-5 h-100 text-white">
                                    <div class="w-100">
                                        <div class="text-center mb-4">
                                            <h5>Welcome Back !</h5>
                                            {% if messages %}
                                                <div class="alert alert-warning text-center mb-4" role="alert">
                                                    {% for message in messages %}
                                                        {{ message }}<br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <form class="auth-form" method="post">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="usernameInput" class="form-label">{% tr 'Username' %}</label>
                                                <input type="text" name="username" class="form-control" id="usernameInput" placeholder="{% tr 'Enter your username' %}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="passwordInput" class="form-label">{% tr 'Password' %}</label>
                                                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="{% tr 'Enter your password' %}" required>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                                    <a href="{% url 'reset-password' %}" class="float-end text-white">{% tr 'Forgot Password?' %}</a>
                                                    <label class="form-check-label" for="flexCheckDefault">{% tr 'Remember me' %}</label>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-white btn-hover w-100">{% tr 'Sign In' %}</button>
                                            </div>
                                        </form>
                                        <div class="mt-4 text-center">
                                            <p class="mb-0">{% tr "Don't have an account ?" %} <a href="{% url 'user:sign-up' %}" class="fw-medium text-white text-decoration-underline"> {% tr 'Sign Up' %} </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end auth-box-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END SIGN-IN -->
    
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}

<!-- JAVASCRIPT -->
<script src="{% static 'main/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Switcher Js -->
<script src="{% static 'main/js/pages/switcher.init.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>
{% endblock script %}