{% extends 'cp/base.html' %}
{% load static %}

{% block title %}Companies - Control Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'cp/css/tables.css' %}">
{% endblock %}

{% block content %}

{% include 'cp/container.html' %}

<div class="table-container">
    <div id="data-filter" style="display: none;">
        <input type="checkbox" name="language" value="" checked="checked">
        <!-- In the processes.js file, the "language" input should be entered here to avoid errors. -->
    </div>

    <div class="caption" id="caption">Companies</div>
    <div id="table"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'cp/js/command.js' %}"></script>
<script src="{% static 'cp/js/processes.js' %}"></script>
<script src="{% static 'cp/js/renderer.js' %}"></script>

<script>
    var hot;
    const saveUrl = "{% url 'cp:company_save' %}";
    const loadUrl = "{% url 'cp:company_load' %}";
    const bmtTable = document.getElementById('table');
    const consoleText = 'Companies';
    const modelColumnMap = {
        'sector':[3],
        'organization_type':[4],
        'organization_ownership':[5],
        'number_of_employees':[6]

        /* We specify the names of the models from which data will be retrieved for updating as keys,
        and the IDs of the columns to be updated as values. This structure is used to clearly define
        which column will be updated from which model. */
    };

    $(document).ready(function() {
        hot = new Handsontable(bmtTable, {
            rowHeaders: true,
            colHeaders: true,
            stretchH: 'all',
            startRows: 1,
            wordWrap: true,
            filters: true,
            height: $(document).height() - 350,
            data: [{id:''}],
            fixedColumnsLeft: 3,
            colWidths: [0, 50, 450, 250, 250, 250, 250, 250, 250, 250, 250, 100, 100],
            dropdownMenu:  ['filter_by_value', 'filter_action_bar'],
            licenseKey: 'non-commercial-and-evaluation',

            hiddenColumns: {
                columns: [0],
                indicators: false
            },

            columns: [
                {
                    title: 'id',
                    data: 'id',
                    readOnly: true
                },
                {
                    title: 'No',
                    data: 'no',
                    className: 'htCenter htMiddle',
                },
                {
                    title: 'Organization',
                    data: 'company_name',
                },
                {
                    title: 'Sector',
                    data: 'sector',
                    type: 'dropdown',
                },
                {
                    title: 'Organization Type',
                    data: 'organization_type',
                    type: 'dropdown',
                },
                {
                    title: 'Organization Ownership',
                    data: 'organization_ownership',
                    type: 'dropdown',
                },
                {
                    title: 'Number of Employees',
                    data: 'number_of_employees',
                    type: 'dropdown',
                },
                {
                    title: 'Primary Email',
                    data: 'user__email',
                },
                {
                    title: 'Second Email',
                    data: 'second_email',
                },
                {
                    title: 'Other Email',
                    data: 'other_email',
                },
                {
                    title: 'Note',
                    data: 'note',
                },
                {
                    title: 'Logo',
                    data: 'user__profile_photo',
                    renderer: logoRenderer
                },
                {
                    title: 'Slider',
                    data: 'slider',
                    type: 'checkbox',
                    className: 'htCenter'
                },
                
            ],
        });

        loadData();
    })

</script>

{% endblock scripts %}