{% extends 'cp/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Competencies - Control Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'cp/css/tables.css' %}">
{% endblock %}

{% block content %}

{% include 'cp/container.html' %}

<div class="table-container">
    <div id="data-filter">
        <div style="display: flex; margin-bottom: 10px;">
            <div class="chb-style">
                <span style="margin-right: 5px;">Language: </span>
                <div class="filter-chb">
                    {% languages as language_list %}
                    {% for language in language_list reversed %}
                        {% if forloop.first %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"
                                    checked="checked"></span>
                            <label for="id-{{language.code}}"></label>
                        {% else %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"></span>
                            <label for="id-{{language.code}}"></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="caption" id="caption">Competencies</div>
    <div id="table"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'cp/js/command.js' %}"></script>
<script src="{% static 'cp/js/processes.js' %}"></script>
<script>
    var hot;
    const saveUrl = "{% url 'cp:competence_save' %}";
    const loadUrl = "{% url 'cp:competence_load' %}";
    const bmtTable = document.getElementById('table');
    const consoleText = 'Competencies';
    const modelColumnMap = {
        'grouping':[2]

        /* We specify the names of the models from which data will be retrieved for updating as keys,
        and the IDs of the columns to be updated as values. This structure is used to clearly define
        which column will be updated from which model. */
    };

    $(document).ready(function() {
        hot = new Handsontable(bmtTable, {
            rowHeaders: true,
            colHeaders: true,
            stretchH: 'all',
            startRows: 1,
            wordWrap: true,
            filters: true,
            data: [{id:''}],
            height: $(document).height() - 350,
            dropdownMenu:  ['filter_by_value', 'filter_action_bar'],
            licenseKey: 'non-commercial-and-evaluation',

            hiddenColumns: {
                columns: [0],
                indicators: false
            },

            columns: [
                {
                    title: 'id',
                    data: 'id',
                    readOnly: true
                },
                {
                    title: 'No',
                    data: 'no',
                    className: 'htCenter htMiddle',
                },
                {
                    title: 'Grouping',
                    data: 'grouping_name',
                    type: 'dropdown'
                },
                {
                    title: 'Name',
                    data: 'name'
                },
                {
                    title: 'Behavioral',
                    data: 'behavioral_competence',
                    type: 'checkbox',
                    className: 'htCenter'
                },
                {
                    title: 'Functional',
                    data: 'functional_competence',
                    type: 'checkbox',
                    className: 'htCenter'
                },
                {
                    title: 'IT',
                    data: 'it_competence',
                    type: 'checkbox',
                    className: 'htCenter'
                },
                {
                    title: 'Language',
                    data: 'language_competence',
                    type: 'checkbox',
                    className: 'htCenter'
                },
                {
                    title: 'Definition',
                    data: 'definition'
                },
                {
                    title: 'Note',
                    data: 'note'
                }
            ],
        });
        

        loadData();
    })

</script>

{% endblock scripts %}