{% extends 'cp/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Job Catalogue - Control Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'cp/css/tables.css' %}">
{% endblock %}

{% block content %}

{% include 'cp/container.html' %}

<div class="table-container">
    <div id="data-filter">
        <div style="display: flex; margin-bottom: 10px;">
            <div class="chb-style">
                <span style="margin-right: 5px;">Language: </span>
                <div class="filter-chb">
                    {% languages as language_list %}
                    {% for language in language_list reversed %}
                        {% if forloop.first %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"
                                    checked="checked"></span>
                            <label for="id-{{language.code}}"></label>
                        {% else %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"></span>
                            <label for="id-{{language.code}}"></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="caption" id="caption">Job Catalogue</div>
    <div id="table"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'cp/js/command.js' %}"></script>
<script src="{% static 'cp/js/processes.js' %}"></script>
<script src="{% static 'cp/js/renderer.js' %}"></script>
<script>
    var hot;
    const saveUrl = "{% url 'cp:job_catalogue_save' %}";
    const loadUrl = "{% url 'cp:job_catalogue_load' %}";
    const bmtTable = document.getElementById('table');
    const consoleText = 'Job Catalogue';
    const modelColumnMap = {
        'job_family':[3],
        // 'job_sub_family':[4],
        'career_types':[5],
        // 'career_levels':[6],
        'education_level':[12],
        'work_experience':[13]

        /* We specify the names of the models from which data will be retrieved for updating as keys,
        and the IDs of the columns to be updated as values. This structure is used to clearly define
        which column will be updated from which model. */
    };

    $(document).ready(function() {
        hot = new Handsontable(bmtTable, {
            rowHeaders: true,
            colHeaders: true,
            stretchH: 'all',
            startRows: 1,
            wordWrap: true,
            filters: true,
            data: [{id:''}],
            fixedColumnsLeft: 3,
            height: $(document).height() - 350,
            fixedColumnsStart: 1,
            dropdownMenu:  ['filter_by_value', 'filter_action_bar'],
            licenseKey: 'non-commercial-and-evaluation',

            hiddenColumns: {
                columns: [0],
                indicators: false
            },

            columns: [
                {
                    title: 'id',
                    data: 'id',
                    readOnly: true
                },
                {
                    title: 'No',
                    data: 'no',
                    className: 'htCenter htMiddle',
                },
                {
                    title: 'Job Title',
                    data: 'name',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Job Family',
                    type: 'dropdown',
                    data: 'job_family_name',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Job Sub-Family',
                    type: 'dropdown',
                    data: 'job_sub_family',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Career Type',
                    type: 'dropdown',
                    data: 'career_type_name',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Career Level',
                    type: 'dropdown',
                    data: 'career_level',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Common Duties and Responsibilities',
                    data: 'definition',
                    colWidths: 200,
                    className: 'htMiddle',
                },
                {
                    title: 'Job Description',
                    data: 'description',
                    colWidths: 200,
                    renderer: scrollableTextRenderer
                },
                {
                    title: 'Responsibilities',
                    data: 'responsibilities',
                    colWidths: 200,
                    renderer: scrollableTextRenderer
                },
                {
                    title: 'Qualification',
                    data: 'qualification',
                    colWidths: 200,
                    renderer: scrollableTextRenderer
                },
                {
                    title: 'Skill & Experience',
                    data: 'skill_experience',
                    colWidths: 200,
                    renderer: scrollableTextRenderer
                },
                {
                    title: 'Typical Education',
                    type: 'dropdown',
                    data: 'typical_education_name',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Relevant Experience',
                    type: 'dropdown',
                    data: 'relevant_experience_name',
                    colWidths: 100,
                    className: 'htMiddle',
                },
                {
                    title: 'Note',
                    data: 'note',
                    colWidths: 100,
                    renderer: scrollableTextRenderer
                },
                {
                    title: 'Job Code',
                    data: 'job_code',
                    colWidths: 100,
                    className: 'htMiddle',
                }
            ],
        });

        loadData();
    })

</script>

{% endblock scripts %}