{% extends 'cp/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Vacancy - Control Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'cp/css/tables.css' %}">
{% endblock %}

{% block content %}

{% include 'cp/container.html' %}

<div class="table-container">
    <div id="data-filter">
        <div style="display: flex; margin-bottom: 10px;">
            <div class="chb-style">
                <span style="margin-right: 5px;">Language: </span>
                <div class="filter-chb">
                    {% languages as language_list %}
                    {% for language in language_list reversed %}
                        {% if forloop.first %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"
                                    checked="checked"></span>
                            <label for="id-{{language.code}}"></label>
                        {% else %}
                            <span title="{{language.name}}"><input type="checkbox" id="id-{{language.code}}" name="language" value="{{language.code}}"></span>
                            <label for="id-{{language.code}}"></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="caption" id="caption">Vacancy</div>
    <div id="table"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'cp/js/command.js' %}"></script>
<script src="{% static 'cp/js/processes.js' %}"></script>
<script src="{% static 'cp/js/renderer.js' %}"></script>
<script>
    var hot;
    var hotData = [];
    var offset = 0;
    var limit = 1000;
    const saveUrl = "{% url 'cp:vacancy_save' %}";
    const loadUrl = "{% url 'cp:vacancy_load' %}";
    const bmtTable = document.getElementById('table');
    const language = document.querySelector("input[name='language']:checked").value;
    const consoleText = 'Vacancy';
    const modelColumnMap = {
        'career_types':[6],
        'career_levels':[7],
        'locations':[8],
        'fte':[9],
        'employment_type':[14],
        'work_experience':[15],
        'work_preference':[16],
        'department':[17],

        /* We specify the names of the models from which data will be retrieved for updating as keys,
        and the IDs of the columns to be updated as values. This structure is used to clearly define
        which column will be updated from which model. */
    };

    function fetchData() {
        loadData();
    }

    $(document).ready(function() {
        hot = new Handsontable(bmtTable, {
            rowHeaders: true,
            colHeaders: true,
            stretchH: 'all',
            startRows: 1,
            wordWrap: true,
            filters: true,
            data: [{id:''}],
            height: $(document).height() - 350,
            fixedColumnsLeft: 3,
            colWidths: [0, 50, 250, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200],
            dropdownMenu:  ['filter_by_value', 'filter_action_bar'],
            licenseKey: 'non-commercial-and-evaluation',

            hiddenColumns: {
                columns: [0],
                indicators: false
            },

            {% comment %} afterScrollVertically: function() {
                var scrollTop = this.view.wt.wtTable.holder.scrollTop;
                var scrollHeight = this.view.wt.wtTable.holder.scrollHeight;
                var clientHeight = this.view.wt.wtTable.holder.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight) {
                    
                };
            }, {% endcomment %}

            columns: [
                {
                    title: 'id',
                    data: 'id',
                    readOnly: true
                },
                {
                    title: 'No',
                    data: 'no',
                    className: 'htCenter htMiddle',
                },
                {
                    title: 'Organizatio',
                    data: 'employer__company_name',
                    className: 'htMiddle'
                },
                {
                    title: 'Position Title',
                    data: 'position_title',
                    className: 'htMiddle'
                },
                {
                    title: 'Job Title',
                    data: 'job_title',
                    className: 'htMiddle'
                },
                {
                    title: 'Definition',
                    data: 'definition',
                    className: 'htMiddle',
                    renderer: fitTextRenderer
                },
                {
                    title: 'Career Type',
                    data: 'career_type',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Career Level',
                    data: 'career_level',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Location',
                    data: 'location',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'FTE',
                    data: 'fte',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Salary Minimum',
                    data: 'salary_minimum',
                    type: 'numeric',
                    className: 'htMiddle',
                    numericFormat: {
                        pattern: '0,0.00',
                    },
                },
                {
                    title: 'Salary Midpoint',
                    data: 'salary_midpoint',
                    type: 'numeric',
                    className: 'htMiddle',
                    numericFormat: {
                        pattern: '0,0.00',
                    },
                },
                {
                    title: 'Salary Maximum',
                    data: 'salary_maximum',
                    type: 'numeric',
                    className: 'htMiddle',
                    numericFormat: {
                        pattern: '0,0.00',
                    },
                },
                {
                    title: 'Salary',
                    data: 'salary',
                    type: 'numeric',
                    className: 'htMiddle',
                    numericFormat: {
                        pattern: '0,0.00',
                    },
                },
                {
                    title: 'Employment Type',
                    data: 'employment_type',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Work Experience',
                    data: 'work_experience',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Work Preference',
                    data: 'work_preference',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Department',
                    data: 'department',
                    type: 'dropdown',
                    className: 'htMiddle'
                },
                {
                    title: 'Created Date',
                    data: 'created_date',
                    className: 'htMiddle'
                }

            ],
        });

        function loadData() {
            $.ajax({
                url: loadUrl,
                data: { offset: offset, limit: limit, language: language},
                dataType: 'json',
                type: 'POST',
                success: function (resp) {
                    response = JSON.parse(resp);

                    if (response.length){
                        offset += limit;
                        hotData = hotData.concat(response);
                        tableConsole.innerText = `${consoleText} : Data loading: ${hotData.length}`;
                        loadData();

                    }else {
                        hot.loadData(hotData);
                        hotData = [];

                        try {
                            loadSource(modelColumnMap);
                        } catch (error) {
                            console.info('This table has no dropdown columns!')
                        }
            
                        tableConsole.innerText = `${consoleText} : Data loaded...`;
                    };
                }
            });
        };
        

        loadData();
    })

</script>

{% endblock scripts %}