.navbar .navbar-nav .nav-link, .dropdown .dropdown-menu .dropdown-item, .breadcrumb-item {
    text-transform: none !important;
}

.login-mobile {
    display: none !important;
}

.choices__list--dropdown {
    max-height: none !important;
}

@media only screen and (max-width: 768px) {
    .login-mobile {
      display: inline !important;
    }

    .language-mobile {
        display: inline !important;
    }
}

@media only screen and (max-width: 992px) {
    #logindropdown .arrow-down {
        display: none !important;
    }
}