.navbar .navbar-nav .nav-link, .dropdown .dropdown-menu .dropdown-item, .breadcrumb-item {
    text-transform: none !important;
}

.choices__list--dropdown {
    max-height: none !important;
}

@media only screen and (max-width: 768px) {
    .language-mobile {
        display: inline !important;
    }
}

#marquee {
    height: 38.5px;
}

.top-bar {
    display: inline !important;
}

@media only screen and (max-width: 992px) {
    .login-arrow-down::after {
        position:  unset !important;
    }
}