.navbar .navbar-nav .nav-link, .dropdown .dropdown-menu .dropdown-item, .breadcrumb-item {
    text-transform: none !important;
}

.choices__list--dropdown {
    max-height: none !important;
}

@media only screen and (max-width: 768px) {
    .language-mobile {
        display: inline !important;
    }
}

#marquee {
    height: 38.5px;
}

.top-bar {
    display: inline !important;
    position: fixed !important;
    z-index: 5 !important;
}

@media only screen and (max-width: 992px) {
    .login-arrow-down::after {
        position:  unset !important;
    }
}

.navbar {
    margin-top: 0 !important;
}

#whatsapp {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #8c85f6;
    border-color: transparent;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 99;
    font-size: 24px;
    justify-content: center;
}