@media only screen and (max-width: 992px) {
    .user-profile-photo {
      width: auto;
    }

    .user-profile-photo > a > img {
        width: 30px;
        height: 30px;
      }

    .bookmark-content {
        width: 75%;
    }

    .bookmark-content > div {
        margin-top: 0 !important;
    }
}