.image-upload-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #dbdfe2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body[data-layout-mode="dark"] .image-upload-wrapper {
    border-color: #3d454e;
    background-color: #303841;
}

.image-upload-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.image-upload-wrapper::before {
    content: '+';
    font-size: 2rem;
    color: #ddd;
}

.image-upload-wrapper img {
    display: none;
}

.image-upload-wrapper.has-image::before {
    display: none;
}

.image-upload-wrapper.has-image img {
    display: block;
}

.profile-user {
    position: relative;
}

.profile-bg-img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.bg-photo-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
}

.profile-photo-wrapper {
    position: absolute;
    bottom: -50px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.profile-photo-wrapper .profile-img {
    width: 100%;
    height: 100%;
}

.profile-photo-wrapper .profile-photo-edit {
    bottom: 0;
}

.bg-photo {
    right: 10px !important;
}

body[data-layout-mode="dark"] .bg-photo-edit,
body[data-layout-mode="dark"] {
    background-color: #303841;
}

@media only screen and (max-width: 768px) {
    .profile-bg-img {
        height: 200px;
    }
}

.edit-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #dbdfe2;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.edit-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

body[data-layout-mode="dark"] .edit-menu {
    background: #303841;
    border-color: #3d454e;
}

body[data-layout-mode="dark"] .edit-menu::before {
    border-color: transparent transparent #303841 transparent;
}

.edit-option {
    display: block;
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
    text-align: left;
}

body[data-layout-mode="dark"] .edit-option {
    color: #ddd;
}

.project-gallery {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.project-gallery button {
    padding: 0 5px !important;
}

.gallery-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

.gallery-item {
    position: relative;
    width: 50px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ae2c38;;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}

.project-gallery {
    overflow: hidden;
}

.gallery-container {
    position: relative;
    width: 100px;
    height: 60px;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #adb5bd;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.overlay a {
    text-decoration: none;
    color: inherit;
}

.gallery-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

body[data-layout-mode="dark"] .project-gallery {
    color: #f8f9fa;
    border-color: #3d454e;
    background-color: #303841;
}

.edit-option:hover {
    background: #f5f5f5;
}

body[data-layout-mode="dark"] .edit-option:hover {
    background: #3d454e;
}

#pills-tab {
    justify-content: space-around;
}
.profile-content-nav.nav-pills .nav-item .nav-link {
    padding: 12px 0 !important;
}