#slider1 {
  /* Right button of Salary Range slider moves off the page */
  padding-right: 15px;
}

.sectors {
  flex-basis: auto !important;
  font-size: 13px;
  width: 200px;
  margin: 2px;
}

.sectors-btn {
  min-height: 50px;
  padding: 0 5px !important;
  border: 1px solid !important;
  border-color: #dbdfe2 !important;
}

body[data-layout-mode="dark"] .sectors-btn {
  border-color: #3d454e !important;
  color: #f8f9fa !important;
}

@media (max-width: 767px) {

  #job-list .row {
      flex-direction: column-reverse;
  }

  .col-lg-6 {
      order: -1;
      margin-top: 1rem !important;
  }

  .col-lg-3 .mt-5 {
      margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 600px) {
    .pagination .page-item .page-link {
      height: 30px;
      width: 30px;
      margin: 0 2px;
    }
}