#slider1 {
  /* Right button of Salary Range slider moves off the page */
  padding-right: 15px;
}

.sectors {
  flex-basis: auto !important;
  font-size: 13px;
  width: 200px;
  margin: 2px;
}

.sectors-btn {
  min-height: 50px;
  padding: 0 5px !important;
  border: 1px solid !important;
  border-color: #dbdfe2 !important;
}

body[data-layout-mode="dark"] .sectors-btn {
  border-color: #3d454e !important;
  color: #f8f9fa !important;
}

.choices__item--selectable, .choices__item--choice {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.choices__list--dropdown {
  z-index: 100;
  max-height: none;
}

.active-trend {
  color: #766df4 !important;
}

.uil-thumbs-up {
  color: gray;
  cursor: pointer;
}

.uil-thumbs-up.liked {
  color: #766df4;
}

@media (max-width: 767px) {

  #job-list #row-container {
      flex-direction: column-reverse;
  }

  .middle-bar {
      order: -1;
      margin-top: 1rem !important;
  }

  .side-bar {
      margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 600px) {
    .pagination .page-item .page-link {
      height: 30px;
      width: 30px;
      margin: 0 2px;
    }
}

@media only screen and (max-width:992px){
  .job-list-menu {
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      justify-content: normal;
      overflow: auto;
      margin-bottom: 0 !important
  }

  .job-list-menu li {
      white-space: nowrap;
  }

  .sectors {
      width: 150px;
  }
}