.hiw-mobile {
    display: none;
}

.bg-home {
    padding: 200px 0 190px 0 !important;
}

@media only screen and (max-width: 992px) {
    .hiw-mobile {
        display: inline;
    }
    .hiw-desktop {
        display: none;
    }

    #how-it-work-content {
        width: 70%;
    }

    #how-it-work-content .row {
        width: 70%;
    }

    #how-it-work-image {
        width: 30%;
    }
}