@media only screen and (max-width: 992px) {
    .job-box img {
      width: 30px;
      height: 30px;
    }

    .company-logo {
      width: auto;
    }

    .vacancy-content {
      width: 80%;
    }
}