.choices__item--selectable, .choices__item--choice {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.choices__list--dropdown {
  z-index: 100;
  max-height: none;
}

@media only screen and (max-width: 600px) {
    .job-box img {
      width: 30px;
      height: 30px;
    }

    .company-logo {
      width: auto;
    }

    .vacancy-content {
      width: 80%;
    }
}