{% extends 'dashboard/base.html' %}
{% load static %}
{% load translate %}

{% block title %}{% tr 'My Vacancies - DASHBOARD / MY VACANCIES' %}{% endblock title %}

{% block head %}
    <!-- DataTables -->
    <link href="{% static 'dashboard/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'dashboard/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Sweet Alert-->
    <link href="{% static 'dashboard/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
     <link href="{% static 'dashboard/css/datatables-custom-style.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <a href="{% url 'dashboard:post-vacancy' %}"><button class="btn btn-info" type="button"><i class="mdi mdi-plus"></i>{% tr 'Add Vacancy - DASHBOARD / MY VACANCIES' %}</button></a>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{% tr 'Vacancies - DASHBOARD / MY VACANCIES' %}</a></li>
                            <li class="breadcrumb-item active">{% tr 'My Vacancies - DASHBOARD / MY VACANCIES' %}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">{{user.employer.vacancies.count}} {% tr 'Vacancies - DASHBOARD / MY VACANCIES' %}</h4>

                        <div class="table-responsive">
                            <table class="table table-centered datatable" data-page-length="10" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>{% tr 'Position Title - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Job Title - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Career Type - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Career Level - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Salary Min - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Salary Mid - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Salary Max - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Salary - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Views - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Vacancy Type - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Status - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Payment - DASHBOARD / MY VACANCIES' %}</th>
                                        <th>{% tr 'Action - DASHBOARD / MY VACANCIES' %}</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-payment-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0">Payment Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="wedget-popular-title mt-4">
                            <div class="row justify-content-center">
                                <ul class="job-list-menu nav nav-pills nav-justified flex-sm-row mb-4" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-toggle="pill" role="tab" href="#" value="">{% tr 'Standart' %}</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="pill" role="tab" href="#" value="">{% tr 'Premium' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <div class="custom-control custom-radio mb-2">
                                <input type="radio" id="radio1" name="radio" class="custom-control-input" value="n" checked>
                                <label class="custom-control-label" for="radio1">Normal</label>
                            </div>
                            <div class="custom-control custom-radio mb-2">
                                <input type="radio" id="radio2" name="radio" class="custom-control-input" value="d">
                                <label class="custom-control-label" for="radio2">Discounted</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="discount-code">Discount Code</label>
                            <input id="discount-code" type="text" placeholder="CODE" class="input-mini form-control" value="4HJ8A3">
                        </div>
                        
                        
                        <p class="mb-0">Aenean lacinia bibendum nulla sed consectetur.
                            Praesent commodo cursus magna, vel scelerisque
                            nisl consectetur et. Donec sed odio dui. Donec
                            ullamcorper nulla non metus auctor
                            fringilla.</p>

                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-light waves-effect">Total Price - 50 AZN</button>
                        <a href="https://epoint.az/az/pay/7oOZ8YuP2336060" target="_blank" type="button" class="btn btn-dark btn-rounded waves-effect waves-light">Pay</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'dashboard/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'dashboard/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'dashboard/libs/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- Sweet alert init js-->
    <script src="{% static 'dashboard/js/pages/sweet-alerts.init.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'dashboard/js/ajax/my-vacancies-table.js' %}"></script>
{% endblock script %}