{% extends 'dashboard/base.html' %}
{% load static %}
{% load site_content %}

{% block title %}Edit Account{% endblock title %}

{% block head %}
    <link href="{% static 'dashboard/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.css' %}" rel="stylesheet" type="text/css" />

    <!-- Custom Css-->
    <link href="{% static 'dashboard/css/edit-account.css' %}" rel="stylesheet" type="text/css" />

{% endblock head %}

{% block content %}
{% get_site_content 'EMPLOYER_COMPLETE_REGISTER' as complete_register %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    {% if 'complete' in request.path %}
                    <h4 class="mb-0">Complete Your Register</h4>
                    {% else %}
                    <h4 class="mb-0">Edit Account</h4>
                    {% endif %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            {% if 'complete' in request.path %}
                            <li class="breadcrumb-item active">Register</li>
                            {% else %}
                            <li class="breadcrumb-item active">Edit Account</li>
                            {% endif %}
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% if complete_register and 'complete' in request.path %}
                            <p class="card-title-desc alert alert-danger">{{ complete_register.content }}</p>
                        {% endif %}
                        <form novalidate method="post" enctype="multipart/form-data" class="needs-validation">
                            {% csrf_token %}
                            <div class="row">
                                <div class="text-center col-lg-6">
                                    <div class="mb-2 profile-user">
                                    <label for="profile-img-file-input">
                                        <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}{% static 'main/images/user/img-02.jpg' %}{% endif %}" class="rounded-circle img-thumbnail profile-img" id="profile-img" alt="">
                                        <input id="profile-img-file-input" type="file" class="profile-img-file-input" name="profile_photo" accept="image/*" onchange="previewImg(this)">     
                                        <span class="icon-center"><i class="ri-edit-line"></i></span>
                                        <span class="profile-photo-text">Company Logo</span>
                                    </label>
                                    </div>
                                </div>
                                <div class="text-center col-lg-6">
                                    <div class="mb-2 profile-user">
                                    <label for="background-img-file-input">
                                        <img src="{% if user.employer.background_image %}{{ user.employer.background_image.url }}{% else %}{% static 'main/images/user/img-02.jpg' %}{% endif %}" class="img-thumbnail profile-img" id="background-img" alt="" style="width: 300px;">
                                        <input id="background-img-file-input" type="file" class="profile-img-file-input" name="background_image" accept="image/*" onchange="previewImg(this)">     
                                        <span class="icon-center"><i class="ri-edit-line"></i></span>
                                        <span class="profile-photo-text">Background Image</span>
                                    </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="first-name">Company Name</label>
                                        <input type="text" class="form-control" id="first-name" name="first_name" placeholder="Company name" value="{{ user.first_name }}" required>
                                        <div class="invalid-feedback">This field is required!</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="last-name">Company Name (Legal)</label>
                                        <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Legal name" value="{{ user.last_name }}" required>
                                        <div class="invalid-feedback">This field is required!</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="phone-number">Phone Number</label>
                                        <input type="text" class="form-control" id="phone-number" name="phone_number" placeholder="Ex: +994 XX-XXX-XX-XX" value="{% if user.phone_number %}{{ user.phone_number }}{% endif %}" required>
                                        <div class="invalid-feedback">This field is required!</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ user.username }}" required>
                                        <div class="invalid-feedback">This field is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Sector</label>
                                        <select class="form-control select2" name="sector">
                                            {% for sector in sectors %}
                                                {% if sector.name == user.employer.sector %}
                                                    <option selected>{{ sector.name }}</option>
                                                {% else %}
                                                    <option>{{ sector.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Number of Employees</label>
                                        <select class="form-control select2" name="number_of_employees">
                                            {% for number in number_of_employees %}
                                                {% if number.name == user.employer.number_of_employees %}
                                                    <option selected>{{ number.name }}</option>
                                                {% else %}
                                                    <option>{{ number.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Organization Ownership</label>
                                        <select class="form-control select2" name="organization_ownership">
                                            {% for ownership in organization_ownerships %}
                                                {% if ownership.name == user.employer.organization_ownership %}
                                                    <option selected>{{ ownership.name }}</option>
                                                {% else %}
                                                    <option>{{ ownership.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Organization Type</label>
                                        <select class="form-control select2" name="organization_type">
                                            {% for type in organization_types %}
                                                {% if type.name == user.employer.organization_type %}
                                                    <option selected>{{ type.name }}</option>
                                                {% else %}
                                                    <option>{{ type.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="primary-email">Primary Email</label>
                                        <input type="text" class="form-control" id="primary-email" name="primary_email" placeholder="example@email.com" value="{{ user.employer.user.email }}" required>
                                        <div class="invalid-feedback">This field is required!</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="second-email">Second Email</label>
                                        <input type="text" class="form-control" id="second-email" name="second_email" placeholder="example@email.com" value="{% if user.employer.second_email %}{{ user.employer.second_email }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="other-email">Other Email</label>
                                        <input type="text" class="form-control" id="other-email" name="other_email" placeholder="example@email.com" value="{% if user.employer.other_email %}{{ user.employer.other_email }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="certificate-of-registration">Certificate of Registration</label>
                                        <div class="custom-file text-truncate">
                                            <input type="file" class="custom-file-input" id="certificate-of-registration" name="certificate_of_registration">
                                            <label class="custom-file-label " for="certificate-of-registration">{% if user.employer.certificate_of_registration %}{{ user.employer.certificate_of_registration }}{% else %}Choose file{% endif %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if 'complete' in request.path %}
                            <button class="btn btn-primary" type="submit">Complete!</button>
                            {% else %}
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- end card -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'dashboard/libs/parsleyjs/parsley.min.js' %}"></script>

    <script src="{% static 'dashboard/js/pages/form-validation.init.js' %}"></script>

    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <script src="{% static 'dashboard/libs/select2/js/select2.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'dashboard/js/pages/edit-account.js' %}"></script>
{% endblock script %}