{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Post Vacancy{% endblock title %}

{% block head %}
    <link href="{% static 'dashboard/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    
    <!-- twitter-bootstrap-wizard css -->
    <link rel="stylesheet" href="{% static 'dashboard/libs/twitter-bootstrap-wizard/prettify.css' %}">
    <!-- Bootstrap Css -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dashboard/css/app.css' %}" rel="stylesheet" type="text/css" />
    <!-- Ckeditor Css-->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">

{% endblock head %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    {% if vacancy %}
                        <div>
                            <a href="{% url 'dashboard:post-vacancy' %}"><label class="btn btn-info" type="button"><i class="mdi mdi-plus"></i>Add Vacancy</label></a>
                            <label class="btn btn-success" for='save' type="submit"><i class="mdi mdi-content-save"></i> Save</label>
                        </div>
                    {% else %}
                        <h4 class="mb-0">Post Vacancy</h4>
                    {% endif %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Post Vacancy</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <form method="post" id="post-vacancy">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-pills-wizard" class="twitter-bs-wizard">
                                <ul class="twitter-bs-wizard-nav">
                                    <li class="nav-item">
                                        <a href="#titles-and-career" class="nav-link" data-toggle="tab">
                                            <span class="step-number">01</span>
                                            <span class="step-title">Titles and Career</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#location-and-salary" class="nav-link" data-toggle="tab">
                                            <span class="step-number">02</span>
                                            <span class="step-title">Location and Salary</span>
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a href="#definition" class="nav-link" data-toggle="tab">
                                            <span class="step-number">03</span>
                                            <span class="step-title">Definition</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#confirm-detail" class="nav-link" data-toggle="tab">
                                            <span class="step-number">04</span>
                                            <span class="step-title">Confirm Detail</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane" id="titles-and-career">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="basicpill-firstname-input">Position Title</label>
                                                    <input type="text" class="form-control" name="position_title" id="basicpill-firstname-input" value="{{ vacancy.position_title }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Job Title</label>
                                                    <select class="custom-select select2" name="job_title">
                                                        {% for catalogue in job_catalogues %}
                                                            {% if catalogue.id == vacancy.job_title.id %}
                                                                <option value="{{ catalogue.id }}" selected>{{ catalogue.name }}</option>
                                                            {% else %}
                                                                <option value="{{ catalogue.id }}">{{ catalogue.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="input-currency">Salary</label>
                                                    <input id="input-currency" name="salary" class="form-control input-mask text-left" value="{{ vacancy.salary }}" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Language</label>
                                                    <select class="custom-select select2" name="language">
                                                        {% for language in languages %}
                                                            {% if language.code == vacancy.language %}
                                                                <option value="{{ language.code }}" selected>{{ language.name }}</option>
                                                            {% else %}
                                                                <option value="{{ language.code }}">{{ language.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Career Type</label>
                                                    <select class="custom-select select2" name="career_type">
                                                        {% for type in career_types %}
                                                            {% if type.id == vacancy.career_type.id %}
                                                                <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                                            {% else %}
                                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Career Level</label>
                                                    <select class="custom-select select2" name="career_level">
                                                        {% for level in career_levels %}
                                                            {% if level.id == vacancy.career_level.id %}
                                                                <option value="{{ level.id }}" selected>{{ level.name }}</option>
                                                            {% else %}
                                                                <option value="{{ level.id }}">{{ level.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Work Preference</label>
                                                    <select class="custom-select select2" name="work_preference">
                                                        {% for preference in work_preferences %}
                                                            {% if preference.id == vacancy.work_preference.id %}
                                                                <option value="{{ preference.id }}" selected>{{ preference.name }}</option>
                                                            {% else %}
                                                                <option value="{{ preference.id }}">{{ preference.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Department</label>
                                                    <select class="custom-select select2" name="department">
                                                        {% for department in departments %}
                                                            {% if department.id == vacancy.department.id %}
                                                                <option value="{{ department.id }}" selected>{{ department.name }}</option>
                                                            {% else %}
                                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group mb-0">
                                                    <label class="control-label">Keywords</label>
                                                    <input type="hidden" name="keywords" id="keywordsInput" value="{% if vacancy.keywords %}{{ vacancy.keywords }}{% endif %}">
                                                    <select id="keywordsSelect" class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="Choose ...">
                                                        {% for key in keywords %}
                                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="custom-select select2" name="status">
                                                        {% if vacancy %}
                                                            <option value="1" {% if vacancy.status %}selected{% endif %}>Active</option>
                                                            <option value="" {% if not vacancy.status %}selected{% endif %}>Deactivate</option>
                                                        {% else %}
                                                            <option value="1">Active</option>
                                                            <option value="">Deactivate</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="location-and-salary">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <select class="custom-select select2" name="location">
                                                            {% for location in locations %}
                                                                {% if location.id == vacancy.location.id %}
                                                                    <option value="{{ location.id }}" selected>{{ location.name }}</option>
                                                                {% else %}
                                                                    <option value="{{ location.id }}">{{ location.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="input-currency">Salary Minimum</label>
                                                        <input id="input-currency" name="salary_minimum" class="form-control input-mask text-left" value="{{ vacancy.salary_minimum }}" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Employment Type</label>
                                                        <select class="custom-select select2" name="employment_type">
                                                            {% for type in employment_types %}
                                                                {% if type.id == vacancy.employment_type.id %}
                                                                    <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                                                {% else %}
                                                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="input-currency">Salary Midpoint</label>
                                                        <input id="input-currency" name="salary_midpoint" class="form-control input-mask text-left" value="{{ vacancy.salary_midpoint }}" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>FTE</label>
                                                        <select class="custom-select select2" name="fte">
                                                            {% for fte in ftes %}
                                                                {% if fte.id == vacancy.fte.id %}
                                                                    <option value="{{ fte.id }}" selected>{{ fte.name }}</option>
                                                                {% else %}
                                                                    <option value="{{ fte.id }}" selected>{{ fte.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="input-currency">Salary Maximum</label>
                                                        <input id="input-currency" name="salary_maximum" class="form-control input-mask text-left" value="{{ vacancy.salary_maximum }}" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="definition">
                                        <div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <textarea id="editor" name="definition">{{ vacancy.definition }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="confirm-detail">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6">
                                                <div class="text-center">
                                                    <div class="mb-4">
                                                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                                    </div>
                                                    <div>
                                                        <h5>Confirm Detail</h5>
                                                        <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="previous"><a href="#">Previous</a></li>
                                    <li class="next"><a href="#">Next</a></li>
                                </ul>
                                <button id="save" type="submit" style="display: none;"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block script %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'dashboard/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

    <!-- form mask -->
    <script src="{% static 'dashboard/libs/inputmask/jquery.inputmask.min.js' %}"></script>

    <!-- form mask init -->
    <script src="{% static 'dashboard/js/pages/form-mask.init.js' %}"></script>

    <!-- twitter-bootstrap-wizard js -->
    <script src="{% static 'dashboard/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>

    <!-- form wizard init -->
    <script src="{% static 'dashboard/js/pages/form-wizard.init.js' %}"></script>
    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <script src="{% static 'dashboard/libs/select2/js/select2.min.js' %}"></script>

    <!-- custom javascript -->
    <script src="{% static 'dashboard/js/pages/post-vacancy.js' %}"></script>

    <!-- Ckeditor js -->
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';

        ClassicEditor
            .create( document.querySelector( '#editor' ), {
                plugins: [ Essentials, Paragraph, Bold, Italic, Font ],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            } )
            .then( editor => {
                window.editor = editor;
                editor.editing.view.change(writer => {
                    writer.setStyle('height', '400px', editor.editing.view.document.getRoot());
                });
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>


{% endblock script %}